{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
<link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
<!-- CSS PARA LA LIBRERIA DEL MODAL DE BIOMETRICOS -->
<link rel="stylesheet" href=" {% static 'css/biometricos/style.css' %}?v1.223SDDDdssdss22D ">
<link rel="stylesheet" href="https://mozilla.github.io/pdf.js/web/viewer.css" />
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

{% endblock link %}

{% block titulo %}PAME | Documentos Alegatos y Pruebas{% endblock titulo %}
{% block dashboard %}
<!-- FLECHA DE BACK  -->
<a class="btn btn-sm btn-icon1 " href="{% url 'listaExtranjerosAlegatos' %}">
    <i class="fas fa-arrow-left"></i>
</a>

{% endblock dashboard %}
{% block contenido %}
<style>
    #myTab .nav-link {
        pointer-events: none;
        /* Desactiva los eventos del ratón como el clic */
        color: #9E8364;
        /* Color antes de ser seleccionado */
        font-weight: normal;
    }

    #myTab .nav-link.active {
        pointer-events: auto;
        /* Activa los eventos del ratón para la pestaña activa */
        color: #000;
        /* Un color más fuerte cuando esté activo */
        font-weight: bold;
    }

    input[readonly] {
        background-color: #e9ecef;
        color: #495057;
        cursor: not-allowed;
    }


    .input-required {
        border: 2px solid #d9534f;
        /* Rojo con un borde más grueso para mayor visibilidad */
        border-radius: 4px;
        /* Opcional, para bordes redondeados */
    }

    /* Opcional: Agrega un asterisco rojo a las etiquetas de los campos requeridos */
    label.required::after {
        content: " *";
        color: red;
    }

    .input-required {
        border: 2px solid #d9534f;
        /* Ajusta el color y el grosor del borde según necesites */
    }

    .input-required+label::after {
        content: " *";
        color: red;
    }



    .center-content {
        text-align: center;
        /* Centra el texto y los elementos en línea */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra los elementos flexibles horizontalmente */
        justify-content: center;
        /* Centra los elementos flexibles verticalmente */
    }


    #nextToRepresentanteLegal,
    #nextToExtranjero,
    #nextToTraductor,
    #nextToTestigo1,
    #nextToTestigo2,
    #finalizarFirmas {
        background-color: #902F4A;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    /* Estilos al pasar el mouse por encima de los botones */
    #nextToRepresentanteLegal:hover,
    #nextToExtranjero:hover,
    #nextToTraductor:hover,
    #nextToTestigo1:hover,
    #nextToTestigo2:hover,
    #finalizarFirmas:hover {
        background-color: #902F4A;
        /* Mantiene el mismo color de fondo */
        box-shadow: none;
        /* Elimina la sombra para un aspecto más plano */
        cursor: default;
        /* Cambia el cursor al estilo predeterminado */

    }

    .titulo-compare {
        background-color: #777777;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: default;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;


    }
</style>
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">Extranjero: <span class="puesta-color">{{extranjero.nombreExtranjero}}
            {{extranjero.apellidoPaternoExtranjero}} {% if extranjero.apellidoMaternoExtranjero %}
            {{extranjero.apellidoMaternoExtranjero}} {% endif %} </span>
    </h1>
</div>
<div class="row" id='datosDefensoria'>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <!-- Card con datos del extranjero -->
                    <div class="col-md-12">

                        <div class="card">
                            <div class="header">
                                <h2>Datos de la defensoria </h2>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="etiqueta">Titular:</span>
                                        <span class="valor">{{ defensorias.nombreTitular }}</span>
                                        <br>
                                        <span class="etiqueta">Estado:</span>
                                        <span class="valor">{{ defensorias.estado }}</span>
                                        <br>
                                        <span class="etiqueta">Calle:</span>
                                        <span class="valor">{{ defensorias.calle }}</span>
                                        <br>
                                        <span class="etiqueta">Correo(s) Electrónico(s):</span>
                                        <span class="valor">{% if defensorias.email1 %}
                                            {{ defensorias.email1 }}
                                            {% endif %}
                                            {% if defensorias.email2 %}
                                            {{ defensorias.email2 }}
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="etiqueta">Apellido(s):</span>
                                        <span class="valor">
                                            {% if defensorias.apellidoPaternoTitular %}
                                            {{ defensorias.apellidoPaternoTitular }}
                                            {% endif %}
                                            {% if defensorias.apellidoMaternoTitular %}
                                            {{ defensorias.apellidoMaternoTitular }}
                                            {% endif %}
                                        </span>
                                        <br>
                                        <span class="etiqueta">Municipio:</span>
                                        <span class="valor">{{ defensorias.municipio}}</span>
                                        <br>
                                        <span class="etiqueta">Codigo Postal:</span>
                                        <span class="valor">{{ defensorias.cp }}</span>
                                        <br>
                                        <span class="etiqueta">Número(s) Telefónico(s):</span>
                                        <span class="valor">{% if defensorias.telefono %}
                                            {{ defensorias.telefono }}
                                            {% endif %}
                                            {% if defensorias.telefono2 %}
                                            {{ defensorias.telefono2 }}
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="col">
                                        <span class="etiqueta">Cargo:</span>
                                        <span class="valor">{{ defensorias.cargoTitular }}</span>
                                        <br>
                                        <span class="etiqueta">Colonia:</span>
                                        <span class="valor">{{ defensorias.colonia}}</span>
                                        <br>
                                        <span class="etiqueta">Estatus:</span>
                                        <span class="valor">{{ defensorias.estatus }}</span>
                                    </div>
                                    <!-- Otros campos de datos -->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    <br>

    <form method="post" enctype="multipart/form-data" id="formulario1">
        {% csrf_token %}
        {{ form.puesta.as_hidden }}
        <div class="card p-3 exploracion-fisica" enctype="multipart/form-data">
            <div class="d-flex align-items-center justify-content-between">
                <h3>Seleccione una autoridad actuante</h3>
            </div>
            <div class="row">
                <div class="col-md-4" style='display:none;'>
                    {{ form.nup|as_crispy_field }}
                </div>
                <div class="col-md-6" >
                    {{ form.numeroExpediente|as_crispy_field }}
                </div>
                <div class="col-md-6" >
                    {{ form.oficio|as_crispy_field }}
                </div>
                <div class="col-md-12">
                    {{ form.autoridadActuante|as_crispy_field }}
                </div>
                <div class="col-md-4" style='display:none;'>
                    {{ form.defensoria|as_crispy_field }}
                </div>
            </div>
            <button class="btn btn-custom float-end btn-primary" type="submit">Guardar</button>
            <br>
            <a href="#" class="btn btn-custom1">Cancelar</a>
        </div>
    </form>

    <div id="qrCode" style="display:none;" class="card p-3 ">
        <!-- Firma de la Autoridad Actuante -->


        <div class="firma-section center-content" id="autoridadActuanteSection"
            style='display:none; margin-left: auto;margin-right: auto;width: 50%;text-align: center;'>
            <h4 class="titulo-compare">Firma de la Autoridad Actuante</h4>
            <div>Nombre: <span id="nombreAutoridadActuante"></span></div>

            <img id="qrImageAutoridadActuante" src="" alt="Código QR Autoridad Actuante"
                style="height: 25%; width: 25%;">
            <div id="mensajeFirmaAutoridadActuante"></div>
            <button id="nextToRepresentanteLegal">Siguiente: Representante Legal</button>
        </div>
        <div id="generatePDFSection" style="display:none;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Ícono de FontAwesome para representar un PDF -->
                    <i class="fas fa-file-pdf fa-7x" style="color: #1D1D1D;"></i>
                    <br>
                    <br>
                    <br>

                    <a href="{% url "representacionPDF" nup_id %}" target="_blank" id="generatePDFBtn"
                        class="btn btn-primary">Generar oficio</a>
                    
                        <a href="{% url 'defensoria' %}?estado_defensoria=ya_notificado" class="btn {% if request.GET.estado_defensoria == 'ya_notificado' %}btn-custom6{% else %}btn-outline-secondary{% endif %}"
                        class="btn btn-primary" style='display:none;' id='regresar' hidden>Regresar a lista de extranjeros</a>
                </div>
            </div>
        </div>
        <div id="BTNregresar" style="display:none;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Ícono de FontAwesome para representar un PDF -->
                    <h1>Documento generado exitosamente</h1>
                    <i class="fa-solid fa-circle-check fa-7x" style="color: #1D1D1D;"></i>
                    <br>
                    <br>
                    <br>
                        <a href="{% url 'defensoria' %}?estado_defensoria=ya_notificado" class="btn {% if request.GET.estado_defensoria == 'ya_notificado' %}btn-custom6{% else %}btn-outline-secondary{% endif %}"
                        class="btn btn-primary" >Regresar a lista de extranjeros</a>
                </div>
            </div>
        </div>
    </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function verificarEstadoFirmas(defensoriaId) {
                fetch('/notificaciones/estado_firmas_defensoria/' + defensoriaId)
                    .then(response => response.json())
                    .then(data => {
                        actualizarInterfazFirmas(data);
                    })
                    .catch(error => {
                        console.error('Error al verificar el estado de las firmas:', error);
                    });
            }
            function actualizarInterfazFirmas(estadoFirmas) {
                // Ocultar todas las secciones de firma al inicio
                document.getElementById('autoridadActuanteSection').style.display = 'none';

                // Comprobar el estado de cada firma y mostrar la sección correspondiente a la primera firma incompleta
                if (!estadoFirmas.firmaAutoridadActuante) {
                    document.getElementById('autoridadActuanteSection').style.display = 'block';
                } else {
                    // Si todas las firmas están completas, puedes mostrar la sección final o realizar alguna otra acción
                    console.log('Todas las firmas han sido completadas');
                    // Aquí puedes colocar alguna lógica adicional para cuando todas las firmas estén completas
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
                var defensoriaId = sessionStorage.getItem('defensoriaId'); // O localStorage.getItem('comparecenciaId');
                if (defensoriaId) {
                    verificarEstadoFirmas(defensoriaId);
                }
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('formulario1').addEventListener('submit', function (e) {

                    e.preventDefault(); // Previene el envío normal del formulario
                    var formData = new FormData(this); // Recoge los datos del formulario


                    fetch('', { // Enviar a la misma URL que maneja el GET y POST
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}', // Necesario para la protección contra CSRF
                        },
                        credentials: 'same-origin' // Necesario para incluir las cookies de CSRF
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                obtenerDatosDeComparecencia(defensoriaId)
                                document.getElementById('formulario1').style.display = 'none';
                                document.getElementById('datosDefensoria').style.display = 'none';

                                document.getElementById('qrCode').style.display = 'block';
                                document.getElementById('autoridadActuanteSection').style.display = 'block';
                                var defensoriaId = data.defensoria_id; // Asegúrate de que esta línea coincida con la clave enviada por el backend
                                document.getElementById('qrImageAutoridadActuante').src = '/notificaciones/generar_qr_defensoria/autoridadActuante/' + defensoriaId;
                                intervaloAutoridadActuante = setInterval(function () { verificarFirmaAutoridadActuante(defensoriaId); }, 1000);

                            }
                        }).catch(error => {
                            // Aquí manejas cualquier error en la solicitud de red
                            Swal.fire({
                                title: 'Error',
                                text: 'Ha ocurrido un error al enviar el formulario.',
                                icon: 'error',
                                confirmButtonText: 'Aceptar'
                            });
                        });
                });
            });
            function verificarFirmaAutoridadActuante(defensoriaId) {
                obtenerDatosDeComparecencia(defensoriaId)

                fetch('/notificaciones/verificar_firma/autoridadActuante_defensoria/' + defensoriaId)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            clearInterval(intervaloAutoridadActuante); // Detener el intervalo

                            document.getElementById('autoridadActuanteSection').style.display = 'none';
                            document.getElementById('generatePDFSection').style.display = 'block';

                        }
                    });
            }
            function obtenerDatosDeComparecencia(defensoriaId) {
                fetch('/notificaciones/datos_defensoria/' + defensoriaId)
                    .then(response => response.json())
                    .then(data => {
                        // Actualizar elementos HTML con los datos recibidos
                        document.getElementById('nombreAutoridadActuante').textContent = data.nombreAutoridadActuante || 'No disponible';
                    })
                    .catch(error => {
                        console.error('Error al obtener datos:', error);
                    });
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Obtener referencias a los botones
                const generarPDFBtn = document.getElementById('generatePDFBtn');
        
                // Agregar un event listener al botón "generarPDFBtn"
                generarPDFBtn.addEventListener('click', function () {
                    // Ocultar el botón generarPDFBtn
                    document.getElementById('generatePDFSection').style.display = 'none';
        
                    // Quitar el atributo "hidden" del botón regresar
                    document.getElementById('BTNregresar').style.display = 'block';
                });
            });
        </script>
    </div>
</div>
{% endblock contenido %}