{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% block titulo %}PAME | Acción Migratoria {% endblock titulo %}
{% block dashboard %}Acción Migratoria{% endblock dashboard %}
{% block seccion  %}Acción Migratoria {% endblock seccion  %}


{% block contenido %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
  <form method="POST" class="card p-3 mt-5" autocomplete="off" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        {{form1.numeroOficio|as_crispy_field}}
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        {{form1.fechaOficio|as_crispy_field}}
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        {{form1.puntoRevision|as_crispy_field}}
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        {{form1.estacion|as_crispy_field}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        {{form1.nombreAutoridadSigna|as_crispy_field}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        {{form1.cargoAutoridadSigna|as_crispy_field}}
      </div>

    
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        {{form1.oficioPuesta|as_crispy_field}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        {{form1.oficioComision|as_crispy_field}}
      </div>
      
   
    </div>
      <button type="submit" class="btn btn-primary mt-5">Guardar</button>
  </form>

  
</div>



<div class="container">
  <div class="row">
      {% comment %} <div class="col-lg-12">            
      <button id="btnNuevo" type="button" class="btn btn-info" data-toggle="modal"><i class="material-icons">Agregar Extranjero</i></button>    
      </div>    {% endcomment %}
      
 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#miModal">
           Añadir Extrangero
        </button> 
  </div>    
</div>    
<br>  





      <div class="modal fade" id="miModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Añadir Extrangero</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                              <div class="row">
                                  <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                      {{form2.fechaRegistro|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                      {{form2.horaRegistro|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                      {{form2.numeroE|as_crispy_field}}
                                    </div>
                                  </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                      {{form2.nombreE|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                      {{form2.apellidoPaternoE|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                      {{form2.apellidoMaternoE|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-lg-3">
                                    <div class="form-group">
                                      {{form2.nacionalidad|as_crispy_field}}
                                    </div>
                              </div>   

                              <div class="row">
                                 
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                      {{form2.genero|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                      {{form2.documentoIdentidad|as_crispy_field}}
                                    </div>
                                  </div>
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                      {{form2.fechaNacimiento|as_crispy_field}}
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-4">
                                    <div class="form-group">
                                      {{form2.viajaSolo|as_crispy_field}}
                                    </div>
                                  </div>
                              </div>                       
                    </div>
                    
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal">
            Guardar
        </button>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#miModalDatosBio">Añadir Datos Biometricos</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


<div class="modal fade" id="miModalDatosBio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Captura de Datos Biométricos</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="huellaDigital"><i class="fas fa-fingerprint"></i> Huella Digital</label>
                        <input type="file" class="form-control" id="huellaDigital">
                    </div>
                    <div class="form-group">
                        <label for="rostro"><i class="fas fa-user"></i> Rostro</label>
                        <input type="file" class="form-control" id="rostro">
                    </div>
                    <div class="form-group">
                        <label for="firma"><i class="fas fa-pencil-alt"></i> Firma</label>
                        <input type="file" class="form-control" id="firma">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- On rows -->
<div class="container mt-5">
        <h1>Tabla de Ejemplo</h1>
        <table id="miTabla" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>30</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>25</td>
                    <td>jane@example.com</td>
                </tr>
                <!-- Agregar más filas según sea necesario -->
            </tbody>
        </table>
    </div>

<!--Modal para CRUD-->
<div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
      </div>
  <form id="formUsuarios">    
    {% csrf_token %}
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-6">
              <div class="form-group">
              {{form2.fechaRegistro|as_crispy_field}}
              </div>
              </div>
              <div class="col-lg-6">
              <div class="form-group">
              <label for="" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="first_name">
              </div> 
              </div>    
          </div>
          <div class="row"> 
              <div class="col-lg-6">
              <div class="form-group">
               {{form2.fechaRegistro|as_crispy_field}}
             
              <label for="" class="col-form-label">Last Name</label>
              <input type="text" class="form-control" id="last_name">
              </div>               
              </div>
              <div class="col-lg-6">
              <div class="form-group">
              <label for="" class="col-form-label">Gender</label>
              <input type="text" class="form-control" id="gender">
              </div>
              </div>  
          </div>
          <div class="row">
              <div class="col-lg-9">
                  <div class="form-group">
                  <label for="" class="col-form-label">Password</label>
                  <input type="text" class="form-control" id="password">
                  </div>
              </div>    
              <div class="col-lg-3">    
                  <div class="form-group">
                  <label for="" class="col-form-label">Status</label>
                  <input type="number" class="form-control" id="status">
                  </div>            
              </div>    
          </div>                
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
          <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
      </div>
  </form>    
  </div>
</div>
</div>  


 
  

{% endblock contenido %}


