{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.2 ">
{% endblock link %}

{% block contenido %}


<div class="titulo-general-container">
    <h1 class="titulo-general">Puesta por Autoridad Competente</h1>
</div>
    <form id="Puesta" method="post" class="card p-3 mt-5" enctype="multipart/form-data" >
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-6">
                {{form.numeroOficio|as_crispy_field}}
                <script>
                    document.getElementById('id_numeroOficio').readOnly = true;
                </script>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6">
                {{form.fechaOficio|as_crispy_field}}
                <script>
                    var fechaOficioField = document.getElementById("id_fechaOficio");
                    var fechaActual = new Date().toISOString().split('T')[0];
                    fechaOficioField.value = fechaActual;
                    document.getElementById('id_fechaOficio').readOnly = true;
                </script>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.nombreAutoridadSignaUno|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.cargoAutoridadSignaUno|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.nombreAutoridadSignaDos|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.cargoAutoridadSignaDos|as_crispy_field}}
            </div>
        
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.oficioPuesta|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.oficioComision|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.certificadoMedico|as_crispy_field}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.puntoRevision|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.dependencia|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.numeroCarpeta|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{form.entidadFederativa|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4" style="display: none;">
                {{form.deLaEstacion|as_crispy_field}}
            </div>
        </div>
        <button id="botonGuardar" class="btn btn-custom float-end btn-primary" type="submit">Guardar</button>
        <hr>
        <a href="{% url 'homePuestaAC' %}" class="btn btn-custom1">Cancelar</a>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
{% endblock %}