{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.23347479##22">
{% endblock link %}

{% block contenido %}
<style>
  /* Personaliza el tamaño de la barra de búsqueda */
  div.dataTables_wrapper div.dataTables_filter input {
    width: 300px; /* Cambia el tamaño según tus necesidades */
  }
</style>

<div class="titulo-general-container">
    <h1 class="titulo-general">Puestas por Autoridad Competente</h1>
</div>

<br>

<!-- Small Box (Stat card) -->
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{ puestas_count }}</h3>

        <p>Puestas</p>
      </div>
      <div class="icon">
        <i class="fas fa-file-alt"></i>
    </div>
    <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
      </a>
     
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{ extranjeros_total }}</h3>

        <p>Extranjeros</p>
      </div>
      <div class="icon">
        <i class="fas fa-users"></i>
    </div>
      <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{mujeres_count}}</h3>

        <p>Mujeres</p>
      </div>
      <div class="icon">
        <i class="fas fa-female"></i>
    </div>
      <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{hombres_count}}</h3>

        <p>Hombres</p>
      </div>
      <div class="icon">
        <i class="fas fa-male"></i>
    </div>
      <a href="#" class="small-box-footer">
        More info <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
</div>
<a class="btn btn-custom mb-3" href="{% url 'crearPuestaAC' %}">Crear Puesta</a>
<a class="btn btn-custom1 mb-3" href=" {% url 'homeSeguridadGeneral' %}">Regresar al menu</a>

<div class="table-responsive">
    <table id="puestaAC-table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Numero Oficio</th>
                <th>Fecha de Oficio</th>
                <th>Autoridades</th>
                <th>Punto Revisión</th>
                <th>Estación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for puesta in puestaAC %}
                <tr>
                    <td>{{ puesta.numeroOficio }}</td>
                    <td>{{ puesta.fechaOficio }}</td>
                    <td>{{ puesta.nombreAutoridadSignaUno}} | {{ puesta.nombreAutoridadSignaDos}}</td>
                    <td>{{ puesta.puntoRevision }}</td>
                    <td>{{ puesta.deLaEstacion }}</td>
                    <td>
                        <a class="btn btn-sm btn-icon3 tooltip-link" href=" {% url 'crearExtranjeroAC' puesta.id%}" data-title="Agregar Extranjeros">
                            <i class="fas fa-user-plus"></i> <!-- Icono Añadir Personas -->
                        </a>
                        <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url 'listarExtranjeroAC' puesta.id %}" data-title="Ver Extranjeros">
                            <i class="fas fa-users"></i>     <!-- Icono Ver Personas -->
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock contenido %}

{% block script %}

    <script>
        $(document).ready(function() {
            $('#puestaAC-table').DataTable({
            responsive: true,

            "columnDefs": [
                { "orderable": false, "targets": -1 } // Desactivar ordenación para la última columna
            ],
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ Registros)",
                "sSearch": "Buscar:",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            },
        });
    });
      </script>
{% endblock script %}