{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.23347479##22">
{% endblock link %}

{% block contenido %}

<div class="titulo-general-container">
    <h1 class="titulo-general">Listado de Puestas por Acción Migratoria</h1>
</div>

<br>
<a class="btn btn-custom mb-3" href="{% url 'crearPuestaAC' %}">Crear Puesta</a>
<a class="btn btn-custom1 mb-3" href=" {% url 'homeSeguridadGeneral' %}">Regresar al menu</a>

<div class="table-responsive">
    <table id="puestaAC-table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Numero Oficio</th>
                <th>Fecha de Oficio</th>
                <th>Autoridades</th>
                <th>Punto Revisión</th>
                <th>Estación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for puesta in puestaAC %}
                <tr>
                    <td>{{ puesta.numeroOficio }}</td>
                    <td>{{ puesta.fechaOficio }}</td>
                    <td>{{ puesta.nombreAutoridadSignaUno}} | {{ puesta.nombreAutoridadSignaDos}}</td>
                    <td>{{ puesta.puntoRevision }}</td>
                    <td>{{ puesta.deLaEstacion }}</td>
                    <td>
                        <a class="btn btn-sm btn-icon3 tooltip-link" href=" {% url 'crearExtranjeroAC' puesta.id%}" data-title="Agregar Extranjeros">
                            <i class="fas fa-user-plus"></i> <!-- Icono Añadir Personas -->
                        </a>
                        <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url 'listarExtranjeroAC' puesta.id %}" data-title="Ver Extranjeros">
                            <i class="fas fa-users"></i>     <!-- Icono Ver Personas -->
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock contenido %}

{% block script %}

    <script>
        $(document).ready(function() {
            $('#puestaAC-table').DataTable({
            responsive: true,

            "columnDefs": [
                { "orderable": false, "targets": -1 } // Desactivar ordenación para la última columna
            ]
        });
    });
      </script>
{% endblock script %}

