{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}

{% block titulo %}Acuerdos Inicio {% endblock titulo %}

{% block contenido  %}
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
        Lista de Extranjeros para Acuerdo de Inicio
    </h1>
</div>

<div class="table-responsive">
    <table id="tabla" class="table table-striped table-bordered display responsive nowrap" style="width: 100%;">
        <thead>
            <tr>
                <th>No. Único de Proceso</th>
                <th>Nombre(s)</th>
                <th>Apellido(s)</th>
                <th>Nacionalidad</th>
                <th style="width: 5%;">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for extranjero in extranjeros %}
            <tr>
                <td>{{extranjero.nup}}</td>
                <td>{{ extranjero.extranjero.nombreExtranjero }}</td>
                <td>
                    {% if extranjero.extranjero.apellidoPaternoExtranjero %}
                        {{ extranjero.extranjero.apellidoPaternoExtranjero }}
                    {% endif %}
                    {% if extranjero.extranjero.apellidoPaternoExtranjero and extranjero.extranjero.apellidoMaternoExtranjero %}
                        {{ extranjero.extranjero.apellidoMaternoExtranjero }}
                    {% endif %}
                </td>          
                <td>{{ extranjero.extranjero.nacionalidad }}</td>

                <td align="center">
                
                    {% if extranjero.nup in acuerdos_inicio %}
                    <a href="{% url 'inicioPDF' extranjero_id=extranjero.extranjero.id %}" target="_blank" class="btn btn-sm btn-icon3 tooltip-link btn-generado" data-title="Ver Oficio">
                        <i class="fas fa-eye"></i>
                    </a>
                {% else %}
                
                    <a class="btn btn-sm btn-icon3 tooltip-link"
                    href="{% url "registro_acuerdo_inicio" proceso_id=extranjero.nup%}"
                    data-title="generar" onclick="abrir_modal(this.href); return false;">
                    <i class="fas fa-plus"></i>
                    </a>

           
                {% endif %}
                </td>                         
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Codigo para abrir el modal   -->
<div class="modal fade" id="abrirmodalAcuerdoInicio" role="dialog">
</div>




{% endblock contenido  %}



{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    var $ = jQuery.noConflict();


    function abrir_modal(url){
        $('#abrirmodalAcuerdoInicio').load(url, function(){
            var myModal = new bootstrap.Modal(this, {
                keyboard: false,
                backdrop: 'static'
            });
            myModal.show();
        });
    }
    
    function showBioAlert() {
        Swal.fire({
            icon: 'warning',
            title: '¡Falta Fotografía!',
            text: 'Necesitas capturar datos biométricos del extranjero antes de asignar enseres.',
            confirmButtonColor: '#2A4B41'
        });
    }
</script>

{% endblock script %}

