<!DOCTYPE html>
<html>
<head>
    <title>Tamaño en Disco</title>
</head>
<body>

    <h1>Tamaño en Disco del Producto</h1>
    <p>El tamaño en disco del extranjero es: {{ size_on_disk }} bytes</p>

    <p>El tamaño en disco del extarnjero con puesta es: {{ size_on_disk_puesta_imn2 }} bytes</p>
    <p>El tamaño en disco de la relación Biometrico es: {{ size_on_disk_biometrico_relation }} bytes</p>




    <p>El tamaño en disco del extarnjero con ampanañante es: {{     size_on_disk_acompanantes   }} bytes</p>



</body>
</html>