{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
{% endblock link %}



{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjeroAC' puesta.id %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
{% include "includes/tituloInventario.html" %}
  <form method="post" class="card p-3" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{form.foloInventario|as_crispy_field}}
                    <script>
                      document.getElementById('id_foloInventario').readOnly = true;
                  </script>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                  <div class="file-input-container">
                      <a class="btn btn-sm btn-icon1 btn-primary btnTomarFoto mt-3"
                       class="button-link"
                      onclick="abrir_modal_eliminar(this.href); return false;"
                       data-input-id="id_validacion">
                      <i class="fas fa-camera"></i> 
                      </a>
                      {{form.validacion|as_crispy_field}}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" style='display:none'>
                      {{form.nup|as_crispy_field}}
                    </div>
              </div>
                
               
        </div>
        
        <button class="btn btn-custom1 float-end btn-primary" type="submit">Guardar</button>
        <hr>
        <a href="{% url 'listarExtranjeroAC' puesta.id %}" class="btn btn-custom">Cancelar</a>
    </form>

    {% include "includes/camera/modalCamera.html" %}

{% endblock %}


{% block script %}
{% include "includes/js/cam/camera.html" %}

{% endblock script %}

