{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
{% endblock link %}



{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjeroAC' puesta.id %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}



{% block contenido %}


<div class="titulo-general-container">
  <h1 class="titulo-general">Asignar Número de Inventario a : 
    
    <span class="puesta-color" >{{extranjero.nombreExtranjero}}
      {% if extranjero.apellidoPaternoExtranjero %}
       {{ extranjero.apellidoPaternoExtranjero }}
      {% endif %}
      {% if extranjero.apellidoMaternoExtranjero %}
        {{ extranjero.apellidoMaternoExtranjero }}
      {% endif %}
    </span>
  </h1>
</div>
<br>


<h1></h1>
  <form method="post" class="card p-3 mt-5" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-6">
                {{form.foloInventario|as_crispy_field}}
                <script>
                  document.getElementById('id_foloInventario').readOnly = true;
              </script>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                {{form.unidadMigratoria|as_crispy_field}}
                <script>
                  document.getElementById('id_unidadMigratoria').readOnly = true;
              </script>
            </div>
          </div>
         <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-6">
            {{form.noExtranjero|as_crispy_field}}
            <script>
              document.getElementById('id_noExtranjero').readOnly = true;
            </script>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.validacion|as_crispy_field}}
            
          </div>
        </div>
        <button class="btn btn-custom2 float-end btn-primary" type="submit">Guardar</button>
        <hr>
        <a href="{% url 'listarExtranjeroAC' puesta.id %}" class="btn btn-custom">Cancelar</a>
    </form>


{% endblock %}