{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{ form.Extranjero|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{ form.fotografiaExtranjero|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{ form.huellaExtranjero|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        {{ form.firmaExtranjero|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-custom btn-primary btn-block" type="submit">Guardar</button>
      </div>
    </div>
  </form>