
{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
    <link rel="stylesheet" href=" {% static 'css/biometricos/style.css' %}?v1.223SDDDdssdss22D ">

{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjeros' puesta.id %}">
  <i class="fas fa-arrow-left"></i>
</a>

{% endblock dashboard %}

{% block contenido %}

{% include "includes/tituloBiometricos.html" %}


<!-- BIOMETRICOS -->

{% include "includes/formBiometricos.html" %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'listarExtranjeros' puesta.id %}" class="btn btn-custom1 btn-block">Guardar después</a>
            </div>
        </div>
    </div>
</div>
<!-- FIN BIOMETRICOS -->
<div class="modal fade" id="webcamModal" tabindex="-1" aria-labelledby="webcamModalLabel">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header custom-header-color">
              <h2 class="modal-title">Capturar Foto</h2>
              <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <span id="timerSpan" style="margin-left: 10px; display: none;">5</span>
          </div>
          <div class="modal-body d-flex justify-content-center align-items-center">
              <div class="capture-container">
                  <!-- Vídeo de la webcam -->
                  <video id="webcam" width="640" height="480" autoplay></video>
                  <canvas id="capturedImage" width="640" height="480" style="display:none;"></canvas>
                  <div id="countdown" style="display: none;">5</div>
                  <!-- Cuadro para el rostro -->
                  <div id="rostroCuadro" style="position: absolute; border: 2px solid red; pointer-events: none;">
                      <p class='leyenda' style="text-align: center; color: red; font-weight: bold;">
                          Posiciona el rostro al centro del recuadro para capturar la foto</p>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="capturarFoto" class="btn btn-custom1">Capturar foto</button>
              <button id="confirmarFoto" class="btn btn-custom2">Confirmar foto</button>
              <button id="nuevaFoto" class="btn btn-custom1">Tomar nueva foto</button>
          </div>
      </div>
  </div>
</div>

{% endblock %}



{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
{% include "includes/js/cam/createBiometricos.html" %}

{% endblock script %}
