{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">

{% endblock link %}
{% block dashboard %}
    <a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjeros' puesta.id %}">
    <i class="fas fa-arrow-left"></i>
    </a>
{% endblock dashboard %}
{% block contenido %}

<!-- TITULO DE LA PLANTILLA -->
<div class="titulo-general-container mt-5">
    <h1 class="titulo-general">
        Editar datos del extranjero:        
        <span class="puesta-color" ><strong>{{ extranjero.nombreExtranjero }} {{ extranjero.apellidoPaternoExtranjero }}{% if extranjero.apellidoMaternoExtranjero %} {{ extranjero.apellidoMaternoExtranjero }}{% endif %}</strong></span>
    </h1>
  </div>
<br>

<!-- FORMULARIO DE EDICION DEL EXTRANJERO  -->

<form method="post" enctype="multipart/form-data" >
    <div class="card p-3" enctype="multipart/form-data" >

    <h1>Datos del extranjero</h1>
        {% csrf_token %}
        <div class="row">
    
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.nombreExtranjero|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.apellidoPaternoExtranjero|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.apellidoMaternoExtranjero|as_crispy_field}}
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.domicilio|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{form.fechaNacimiento|as_crispy_field}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.edad|as_crispy_field }}
                <script>
                    document.getElementById('id_edad').readOnly = true;
                </script>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.genero|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.nacionalidad|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.origen|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.estado_Civil|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.grado_academico|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.ocupacion|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="file-input-container">
                    <a class="btn btn-sm btn-icon1 btn-primary btnTomarFoto mt-3"
                     class="button-link"
                    onclick="abrir_modal_eliminar(this.href); return false;"
                     data-input-id="id_documentoIdentidad">
                    <i class="fas fa-camera"></i> 
                    </a>
                    {{form.documentoIdentidad|as_crispy_field}}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                {{form.tipoEstancia|as_crispy_field}}
            </div>
        
        </div>

       

    </div>
    <div method="post" class="card p-3" enctype="multipart/form-data" >
        <h1>Datos de los padres del extranjero</h1>
            {% csrf_token %}
        
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-6">
                    {{ form.nombreDelPadre|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    {{ form.nacionalidad_Padre|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-6">
                    {{ form.nombreDelaMadre|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-md-4 col-lg-6">
                    {{ form.nacionalidad_Madre|as_crispy_field }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6" style='display:none'>
                    {{form.deLaPuestaIMN|as_crispy_field}}
                </div>
            </div>
            <button class="btn btn-primary float-end btn-custom" type="submit">Guardar</button>
            <br>
            <a href="{% url 'listarExtranjeros' puesta.id %}" class="btn btn-custom1">Cancelar</a>
      
        </form> 
    {% include "includes/camera/modalCamera.html" %}


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script para poner la fecha con division %%/%%/%%%%  -->
{% include "includes/js/fecha.html" %}
{% include "includes/js/cam/camera.html" %}

    
{% endblock script %}
