{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}

{% block titulo %}Generar Nombramiento{% endblock titulo %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'defensoria' %}?estado_defensoria=ya_notificado">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}

{% block contenido %}
<style>
    #myTab .nav-link {
        pointer-events: none; /* Desactiva los eventos del ratón como el clic */
        color: #9E8364; /* Color antes de ser seleccionado */
        font-weight: normal;
    }
    
    #myTab .nav-link.active {
        pointer-events: auto; /* Activa los eventos del ratón para la pestaña activa */
        color: #000; /* Un color más fuerte cuando esté activo */
        font-weight: bold;
    }
    input[readonly] {
        background-color: #e9ecef;
        color: #495057;
        cursor: not-allowed;
      }


      .input-required {
        border: 2px solid #d9534f; /* Rojo con un borde más grueso para mayor visibilidad */
        border-radius: 4px; /* Opcional, para bordes redondeados */
      }
      
      /* Opcional: Agrega un asterisco rojo a las etiquetas de los campos requeridos */
      label.required::after {
        content: " *";
        color: red;
      }
      .input-required {
        border: 2px solid #d9534f; /* Ajusta el color y el grosor del borde según necesites */
      }
      
      .input-required + label::after {
        content: " *";
        color: red;
      }


    
      .center-content {
        text-align: center; /* Centra el texto y los elementos en línea */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos flexibles horizontalmente */
        justify-content: center; /* Centra los elementos flexibles verticalmente */
    }

    
    #nextToRepresentanteLegal,
#nextToExtranjero,
#nextToTraductor,
#nextToTestigo1,
#nextToTestigo2,
#finalizarFirmas {
    background-color: #902F4A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos al pasar el mouse por encima de los botones */
#nextToRepresentanteLegal:hover,
#nextToExtranjero:hover,
#nextToTraductor:hover,
#nextToTestigo1:hover,
#nextToTestigo2:hover,
#finalizarFirmas:hover {
    background-color: #902F4A; /* Mantiene el mismo color de fondo */
    box-shadow: none; /* Elimina la sombra para un aspecto más plano */
    cursor: default; /* Cambia el cursor al estilo predeterminado */

}

.titulo-compare{
    background-color: #777777;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
</style>


<div class="container mt-3">

    <div class="titulo-general-container ">
        <h1 class="titulo-general">
            Generar Nombramiento Interno: 
            <span class="puesta-color" ><strong>{{ extranjero.nombreExtranjero }} {{ extranjero.apellidoPaternoExtranjero }}{% if extranjero.apellidoMaternoExtranjero %} {{ extranjero.apellidoMaternoExtranjero }}{% endif %}</strong></span>
        </h1>
    </div>


    <div id="nombramientoRepresentanteFormContainer">
        <form method="post" id="nombramientoRepresentanteInternoForm">
            {% csrf_token %}
            <div class="card p-3">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="notificacion-tab" data-toggle="tab" href="#notificacion" role="tab" aria-controls="notificacion" aria-selected="true">Nombramiento Representante Legal</a>
                    </li>
                </ul>

                <!-- Contenido de las Pestañas -->
                <div class="tab-content" id="myTabContent">
                    <!-- Sección de Notificación Consular -->
                    <div class="tab-pane fade show active" id="notificacion" role="tabpanel" aria-labelledby="notificacion-tab">
                        <div class="row">
                            <div class="col-md-6">{{ form.nup|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.autoridadActuante|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.defensoria|as_crispy_field }}</div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">{{ form.representanteLegal|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.oficio|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.numeroExpediente|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.testigo1|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.grado_academico_testigo1|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.testigo2|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.grado_academico_testigo2|as_crispy_field }}</div>
                        </div>

                        <input type="checkbox" id="necesitaTraductor" name="necesitaTraductor">
                        <label for="necesitaTraductor">¿Necesita Traductor?</label>
                              <div id="camposTraductor" style="display:none;">   
                                <div class="row">
                                    <div class="col-md-6">{{ form.traductor|as_crispy_field }}</div>
                                </div>
                            </div>
                    </div>
                    <!-- Más secciones de contenido según sea necesario -->
                </div>

                <!-- Botones de Acción -->
                <div class="action-buttons" style="text-align:left;">
                    <button type="button" class="btn btn-icon2" id="previewPdfButton">Previsualizar PDF</button>
                    <button type="submit" class="btn btn-custom2" id="createNotificationButton">Crear Notificación</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- VENTANA PARA MOSTRAR EL QR -->

<div id="qrCode" style="display:none;" class="card p-3">


    <div class="firma-section center-content" id="autoridadActuanteSection">
        <h4 class="titulo-compare">Firma de la Autoridad Actuante</h4>
        <div>Nombre: <strong id="nombreAutoridadActuante"></strong></div>

        <img id="qrImageAutoridadActuante" src="" alt="Código QR Autoridad Actuante" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaAutoridadActuante"></div>
        <button id="nextToRepresentanteLegal">Siguiente: Representante Legal</button>
    </div>

    <div class="firma-section center-content" id="representanteLegalSection" style="display:none;">
        <h4 class="titulo-compare">Firma del Representante Legal</h4>
        <div>Nombre: <strong id="nombreRepresentanteLegal"></strong></div>
        <img id="qrImageRepresentanteLegal" src="" alt="Código QR Representante Legal" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaRepresentanteLegal"></div>
        <button id="nextToTraductor">Siguiente: Traductor</button>
        <button id="nextToExtranjero" style="display: none;">Siguiente: Extranjero</button>
    </div>

    <div class="firma-section center-content" id="traductorSection" style="display:none;">
        <h4 class="titulo-compare">Firma del Traductor</h4>
        <div>Nombre: <strong id="nombreTraductor"></strong></div>

        <img id="qrImageTraductor" src="" alt="Código QR Traductor" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaTraductor"></div>
        <button id="nextToExtranjero">Siguiente: Extranjero</button>
    </div>

    <div class="firma-section center-content" id="extranjeroSection" style="display:none;">
        <h4 class="titulo-compare">Firma del Extranjero</h4>
        <div>Nombre: <strong id="nombreExtranjero"></strong></div>

        <img id="qrImageExtranjero" src="" alt="Código QR Extranjero" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaExtranjero"></div>
        <button id="nextToTestigo1">Siguiente: Testigo 1</button>
    </div>

    <div class="firma-section center-content" id="testigo1Section" style="display:none;">
        <h4 class="titulo-compare">Firma del Testigo 1</h4>
        <div>Nombre: <strong id="nombreTestigo1"></strong></div>

        <img id="qrImageTestigo1" src="" alt="Código QR Testigo 1" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaTestigo1"></div>
        <button id="nextToTestigo2">Siguiente: Testigo 2</button>
    </div>

    <div class="firma-section center-content" id="testigo2Section" style="display:none;">
        <h4 class="titulo-compare">Firma del Testigo 2</h4>
        <div>Nombre: <strong id="nombreTestigo2"></strong></div>

        <img id="qrImageTestigo2" src="" alt="Código QR Testigo 2" style="height: 25%; width: 25%;">
        <div id="mensajeFirmaTestigo2"></div>
        <button id="finalizarFirmas">Finalizar Firmas</button>
    </div>
    
</div>


<div id="generatePDFSection" style="display:none;" class="card p-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- Ícono de FontAwesome para representar un PDF -->
            <i class="fas fa-file-pdf fa-7x" style="color: #1D1D1D;"></i> 
            <br>
            <br>
            <br>

            <a href="#"  id="generatePDFBtn" class="btn btn-primary">Generar oficio</a>
        </div>
    </div>
  </div>
<div id="postSaveOptions" style="display:none;" class="card p-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <i class="fas fa-thumbs-up fa-7x" style="color: #1D1D1D;"></i>
            <br><br><br>
            <a href="{% url "listExtranjerosConsulado" %}" class="btn btn-primary">Regresar a la Lista de Extranjeros</a>
            <a id="verNotificacionBtn" class="btn btn-secondary" href="#" target="_blank">Ver Notificación</a>
        </div>
    </div>
</div>

<!-- VENTANA PARA MOSTRAR EL PDF -->
<div id="pdfPreviewContainer" style="display:none; position: relative;">
    <button id="closePdfPreviewButton" class="btn" style="position: absolute; top: 10px; right: 10px; background-color: #873542; color: white;">Cerrar</button>
    <iframe id="pdfPreview" style="width:100%; height:600px; margin-top: 60px;"></iframe>
</div>

<div id="generatePDFSection" style="display:none;" class="card p-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- Ícono de FontAwesome para representar un PDF -->
            <i class="fas fa-file-pdf fa-7x" style="color: #1D1D1D;"></i> 
            <br>
            <br>
            <br>

            <a href="#"  id="generatePDFBtn" class="btn btn-primary">Generar oficio</a>
        </div>
    </div>
  </div>
<div id="postSaveOptions" style="display:none;" class="card p-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <i class="fas fa-thumbs-up fa-7x" style="color: #1D1D1D;"></i>
            <br><br><br>
            <a href="{% url "listExtranjerosConsulado" %}" class="btn btn-primary">Regresar a la Lista de Extranjeros</a>
            <a id="verNotificacionBtn" class="btn btn-secondary" href="#" target="_blank">Ver Notificación</a>
        </div>
    </div>
</div>

<!-- VENTANA PARA MOSTRAR EL PDF -->
<div id="pdfPreviewContainer" style="display:none; position: relative;">
    <button id="closePdfPreviewButton" class="btn" style="position: absolute; top: 10px; right: 10px; background-color: #873542; color: white;">Cerrar</button>
    <iframe id="pdfPreview" style="width:100%; height:600px; margin-top: 60px;"></iframe>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('previewPdfButton').addEventListener('click', function() {
            var formData = new FormData(document.getElementById('nombramientoRepresentanteInternoForm'));
            
            fetch('/acuerdos/nombramientoRepresentanteInterno', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                credentials: 'same-origin'
            }).then(response => response.blob())
            .then(blob => {
                var pdfUrl = URL.createObjectURL(blob);
                document.getElementById('pdfPreview').src = pdfUrl;
                document.getElementById('pdfPreviewContainer').style.display = 'block';
            })
            .catch(error => {
                console.error('Error al generar la vista previa del PDF:', error);
            });
        });

        // Event listener para el botón de cerrar
        document.getElementById('closePdfPreviewButton').addEventListener('click', function() {
            document.getElementById('pdfPreviewContainer').style.display = 'none';
            document.getElementById('pdfPreview').src = ''; // Limpia el src del iframe
        });
    });

</script>
{% endblock contenido %}


