{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}
{% block titulo %}Lista de Extranjeros a Defensoría {% endblock titulo %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'menu' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}


{% block contenido %}
<style>
.horas-bajo {
    background-color: #20302B; /* Reemplaza #verde con el código de color real para 0 a 18 horas */
}

.horas-medio {
    background-color: #A3835F; /* Reemplaza #amarillo con el código de color real para 18 a 24 horas */
}

.horas-alto {
    background-color: #873542; /* Reemplaza #rojo con el código de color real para más de 24 horas */
}

.btn-externo {
    background-color: #7D3A43; /* Color de fondo */
    color: white; /* Color del texto */
}
</style>
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
        Lista de Extranjeros para Notificar a Defensoría
    </h1>
</div>


<div class="d-flex justify-content-center mb-3 mt-3">
    <div class="btn-group" role="group">
        <a href="{% url 'defensoria' %}?estado_defensoria=por_notificar" class="btn {% if request.GET.estado_defensoria == 'por_notificar' or not request.GET.estado_defensoria %}btn-custom5{% else %}btn-outline-secondary{% endif %}">
            Por Notificar
        </a>
        <a href="{% url 'defensoria' %}?estado_defensoria=ya_notificado" class="btn {% if request.GET.estado_defensoria == 'ya_notificado' %}btn-custom6{% else %}btn-outline-secondary{% endif %}">
            Ya Notificados
        </a>
    </div>
</div>

<style>
.horas-bajo {
    background-color: #verde; /* Reemplaza #verde con el código de color real para 0 a 18 horas */
}

.horas-medio {
    background-color: #amarillo; /* Reemplaza #amarillo con el código de color real para 18 a 24 horas */
}

.horas-alto {
    background-color: #rojo; /* Reemplaza #rojo con el código de color real para más de 24 horas */
}
</style>
<div class="table-responsive">
    <table id="tabla" class="table table-striped table-bordered display responsive nowrap" style="width: 100%;">
        <thead>
                <tr>
                    <th>No. Único de Proceso</th>
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Nacionalidad</th>
                    <th>Tiempo</th>
                    <th style="width: 5%;">Opciones</th>
                </tr>
        </thead>
        <tbody>
            {% for extranjero in extranjeros %}
                <tr>
                <td>{{extranjero.nup}}</td>
                <td>{{ extranjero.extranjero.nombreExtranjero }}</td>
                <td>
                    {% if extranjero.extranjero.apellidoPaternoExtranjero %}
                        {{ extranjero.extranjero.apellidoPaternoExtranjero }}
                    {% endif %}
                    {% if extranjero.extranjero.apellidoPaternoExtranjero and extranjero.extranjero.apellidoMaternoExtranjero %}
                        {{ extranjero.extranjero.apellidoMaternoExtranjero }}
                    {% endif %}
                </td>     
                <td>{{ extranjero.extranjero.nacionalidad }}</td>
                <td align="center">
            
                    
                        <div class="{% if no_proceso.horas_desde_registro <= 18 %}horas-bajo{% elif no_proceso.horas_desde_registro > 18 and no_proceso.horas_desde_registro <= 24 %}horas-medio{% else %}horas-alto{% endif %}" style="color: white; padding: 5px 10px; border-radius: 5px; display: inline-block;">
                            <i class="fas fa-clock"></i> {{ extranjero.horas_desde_registro }} horas
                        </div>
                    
                </td>


                <td align="center">

                
                    {% if extranjero.tiene_defensoria_asignada %}

                        {% if extranjero.documento_subido %}
                            <!-- Botón con Sweet Alert para cuando el documento ya ha sido subido -->
                            <a class="btn btn-sm btn-icon3 tooltip-link" href="#" onclick="showSweetAlert('{{ extranjero.fecha_subida_documento|date:"SHORT_DATE_FORMAT" }}', '{{ extranjero.url_documento }}');" data-title="Documento Subido">
                                <i class="fa-solid fa-upload"></i>
                            </a>
                        {% else %}
                            <!-- Botón normal para subir documento -->
                            <a class="btn btn-sm btn-icon1 tooltip-link" href="{% url 'respuestaDefensoria' extranjero.extranjero_defensoria_id extranjero.nup %}" data-title="Subir Documento">
                                <i class="fa-solid fa-upload"></i>
                            </a>

                        {% endif %}
                        <a class="btn btn-sm btn-icon1 tooltip-link" href="{% url 'CrearNombramiento' extranjero.nup%}" data-title="Generar Nombramiento">
                            <i class="fa-solid fa-file-alt"></i>                   
                        </a>

                        <a class="btn btn-sm btn-icon3 tooltip-link" href="#" onclick="mostrarOpcionesNombramiento('{{ extranjero.nup }}');" data-title="Elegir Tipo de Representante">
                            <i class="fa-solid fa-user"></i> Elegir Representante
                        </a>
                        
                        <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "representacionPDF" extranjero.nup%}" target='_blank' data-title="Ver Documento">
                            <i class="fa-solid fa-eye"></i>                   
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "seleccionarDefensoria" extranjero.extranjero.id%}" data-title="Seleccionar Defensoria">
                            <i class="fa-solid fa-bell"></i>                   
                        </a>
                    {% endif %}
              
                </td>                         

                </tr>

            {% endfor %}

        </tbody>
    </table>

</div>

<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Elige el Tipo de Representante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <button id="interno" class="btn btn-primary">Representante Interno</button>
          <button id="externo" class="btn btn-secondary">Representante Externo</button>
        </div>
      </div>
    </div>
  </div>



  <script>
    function mostrarOpcionesNombramiento(nup) {
        Swal.fire({
            title: 'Elige el Tipo de Representante',
            text: 'Selecciona si el representante es interno o externo',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Por Defensoría',
            cancelButtonText: 'Por Particular',
            cancelButtonColor: '#85364A',
            confirmButtonColor: '#2A4B41',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/notificaciones/crear-nombramiento/" + nup;
            } else {
                window.location.href = "/notificaciones/crear-nombramiento-externo/" + nup;
            }
        });
    }
    </script>
<script>
function showSweetAlert(fechaSubida, urlDocumento) {
    Swal.fire({
        title: 'Documento ya subido',
        text: 'Este documento fue subido el ' + fechaSubida,
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'Cerrar',
        cancelButtonText: 'Ver Documento'
    }).then((result) => {
        if (result.dismiss === Swal.DismissReason.cancel) {
            window.open(urlDocumento, '_blank');
        }
    });
}
</script>
{% endblock contenido %}