{% extends 'seguridad/baseSeguridadGeneral.html' %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
{% endblock link %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'homeSeguridadGeneral' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}

{% block contenido %}

<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
        Agregar Extranjeros a Traslado
    </h1>
</div>
<br>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <!-- Resto de tus campos y contenido -->
            </form>
            <div class="row">
                <!-- Card con datos del extranjero -->
                <div class="col-md-10">
                  <div class="card">
                     <div class="header">
                        <h2>Datos de la Estancia:</h2>
                     </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                            <span class="etiqueta">Nombre de la estancia:</span>
                            <span class="valor">{{estacion_destino.nombre}}</span>                
                            <br>
                            <span class="etiqueta">Calle:</span>
                            <span  class="valor">{{estacion_destino.calle}}</span>                
                            <br>
                            <span class="etiqueta">Colonia:</span>
                            <span  class="valor">{{estacion_destino.colonia}}</span>                
                        </div>
            
                        <div class="col">
                            <span class="etiqueta">Codigo Postal:</span>
                            <span class="valor">{{estacion_destino.cp}}</span>                
                            <br>
                            <span class="etiqueta">Estado:</span>
                            <span class="valor">{{estacion_destino.estado}}</span>                
                            <br>
                            <span class="etiqueta">Email:</span>
                            <span class="valor">{{estacion_destino.email}}</span>                
                        </div>

                        <div class="col">
                            <span class="etiqueta">Nombre del Responsable:</span>
                            <span  class="valor">{{estacion_destino.responsable}} {{estacion_destino.responsable.apellidoPat}} {{estacion_destino.responsable.apellidoMat}}</span>                
                            <br>
                            <span class="etiqueta">Telefono del Responsable:</span>
                            <span class="valor">{{estacion_destino.responsable.telefono}}</span>                
                            <br>
                            <span class="etiqueta">Email del Responsable:</span>
                            <span  class="valor">{{estacion_destino.responsable.email}}</span>                
                            <br>
                           
                        </div>
                        <!-- Otros campos de datos -->
                      </div>
                    </div>
                  </div>
                </div>
            
                <!-- Card con la foto del extranjero -->
                <div class="col-md-2 d-none d-md-block">
                  <div class="card">
                    <div class="col-lg">
                        <!-- small card -->
                        <div class="small-box bg-success">
                          <div class="inner">
                            <h3 id="capacidad-cantidad">{{estacion_destino.capacidad}}</h3>
                    
                            <p>Lugares disponibles</p>
                          </div>
                          <div class="icon">
                    
                            <i class="fas fa-check-circle"></i>
                          </div>
                          <a href="#" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                          </a>
                        </div>
                      </div>
                   
                  </div>
                </div>
              </div>
            


        </div>
      </div>
    </div>
  </div>


  


{% comment %} FIN  {% endcomment %}

<!---------------------- CARD ------------------>


<div class="row">
    <div class="col">
        <div class="titulo-general-container-card mb-4">
            <h1 class="titulo-general">Lista de extranjeros para trasladar</h1>
        </div>

        

        
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">
         
          </h5>

          <div class="table-responsive">
            <table id="tabla" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido(s)</th>
                        <th>Nacionalidad</th>
                        <th style="width: 5%;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for extranjero in traslado %}
                    <tr data-id="{{ extranjero.id }}">
                        <td>{{ extranjero.nombreExtranjero }}</td>
                        <td>{% if extranjero.apellidoPaternoExtranjero %}
                          {{ extranjero.apellidoPaternoExtranjero }}
                      {% endif %}
                      {% if extranjero.apellidoMaternoExtranjero %}
                          {{ extranjero.apellidoMaternoExtranjero }}
                      {% endif %}</td>
                        <td>{{ extranjero.nacionalidad }}</td>
                        <td>
                            <a class="btn btn-sm btn-icon3 tooltip-link btn-primary"
                               href="#"
                               data-id="{{ extranjero.id }}"
                               data-title="Agregar Acompañante">
                               <i class="fas fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
                
        </div>
      </div>
    </div>
  
    <div class="col-sm-1 d-none d-md-flex align-items-center justify-content-center hide-on-small">
        <div class="card">
          <div class="card-body text-center">
            <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i>
          </div>
        </div>
    </div>


    <div class="col">
        <div class="titulo-general-container-card mb-4">
            <h1 class="titulo-general">Extranjeros a trasladar</h1>
        </div>

        <div class="card w-100">
          <div class="card-body">
            <div class="table-responsive">
                <table id="puestaAC-table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido(s)</th>
                            <th>Nacionalidad</th>
                            <th style="width: 5%;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Las filas se añadirán dinámicamente aquí con JavaScript -->
                    </tbody>
                    
                </table>
                <button id="solicitarTraslado" class="btn btn-custom ">Solicitar Traslado</button>
            </div>
                  
          </div>
        </div>
      </div>
  </div>
<!---------------------- CARD ------------------>
{% endblock contenido %}
{% block datatable2 %}

{% endblock datatable2 %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $("#solicitarTraslado").click(function() {
    if ($("#puestaAC-table tbody tr").length === 0) {
      Swal.fire({
        title: '¡La tabla está vacía!',
        text: 'No se pueden solicitar traslados porque la tabla está vacía. Agrega al menos un extranjero.',
        icon: 'info',
        confirmButtonText: 'Ok',
        confirmButtonColor: '#85364A',
      });
      return;
    }
    let extranjerosParaTraslado = [];

    // Recolectar todos los IDs de los extranjeros en la tabla de traslado
    $("#puestaAC-table tbody tr").each(function() {
      let extranjeroID = $(this).attr("data-id");
      console.log("Extranjero ID recopilado:", extranjeroID);

      extranjerosParaTraslado.push(extranjeroID);
  });

    // Enviar estos IDs al servidor para procesar
    $.ajax({
        url: "/seguridad/procesar/traslado/",
        type: "POST",
        headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
        },
        data: {
            'extranjeros[]': extranjerosParaTraslado,
            'traslado_id': {{traslado1.id}},

        },
        success: function(response) {
            console.log("Respuesta exitosa al solicitar traslado:", response);
            if (response.status === 'success' && response.redirect_url) {
                window.location.href = response.redirect_url;
            }
        },
        error: function(error) {
            console.log("Error al solicitar traslado:", error);
            if (error.status === 'error' && error.redirect_url) {
                window.location.href = error.redirect_url;
            }
        }
    });
});

</script>
<script>
    $(document).ready(function() {
    // Manejar el clic en el icono de agregar
    $('#tabla tbody').on('click', '.btn-icon3', function(event) {
        console.log("Botón añadir clickeado en la tablaExtranjeros");

        event.preventDefault();
        
        // Clonar la fila seleccionada
        var fila = $(this).closest('tr').clone();
        
        // Añadir un icono de "remover" en lugar del de "agregar"
        fila.find('.btn-icon3')
            .removeClass('btn-primary')
            .addClass('btn-danger')
            .attr('data-title', 'Remover Acompañante')
            .find('i').removeClass('fas fa-plus').addClass('fas fa-minus');

        // Añadir la fila a la tabla de traslado
        $('#puestaAC-table tbody').append(fila);
        
        // (Opcional) Esconder la fila original en la tabla de extranjeros
        $(this).closest('tr').hide();
    });

    // Manejar el clic en el icono de remover
    $('#puestaAC-table tbody').on('click', '.btn-icon3', function(event) {
        console.log("Botón remover clickeado en la tablaTraslado");

        event.preventDefault();
        
        // Buscar el ID (o algún identificador único) de la fila
        var extranjeroId = $(this).data('id');  // Asume que tienes un data-id en tu icono

        // Mostrar de nuevo la fila en la tabla original
        $('#tabla tr[data-id="' + extranjeroId + '"]').show();
        
        // Remover la fila de la tabla de traslado
        $(this).closest('tr').remove();
    });
});

</script>


{% endblock script %}

