{% extends "documentos/base.html" %}
{% load static %}

{% block header %}
<style>
    #textoMayusculas {
        text-transform: uppercase;
    }
</style>

<br><span id="textoMayusculas">{{estacion}}</span>
<br>EXPEDIENTE NÚMERO: {{acuerdo.numeroExpediente|upper}}
<br><span id="textoMayusculas">{{lugar}} - {{dia}} de {{mes}} del {{anio}}</span>
{% endblock %}

{% block title %}
<title>
    Acuero de Inicio {{nombre}}
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO DE INICIO</strong>
</p>
<p>
    En <strong> {{lugar}}</strong> a los <strong>{{dia}}</strong> de <strong>{{mes}}</strong> del <strong>{{anio}}</strong>, el 
    <strong>
    {% if acuerdo.autoridadActuante.autoridad.grado_academico == 'Doctorado' %}
    Dr.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Maestría' %}
    MSc.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Licenciatura' %}
    Lic.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Bachillerato' %}
    Bach.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Diplomado' %}
    Dip.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Técnico' %}
    Téc.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Secundaria' %}
    Sec.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Primaria' %}
    Prim.
{% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Sin educación formal' %}
    Sin edu.
{% endif %}
{{ acuerdo.autoridadActuante.autoridad.nombre }} {{ acuerdo.autoridadActuante.autoridad.apellidoPaterno }} {{ acuerdo.autoridadActuante.autoridad.apellidoMaterno }},</strong>
    <strong>{{acuerdo.autoridadActuante.cargo}}</strong> adscrito a <strong>{{estacion}}</strong> del Instituto Nacional de Migración de la Secretaria de Gobernación, quien actúa legalmente ante la presencia de dos testigos que al final firman para constancia.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    Que derivado de la revisión migratoria practicada por personal adscrito a esta Dirección General de Control y Verificación Migratoria, fue detectado el extranjero 
    <strong>{{nombre}} {{apellidop}} {{apellidom}}</strong> de nacionalidad <strong>{{nacionalidad}}</strong>, sin que acreditara en ese momento su legal internación y estancia en territorio nacional, por lo que fue puesto a disposición de esta autoridad migratoria a fin de resolver conforme a las facultades que señala la Ley de Migración y su Reglamento.
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Por lo que con fundamento en lo dispuesto en los artículos 1,11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos, 1, 2, 6, 7, 12, 13, 14, 20 fracciones III y X, 66, 67, 68, 70, 77, 79, 111, 144 de la Ley de Migración; 1, 2, 55, 58, 194, 222, 232 y 233 del Reglamento de la Ley de Migración publicado en el Diario Oficial de la Federación en fecha 28 de septiembre de 2012 vigente a partir del 09 de noviembre de 2012; 1, 3, 9, 12, 13, 16 fracciones I, III, IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35, 36, 38, 39, 44 y 49 de la Ley Federal del Procedimiento Administrativo;
    [DELEGATORIO DE FACULTADES POR CADA OFICINA DE REPRESENTACIÓN].
</p>
<p class="centrado">
    <strong>ACUERDA</strong>
</p>
<p>
    <strong>PRIMERO.- </strong>
    Regístrese el presente asunto en el libro de gobierno bajo el número que le corresponda, e iníciese el Procedimiento Administrativo Migratorio correspondiente, a efecto de resolver en definitiva  la situación migratoria del extranjero de referencia en territorio nacional.
    <br><strong>SEGUNDO.- </strong>
    Notifíquese personalmente al extranjero la presente actuación para que surta los efectos legales a los que haya lugar.
</p>
<p class="centrado">
    <strong>CÚMPLASE</strong>
</p>
<p>
    Así lo acordó y firma el <strong>
        {% if acuerdo.autoridadActuante.autoridad.grado_academico == 'Doctorado' %}
        Dr.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Maestría' %}
        MSc.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Licenciatura' %}
        Lic.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Bachillerato' %}
        Bach.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Diplomado' %}
        Dip.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Técnico' %}
        Téc.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Secundaria' %}
        Sec.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Primaria' %}
        Prim.
    {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Sin educación formal' %}
        Sin edu.
    {% endif %}
    {{ acuerdo.autoridadActuante.autoridad.nombre }} {{ acuerdo.autoridadActuante.autoridad.apellidoPaterno }} {{ acuerdo.autoridadActuante.autoridad.apellidoMaterno }},</strong>
        <strong>{{acuerdo.autoridadActuante.cargo}}</strong>
    del Instituto Nacional de Migración de la Secretaria de Gobernación, quien actúa legalmente asistido de los testigos que al final firman para constancia del presente acto.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>{{acuerdo.autoridadActuante.cargo}}</strong></p>
        <img src="{{firmaAutoridad}}" alt="Firma del medico" style="height: 3cm; width: 8cm; position: absolute; z-index: -1; bottom: 90; left: 5cm; transform: translate(-50%, -10%); object-fit: cover;">

        <p class="firma">{% if acuerdo.autoridadActuante.autoridad.grado_academico == 'Doctorado' %}
            Dr.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Maestría' %}
            MSc.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Licenciatura' %}
            Lic.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Bachillerato' %}
            Bach.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Diplomado' %}
            Dip.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Técnico' %}
            Téc.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Secundaria' %}
            Sec.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Primaria' %}
            Prim.
        {% elif acuerdo.autoridadActuante.autoridad.grado_academico == 'Sin educación formal' %}
            Sin edu.
        {% endif %}
        {{ acuerdo.autoridadActuante.autoridad.nombre }} {{ acuerdo.autoridadActuante.autoridad.apellidoPaterno }} {{ acuerdo.autoridadActuante.autoridad.apellidoMaterno }}</strong> <br></p>

    </div>
    <div class="columna">
        <p><strong>La persona extranjera</strong></p>
        <img src="{{firma}}" alt="Firma del medico" style="height: 3cm; width: 8cm; position: absolute; z-index: -1; bottom: 90; left: 13cm; transform: translate(-50%, -10%); object-fit: cover;">
        <p class="firma">{{nombre}} {{apellidop}} {{apellidom}}</p>
    </div>
</div>
<br>
<br>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <img src="{{firmaTestigo1}}" alt="Firma del medico" style="height: 3cm; width: 8cm; position: absolute; z-index: -1; bottom: 90; left: 6cm; transform: translate(-50%, -10%); object-fit: cover;">

        <p class="firma">{{acuerdo.nombreTestigoUno}} {{acuerdo.apellidoPaternoTestigoUno}} {{acuerdo.apellidoMaternoTestigoUno}}</p>
    </div>
    <div class="columna">
        <img src="{{firmaTestigo2}}" alt="Firma del medico" style="height: 3cm; width: 8cm; position: absolute; z-index: -1; bottom: 90; left: 15cm; transform: translate(-50%, -10%); object-fit: cover;">

        <p class="firma">{{acuerdo.nombreTestigoDos}} {{acuerdo.apellidoPaternoTestigoDos}} {{acuerdo.apellidoMaternoTestigoDos}}</p>
    </div>
</div>


{% endblock %}