{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[NUMERO DE EXPEDIENTE]
<br>NÚMERO DE ACUERDO: INM/-----/------/-------/2023
{% endblock %}

{% block title %}
<title>
    Acuerdo de libre transito
</title>
{% endblock %}

{% block content %}
<table style="width: 3.5cm; border-collapse: collapse; border: 1px solid rgb(0, 0, 0); height: 3.5cm;">
    <tbody>
        <tr>
            <td style="width: 3.5cm; height: 3.5cm; border: 1px solid rgb(0, 0, 0);"><br></td>
        </tr>
    </tbody>
</table>
<div>
    NOMBRE: [NOMBRE Y APELLIDO]
    <br>FECHA DE NACIMIENTO: [DD/MM/AAAA]
    <br>NACIONALIDAD: [NACIONALIDAD] 
    <br>SEXO: [GENERO] 
</div>
<p class="centrado">
    ACUERDO DE LIBRE TRANSITO
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, por lo que una vez vistas las constancias que integran el expediente administrativo migratorio instaurado al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], y en ejercicio de las facultades que me confieren los artículos 1, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos; 1, 2, 3, 7, 11, 12, 13, 14 primero y segundo párrafo, 16 fracciones II y III, 20 fracciones III, VII, 66, 67, 70, 77, 79, 92, 94, 111, de la Ley de Migración; 194, 205 del Reglamento de la Ley de Migración publicado en el Diario Oficial de la Federación; 27 fracción V de la Ley Orgánica de la Administración Pública Federal; 1, 3, 9, 12, 13, 16 fracciones III, IV, V, IX, 18, 19, 28, 30, 32, 33, 35, 36, 38, 39 y 49 de la Ley Federal del Procedimiento Administrativo; y lo correspondiente al Reglamento Interior  de  la  Secretaría  de  Gobernación publicado en el Diario Oficial de la Federación el 31 de mayo de 2019; le notifico lo siguiente:
    <br> 
    Observando las constancias que integran el expediente se desprende que el extranjero [NOMBRE Y APELLIDO] de 
    nacionalidad [NACIONALIDAD], fue puesto a disposición de la autoridad migratoria, mismo que no pudo exhibir documento que acreditara su regular internación y/o estancia en territorio nacional. Sin embargo una vez desahogadas cada una de las diligencias del Procedimiento Administrativo Migratorio, el extranjero en comento 
    acreditó [VÍNCULO FAMILIAR/CONDICIÓN DE ESTANCIA/NACIONALIDAD MEXICANA] de acuerdo a lo establecido en el 
    artículo [ART. 52 LEY DE MIGRACIÓN/ART. 3 LEY DE NACIONALIDAD], el cual refiere lo siguiente:
</p>
<div style="font-style: italic; margin: 1cm;">
    <p>
        “Artículo 52. Los extranjeros podrán permanecer en el territorio nacional en las condiciones de estancia de visitante, residente temporal y residente permanente, siempre que cumplan con los requisitos establecidos en esta Ley, su Reglamento y demás disposiciones jurídicas aplicables, de conformidad con lo siguiente:
    </p>
    <p>
        [...]
    </p>
    <p>
        [ESTABLECER ALGUNA DE LAS FRACCIONES QUE SE ADECUEN AL CASO I a la IX]”
    </p>
    <p>
        “Artículo 3<sub>o</sub>.- Son documentos probatorios de la nacionalidad mexicana, cualquiera de los siguientes:
    </p>
    <p>
        I. El acta de nacimiento expedida conforme a lo establecido en las disposiciones aplicables;
        <br>
        II. El certificado de nacionalidad mexicana, el cual se expedirá a petición de parte, exclusivamente para los efectos de los artículos 16 y 17 de esta Ley;
        <br>
        III. La carta de naturalización;
        <br>
        IV. El pasaporte;
        <br>
        V. La cédula de identidad ciudadana; y
        <br>
        VI. La matrícula consular que cuente con los siguientes elementos de seguridad:
        <br>
        a) Fotografía digitalizada;
        <br>
        b) Banda magnética, e
        <br>
        c) Identificación holográfica.”
    </p>
</div>
<p>
    Asimismo y toda vez que esta autoridad migratoria verificó que no existe algún antecedente criminal o alguna búsqueda por parte de autoridades ministeriales y/o judiciales en México o en el extranjero a nombre del antes citado, por tal razón para esta autoridad resulta viable otorgar el presente documento que permite el libre tránsito por territorio mexicano.
    <br> 
    Finalmente se apercibe al extranjero en cita que de conformidad a las atribuciones conferidas en la Ley de Migración y su Reglamento, esta autoridad migratoria se reserva el Derecho de ejercer las acciones administrativas pertinentes, en caso de ser detectado realizando actividades no autorizadas o licitas conforme a las leyes mexicanas; esto último de conformidad a los artículos 43 y 144 de la Ley de Migración, recayendo al supuesto la cancelación de su documento migratorio vigente en la hipótesis señalada en el artículo 64 del mismo ordenamiento legal [SÓLO EN CASO DE SER EXTRANJERO].
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[CARGO AC]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>  
{% endblock %}