{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficiona]
<br>[Estacion Migratoria]
{% endblock %}

{% block title %}
<title>
    Certificado M&eacute;dico 
</title>
{% endblock %}

{% block content %}
<p style="text-align: center;">CERTIFICADO M&Eacute;DICO</p>
<table style="width: 100%; border-collapse: collapse; border: 1px solid #000000;">
    <tbody>
        <tr style="height: 18.5px;">
            <td style="width: 16.6897%; text-align: center; border: 1px solid #000000; height: 55.5px;" rowspan="3">&nbsp;</td>
            <td style="width: 48.9993%; border: 1px solid #000000; height: 18.5px;">FECHA:</td>
            <td style="width: 34.1499%; border: 1px solid #000000; height: 18.5px;">EDAD:</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 48.9993%; border: 1px solid #000000; height: 18.5px;">NOMBRE:</td>
            <td style="width: 34.1499%; border: 1px solid #000000; height: 18.5px;">SEXO:</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 48.9993%; border: 1px solid #000000; height: 18.5px;">NACIONALIDAD:</td>
            <td style="width: 34.1499%; border: 1px solid #000000; height: 18.5px;">ESTADO CIVIL:</td>
        </tr>
    </tbody>
</table>
<p style="text-align: center;"><strong>ANTECEDENTES PERSONALES PATOL&Oacute;GICOS</strong></p>
<table style="width: 100%; border-collapse: collapse; border: 1px solid #000000; height: 92.5px;">
    <tbody>
        <tr style="height: 18.5px;">
            <td style="width: 42.6008%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.2942%; border: 1px solid rgb(0, 0, 0); text-align: center; height: 18.5px;">S&Iacute;&nbsp;</td>
            <td style="width: 3.1629%; border: 1px solid rgb(0, 0, 0); text-align: center; height: 18.5px;">NO&nbsp;</td>
            <td style="width: 2.0188%; border-width: 1px; border-style: solid; border-color: transparent rgb(0, 0, 0); border-image: initial;" rowspan="5">&nbsp;</td>
            <td style="width: 41.0017%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 4.0185%; border: 1px solid rgb(0, 0, 0); text-align: center; height: 18.5px;">SI</td>
            <td style="width: 3.8313%; border: 1px solid rgb(0, 0, 0); text-align: center; height: 18.5px;">NO</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 42.6008%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">HEPATITIS</td>
            <td style="width: 3.2942%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.1629%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 41.0017%; border: 1.1px solid rgb(0, 0, 0); height: 18.5px;">C&Oacute;LERA</td>
            <td style="width: 4.0185%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.8313%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 42.6008%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">TUBERCULOSIS&nbsp;</td>
            <td style="width: 3.2942%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.1629%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 41.0017%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">HIPERTENSI&Oacute;N&nbsp;</td>
            <td style="width: 4.0185%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.8313%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 42.6008%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">PALUDISMO</td>
            <td style="width: 3.2942%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.1629%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 41.0017%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">CARDIOPAT&Iacute;AS&nbsp;</td>
            <td style="width: 4.0185%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.8313%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
        </tr>
        <tr style="height: 18.5px;">
            <td style="width: 42.6008%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">DENGUE</td>
            <td style="width: 3.2942%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.1629%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 41.0017%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">VIH</td>
            <td style="width: 4.0185%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
            <td style="width: 3.8313%; border: 1px solid rgb(0, 0, 0); height: 18.5px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;OTROS ANTECEDENTES:&nbsp;</p>
<p>ANTECEDENTES QUIR&Uacute;RGICOS:</p>
<p>PADECIMIENTOS CR&Oacute;NICOS DEGENERATIVOS:</p>
<p style="text-align: center;"><strong>PADECIMIENTOS ACTUALES SIGNOS Y S&Iacute;NTOMAS:</strong></p>
<table style="width: 100.08%; border-collapse: collapse; border: 1px solid #000000;">
    <tbody>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">SI</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">NO&nbsp;</td>
            <td style="width: 2.1513%; border: 1px solid rgb(0, 0, 0); border-top-color: transparent; border-bottom-color: transparent;"rowspan="8">&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">SI</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">NO</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">DIARREA&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">NAUSEAS Y VOMITO&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">I. RESPIRATORIA&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">TOS&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">FIEBRE</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">DOLORES&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">HEMORRAGIAS&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">LESIONES EN PIEL&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">TRAUMATISMO&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">MAREOS, V&Eacute;RTIGOS&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">TABAQUISMO&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 42.6312%; border: 1px solid rgb(0, 0, 0);">TOXICOMAN&Iacute;A &nbsp;</td>
            <td style="width: 3.3311%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 2.9273%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 40.9489%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 4.0713%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
            <td style="width: 3.8432%; border: 1px solid rgb(0, 0, 0);">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 33.3333%;">DR.&nbsp;</td>
            <td style="width: 33.3333%;">C&Eacute;DULA:</td>
            <td style="width: 33.3333%;">FIRMA:</td>
        </tr>
    </tbody>
</table>
<p>CONCLUSI&Oacute;N:&nbsp;</p>
<p>OBSERVACIONES:&nbsp;</p>
<p>TRATAMIENTO:&nbsp;</p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50.0000%;">NOMBRE:&nbsp;</td>
            <td style="width: 50.0000%;">FIRMA:</td>
        </tr>
    </tbody>
</table>
<p style="text-align: center;">SE ME HA INTERROGADO SOBRE MIS ANTECEDENTES DE SALUD Y ESTOY DE ACUERDO CON LA CONCLUSI&Oacute;N&nbsp;</p>

{% endblock %}