{% extends 'documentos/base.html' %}
{% load static %}

{% block header %}
<br>{{oficina|upper}}
<br>{{estacion|upper}}
{% endblock %}

{% block content %}
<p>
    Nombre: {{ex.nombreExtranjero}} {{ex.apellidoPaternoExtranjero}} {{ex.apellidoMaternoExtranjero}}
    <br>Nacionalidad: {{ex.nacionalidad.nombre}}  
</p>

<p>
    En cumplimiento a lo establecido en los artículos, 109 fracción VII de la Ley de Migración; 226 fracción IX, 232 fracción IV y 237 del 
    Reglamento de la Ley de Migración; 18 y 24 fracción IX del Acuerdo por el que se Emiten las Normas para el Funcionamiento de las 
    Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migración, <span style="text-decoration: underline;">se levanta la presente</span>:
</p>
<p class="centrado">
    Constancia de llamada telefónica 
</p>
<p> 
    {% if desea %}
    1.- ¿Es su deseo realizar llamada? <br>
    Si ( X  )     No (     ) <br>
    {% else %}
    1.- ¿Es su deseo realizar llamada? <br>
    Si (  )     No (  X   ) <br>
    {% endif %}
</p>
<p>
   2.- En caso de negativa, especifique el motivo <br> {{motivo}}
</p>
<p>
    3.- Fecha de realización: <br>
    {{fecha}}
</p>
<p>
    4.- Firma de conformidad: <br>
</p>

<img src="{{ firma }}" alt="Firma" 
        style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%; z-index: 1;">
<p style="border-top: 1px solid #000; width: 50%; margin: 80px auto 0; padding-top: 10px; text-align: center;">
</p>
<script>
    location.reload();
</script>
{% endblock content %}
