{% extends 'documentos/base.html' %}
{% load static %}

{% block header %}
<br>---
<br>---
{% endblock %}

{% block content %}
<p>
    Nombre: {{nombre}} {{apellidop}} {{apellidom}}
    <br>Nacionalidad: {{nacionalidad}}  
</p>

<p>
    En cumplimiento a lo establecido en los artículos, 109 fracción VII de la Ley de Migración; 226 fracción IX, 232 fracción IV y 237 del 
    Reglamento de la Ley de Migración; 18 y 24 fracción IX del Acuerdo por el que se Emiten las Normas para el Funcionamiento de las 
    Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migración, <span style="text-decoration: underline;">se levanta la presente</span>:
</p>
<p class="centrado">
    Constancia de llamada telefónica
</p>
<p> 
    {% if desea %}
    1.- ¿Es su deseo realizar llamada? <br>
    Si ( X  )     No (     ) <br>
    {% else %}
    1.- ¿Es su deseo realizar llamada? <br>
    Si (  )     No (  X   ) <br>
    {% endif %}
</p>
<p>
   2.- En caso de negativa, especifique el motivo <br> {{motivo}}
</p>
<p>
    3.- Fecha de realización: <br>
    {{fecha}}
</p>
<p>
    4.- Firma de conformidad: <br>
    <div class="firma" style="max-width: 40%; margin: 0 auto; border-top: none; border-bottom: 1px solid #000; position: relative; height: 100px;">
        {% if firma.firma_imagen %}
            <img src="https://sfti.tech{{ firma.firma_imagen.url }}" alt="Firma de conformidad" style="max-width: 100%; height: auto; position: absolute; bottom: 0;">
        {% else %}
            No se ha proporcionado una firma
        {% endif %}
    </div>
</p>
<script>
    location.reload();
</script>
{% endblock content %}
