{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expediente]
{% endblock %}

{% block title %}
<title>
    Acuerdo para la continuaci&oacute;n del procedimiento
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO PARA LA CONTINUACI&Oacute;N DEL PROCEDIMIENTO ADMINISTRATIVO MIGRATORIO</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el Licenciado 
    [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    Visto que la razón por la cual esta autoridad migratoria determino la suspensión del procedimiento administrativo migratorio instaurado a la persona extranjera 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], se encuentra subsanada a través de las constancias que se tienen a la vista dentro del expediente, por tal razón esta autoridad considera viable continuar con el procedimiento administrativo migratorio el cual fue suspendido toda vez que se reúnen las condiciones para hacerlo.
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Con fundamento en lo dispuesto en los artículos 1, 11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos; 27 fracciones VI y XXXII de la Ley Orgánica de la Administración Pública Federal; 1, 2, 3, 7, 12, 14, 66, 67, 70, 77, 111 de la Ley de Migración; aplicables del Reglamento Interior de la Secretaría de Gobernación; y del acuerdo por el que se emiten las Normas para el funcionamiento de las Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migración, por lo anterior esta autoridad.
</p>
<p class="centrado">
    <strong>SE ACUERDA</strong>
</p>
<p>
    <strong>&Uacute;NICO&nbsp;</strong>Continúese el Procedimiento Administrativo Migratorio instruido a la extranjera 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD] y notifíquese la presente determinación, a la extranjera de referencia para los efectos legales que haya lugar.
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
{% endblock %}