{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>No. de oficio. [Numero de oficio]
<br>Lugar y Fecha: [Lugar, fecha y hora de emisión de documento]
<br><strong>VALIDO POR 180 D&Iacute;AS</strong>
{% endblock %}

{% block title %}
<title>
    Acuerdo de libre transito
</title>
{% endblock %}

{% block content %}
<div style="position: relative; height: 3.5cm; margin-top: -2.9cm;">
    <table style="width: 3.5cm; border-collapse: collapse; border: 1px solid rgb(0, 0, 0); position: absolute; top: 0; left: 0;">
        <tbody>
            <tr>
                <td style="width: 3.5cm; height: 3.5cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            </tr>
        </tbody>
    </table>
</div>
<p class="centrado">
    <strong>DOCUMENTO PROVISIONAL</strong>
</p>
<p class="centrado">
    Documento provisional de visitante con permiso para realizar actividades remuneradas
</p>
<p>
    Con fundamento en lo dispuesto en los artículos 1, 2, 7, 14, 20, 52 fracción ll, 66, 67, 69, 111 último párrafo de la Ley de Migración; 182 último párrafo del Reglamento de la Ley de Migración; Artículo 15 fracción V de los Lineamientos para tramites y procedimientos migratorios; y, de conformidad a lo establecido en el Reglamento Interior de esta Secretaría de Gobernación, SE AUTORIZA EL OTORGAMIENTO DE LA CONDICIÓN DE ESTANCIA DE VISITANTE CON PERMISO PARA REALIZAR ACTIVIDADES REMUNERADAS, por ubicarse en la hipótesis [NUMERO DE FRACCION] prevista en el artículo 111 de la Ley de Migración, al extranjero cuyos datos aparecen en el cuerpo del presente oficio:
</p>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(0, 0, 0);" colspan="3">Datos personales del extranjero:</td>
        </tr>
        <tr>
            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">1. Nombre completo:<br><br><strong>[Nombre y Apellido]</strong></td>
            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">2. Nacionalidad<br><br><strong>[Nacionalidad]</strong></td>
            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">3. Sexo<br><br><strong>[Sexo]</strong></td>
        </tr>
        <tr>
            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">**Documento y n&uacute;mero con el que se identifica el extranjero<br><br>Documento: <strong>[Tipo de documento]</strong><br><br>N&uacute;mero: <strong>[N&uacute;mero]</strong></td>
            <td style="width: 33.3333%; text-align: left; border: 1px solid rgb(0, 0, 0);">
                <div style="text-align: left;">4. Pa&iacute;s de Nacimiento&nbsp;</div>
                <br><strong>[Lugar de nacimiento]</strong>
            </td>
            <td style="width: 33.3333%; border: 1px solid rgb(0, 0, 0);">5. Fecha de Nacimiento<br><br><strong>[DD/MM/AAAA]</strong></td>
        </tr>
    </tbody>
</table>
<p style="font-weight: bold; text-decoration: underline;">
    Importante:
</p>
<p>
    El documento provisional tiene una vigencia de 180 días contados a partir de la fecha que el mismo indica. Se previene al extranjero en términos del artículo 17 de la Ley Federal del Procedimiento Administrativo, a dar seguimiento al procedimiento indicado en esta área, hasta en tanto no obtenga una resolución definitiva de su situación migratoria.
</p>
<p>
    El portador de este documento provisional, deberá renovarlo dentro de los 10 días anteriores a la fecha de vencimiento.
</p>
<p>
    Esta condición de estancia sólo se otorgará al extranjero, mientras subsista el supuesto por el que se le autorizó y agotado el mismo, el Instituto deberá determinar la situación migratoria del extranjero.
</p>
<p>
    Se autoriza el otorgamiento en la Condición de Estancia de visitante con permiso para realizar actividades remuneradas por encontrarse en la hipótesis I del artículo 111 de la Ley de Migración.
</p>
<div style="margin-left: 1cm; margin-right: 1cm;">
    <ol style="list-style-type: upper-roman;">
        <li>Que no exista información fehaciente sobre su identidad y/o nacionalidad, o exista dificultad para la obtención de los documentos de identidad y viaje; o :</li>
        <li>Que los consulados o secciones consulares del país de origen o residencia requieran mayor tiempo para la expedición de los documentos de identidad y viaje;</li>
        <li>Que exista impedimento para su tránsito por terceros países u obstáculo para establecer el itinerario de viaje al destino final;</li>
        <li>Que exista enfermedad o discapacidad física o mental médicamente acreditada que imposibilite viajar al migrante presentado, y</li>
        <li>Que se haya interpuesto un recurso administrativo o judicial en que se reclamen cuestiones inherentes a su situación migratoria en territorio nacional; o se haya interpuesto un juicio de amparo y exista una prohibición expresa de la autoridad competente para que el extranjero pueda ser trasladado o para que pueda abandonar el país.</li>
    </ol>
</div>
<p>
    Finalmente se hace de conocimiento a la extranjera que se sujeta a control de firma en el libro de extranjeros que lleva 
    esta [NOMBRE DE ESTACIÓN MIGRATORIA], con domicilio en [DOMICILIO DE ESTACION MIGRATORIA] hasta en tanto subsista el supuesto por el cual le es otorgado el presente oficio. Asimismo apercíbase a la extranjera de que en caso de incumplimiento a la presente determinación, se hará acreedor a las sanciones que conforme a la Ley de la materia procedan y deberá comparecer ante esta autoridad migratoria cuantas veces sea requerido, igualmente esta autoridad migratoria se reserva la facultad de dictar nuevamente la presentación de la extranjera por cuestiones supervinientes. Se hace la aclaración de que el presente documento tiene el carácter de temporal y no representa la autorización de esta autoridad para acreditar la condición de residente temporal o permanente, tampoco autoriza el tránsito por territorio nacional como uso de oficio de libre tránsito.
</p>
<div style="text-align: center;">
    <p><strong>As&iacute; lo firma y autoriza <br>[Cargo AC]</strong></p>
    <p style="width: 50%; text-align: center; border-bottom: 1px solid black; height: 20px; margin: 0 auto; padding: 10px;"></p>
    <strong>TITULO [Nombre y Apellido]</strong>
</div> 
{% endblock %}