{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficiona de representacion]
<br>[Estacion Migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expedientes]
{% endblock %}

{% block title %}
<title>
    Acuerdo de egreso de instalaci&oacute;n 
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO DE EGRESO DE INSTALACI&Oacute;N MIGRATORIA</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    <strong>1.-&nbsp;</strong>[FECHA DE ALOJAMIENTO], [BREVE DESCRIPCIÓN DE MOTIVO DE ALOJAMIENTO] del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], a efecto de que sea alojado provisionalmente para que se resuelva su situación migratoria en el país.
    <br>
    <strong>2.-&nbsp;</strong>[FECHA DE CUMPLIMIENTO], se tuvo por recibido el oficio 
    [NÚMERO DE OFICIO DEL JUZGADO], mediante el cual se notifica acuerdo suscrito por 
    [NOMBRE DE LA AUTORIDAD JUDICIAL QUE ORDENA EL EGRESO], mediante el cual en lo que interesa se transcribe: 
    [BREVE DESCRIPCIÓN DE ORDEN PARA CUMPLIMIENTO].
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Con fundamento en lo dispuesto en los artículos 1, 11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos; 26 de la Ley Orgánica de la Administración Pública Federal; 2° inciso c) fracción III, 69, 70, 77 fracción II, inciso C, 92 fracción II del Reglamento Interior de la Secretaría de Gobernación; 1, 2, 5, 7, 11, 12, 13 fracciones I y III, 14, 16, 19, 20 fracciones III y VII, 66, 67, 68, 70, 77, 79, 80, 99, 100 y 111 de la Ley de Migración; 1, 2, 55, 194, 222, 232 y 233 del Reglamento de la Ley de Migración; 1, 3, 9, 12, 13, 16 fracciones I, III, IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35 fracción I, 36, 38, 39, 44 y 49 de la Ley Federal del Procedimiento Administrativo y 14 fracción V del Acuerdo por el que se emiten las normas para el funcionamiento de las Estaciones migratorias y Estancias provisionales del Instituto Nacional de Migración; esta autoridad:
</p>
<p class="centrado">
    <strong>ACUERDA</strong>
</p>
<p>
    <strong>PRIMERO.-&nbsp;</strong>En estricto cumplimiento a lo ordenado por el 
    [NOMBRE DE LA AUTORIDAD JUDICIAL QUE ORDENA EL EGRESO], se permite el egreso del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], sin embargo, a efecto de que continúen con la tramitación de su Procedimiento Administrativo Migratorio queda sujeto a firma en el libro de extranjeros que lleva esta 
    [NOMBRE DE ESTACIÓN MIGRATORIA], con domicilio en [DOMICILIO DE ESTACION MIGRATORIA], hasta en tanto se resuelva su situación migratoria y a su vez se resuelva el juicio de amparo que nos ocupa.
</p>
<p>
    <span style="text-decoration: underline; font-weight: bold;">
        El extranjero queda enterado que en caso de incumplir con lo anterior, se emitirá la alerta migratoria correspondiente;
    </span>
    &nbsp;ello de conformidad con lo establecido en el artículo 216 del Reglamento de la Ley de Migración, que a la letra dice:
</p>
<p style="font-style: italic; font-size: 13px;">
    <strong>“Artículo 216</strong>. Una vez cumplidos los requisitos, la autoridad migratoria emitirá un acuerdo debidamente fundado y motivado, a través del cual se resuelva la custodia.
    <span style="text-decoration: underline;"> <br> <br>
        Durante el período que dure la custodia, la persona extranjera deberá comparecer periódicamente, conforme lo determine la autoridad migratoria.
    </span> <br> <br>
    <span style="text-decoration: underline; font-weight: bold;">
        Otorgada la custodia, y en caso de que la persona extranjera se sustraiga a dicho cumplimiento, se dejará sin efectos la misma, haciéndose efectiva la garantía otorgada y emitiéndose la alerta migratoria correspondiente.
    </span>
    &nbsp;Asimismo, la persona moral o institución involucrada será inelegible por el Instituto en futuras solicitudes de otorgamiento de custodia, a menos que lo autorice la Secretaría mediante oficio debidamente fundado y motivado.”
</p>
<p>
    Así como lo establecido en el artículo 149 de la Ley de Migración:
</p>
<p style="font-style: italic; font-size: 13px;">
    <strong>“Artículo 149</strong>. A cualquier particular que reciba en custodia a un extranjero y permita que se sustraiga del control del Instituto, se le sancionará con multa de quinientos a dos mil días de salario mínimo general vigente en el Distrito Federal, sin perjuicio de las responsabilidades en que incurra cuando ello constituya un delito y de que se le haga efectiva la garantía prevista en el artículo 102 de esta Ley.”
</p>
<p>
    Preceptos que deberán aplicarse por analogía y por tener íntima relación con la obligación incumplida por el quejoso extranjero; pues la única forma de llevar su procedimiento administrativo migratorio fuera de estas instalaciones, es bajo la figura de la custodia. Sin embargo, esta autoridad derivado de la concesión de la suspensión permite su egreso, quedando imposibilitada para ejercer sus atribuciones que legalmente le corresponden, por lo que únicamente se puede sujetar a los quejosos al control de firmas, sin que haya ofrecido como corresponde, garantía alguna ante esta autoridad.
    <br>
    <strong>SEGUNDO.-</strong> Permítase el egreso de estas instalaciones del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD] en cumplimiento [BREVE DESCRIPCIÓN DE CUMPLIMIENTO].
    <br>
    Notifíquese al extranjero de mérito, la presente determinación, para que surta los efectos legales a que haya lugar.
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[CARGO AC]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
{% endblock %}