{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion] 
{% endblock %}

{% block title %}
<title>Filiaci&oacute;n</title>
{% endblock %}

{% block content %}
<div class="centrado">
    <strong>FILIACI&Oacute;N</strong>
</div>
<div>
    Nombre:
    <br>Género:
    <br>Fecha de nacimiento:
    <br>Edad:
    <br>Lugar de nacimiento:
    <br>Residencia:
    <br>Estado civil:
    <br>Ocupación: Grado de estudio:
    <br>Nombre del padre: Nombre de la Madre:
</div> <br>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 33.3333%;">Estatura:</td>
            <td style="width: 33.3333%;">Tipo de cabello:</td>
            <td style="width: 33.3333%;">Frente:&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Cejas:</td>
            <td style="width: 33.3333%;">Bigote:</td>
            <td style="width: 33.3333%;">Color de ojos:</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Nariz:</td>
            <td style="width: 33.3333%;">Complexi&oacute;n:</td>
            <td style="width: 33.3333%;">Boca:</td>
        </tr>
        <tr>
            <td style="width: 33.3333%;">Labios:&nbsp;</td>
            <td style="width: 66.6667%;" colspan="2">Se&ntilde;as particulares:&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 100%;" colspan="3">Observaciones:&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Huelas dactilares:</strong>
</p>
<div style="text-align: center; font-weight: bold;">Mano derecha</div>
<table style="width: 100%; border-collapse: collapse; height: 3cm; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
        </tr>
        <tr>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(1) Me&ntilde;ique</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(2) Anular&nbsp;</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(3) Medio</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><b>(4) &Iacute;ndice&nbsp;</b><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(5) Pulgar</strong><br></td>
        </tr>
    </tbody>
</table> <br>
<div style="text-align: center; font-weight: bold;">Mano Izquierda</div>
<table style="width: 100%; border-collapse: collapse; height: 3cm; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 20%; height: 3cm; border: 1px solid rgb(0, 0, 0);"><br></td>
        </tr>
        <tr>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(6) Pulgar</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(7) &Iacute;ndice&nbsp;</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(8) Medio</strong><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><b>(9) Anular&nbsp;</b><br></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>(10) Me&ntilde;ique</strong><br></td>
        </tr>
    </tbody>
</table>
<p style="border-top: 1px solid #000; width: 50%; margin: 80px auto 0; padding-top: 10px; text-align: center;">
    [Nombre Extranjero]&nbsp;[Apellido]&nbsp;[Apellido] 
    <br> [Nacionaliad]
</p>
{% endblock %}