{% extends "documentos/base.html" %}

{% block header %}
<br>[OFICINA DE REPRESENTACION] 
<br>[ESTACION MIGRATORIA] 
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="centrado">
    <strong>INVENTARIO DE PERTENENCIAS Y VALORES</strong>
</div>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 19.7078%; border: 1px solid rgb(5, 5, 5);" rowspan="4"></td>
            <td style="width: 80.2209%; text-align: center; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);" colspan="4">
                <div style="text-align: center;"><strong><span style="color: rgb(239, 239, 239);">FICHA DE INGRESO DEL EXTRANJERO (A)</span></strong></div>
                <strong><span style="color: rgb(239, 239, 239);">Datos Generales</span></strong>
            </td>
        </tr>
        <tr>
            <td style="width: 80.2209%; border: 1px solid rgb(5, 5, 5);" colspan="4"><strong>Nombre:</strong></td>
        </tr>
        <tr>
            <td style="width: 23.4162%; border: 1px solid rgb(5, 5, 5);"><strong>Nacionalidad:</strong></td>
            <td style="width: 17.8008%; border: 1px solid rgb(5, 5, 5);"><strong>G&eacute;nero:</strong></td>
            <td style="width: 20%; border: 1px solid rgb(5, 5, 5);"><strong>Fecha de entrada:</strong></td>
            <td style="width: 20%; border: 1px solid rgb(5, 5, 5);"><strong>No. de extranjero:</strong></td>
        </tr>
        <tr>
            <td style="width: 23.4162%; border: 1px solid rgb(5, 5, 5);"><strong>Fecha de nacimiento:</strong></td>
            <td style="width: 17.8008%; border: 1px solid rgb(5, 5, 5);"><strong>Edad:</strong></td>
            <td style="width: 40.0425%; border: 1px solid rgb(5, 5, 5);" colspan="2"><strong>Documento de identidad:</strong></td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);" colspan="4">
                <div style="text-align: center;"><strong><span style="color: rgb(239, 239, 239);">Relaci&oacute;n de pertenencias&nbsp;</span></strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 18.2971%; text-align: center; border: 1px solid rgb(5, 5, 5);"><strong>Equipaje</strong></td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"><strong>Cantidad</strong></td>
            <td style="width: 14.7571%;  text-align: center;border: 1px solid rgb(5, 5, 5);"><strong>Color</strong></td>
            <td style="width: 62.4522%; text-align: center; border: 1px solid rgb(5, 5, 5);"><strong>Observaciones</strong></td>
        </tr>
        <tr>
            <td style="width: 18.2971%; border: 1px solid rgb(5, 5, 5);">Maleta</td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 14.7571%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 62.4522%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 18.2971%; border: 1px solid rgb(5, 5, 5);">Mochila&nbsp;</td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 14.7571%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 62.4522%;  text-align: center;border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 18.2971%; border: 1px solid rgb(5, 5, 5);">Bolsa de Mano&nbsp;</td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 14.7571%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 62.4522%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 18.2971%; border: 1px solid rgb(5, 5, 5);">Bolsa de pl&aacute;stico</td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 14.7571%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 62.4522%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 18.2971%; border: 1px solid rgb(5, 5, 5);">Otros&nbsp;</td>
            <td style="width: 12.2747%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 14.7571%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 62.4522%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 15%; text-align: center; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);"><strong><span style="color: rgb(255, 255, 255);">Aparatos Electr&oacute;nicos</span></strong></td>
            <td style="width: 8%; text-align: center; border: 1px solid r5gb(5, 5, 5); background-color: rgb(0, 0, 0);"><strong><span style="color: rgb(255, 255, 255);">Cantidad&nbsp;</span></strong></td>
            <td style="width: 10%; text-align: center; border: 1px solid Samsungrgb(5, 5, 5); background-color: rgb(0, 0, 0);"><strong><span style="color: rgb(255, 255, 255);">Marca</span></strong></td>
            <td style="width: 12%; text-align: center; border: 1px sFVFJKJ0BQ6L4olid rgb(5, 5, 5); background-color: rgb(0, 0, 0);"><strong><span style="color: rgb(255, 255, 255);">No. de serie</span></strong></td>
            <td style="width: 20%; text-align: center; border: 1px solid Nuevo con cajargb(5, 5, 5); background-color: rgb(0, 0, 0);"><strong><span style="color: rgb(255, 255, 255);">Observaciones</span></strong></td>
        </tr>
        <tr>
            <td style="width: 15%; border: 1px solid rgb(5, 5, 5);">Tel&eacute;fono celular</td>
            <td style="width: 8%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 10%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 12%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 15%; border: 1px solid rgb(5, 5, 5);">Reproductor m&uacute;sica</td>
            <td style="width: 8%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 10%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 12%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 15%; border: 1px solid rgb(5, 5, 5);">Computadora&nbsp;</td>
            <td style="width: 8%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 10%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 12%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 15%; border: 1px solid rgb(5, 5, 5);">C&aacute;mara fotogr&aacute;fica</td>
            <td style="width: 8%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 10%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 12%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
        <tr>
            <td style="width: 15%; border: 1px solid rgb(5, 5, 5);">Otros&nbsp;</td>
            <td style="width: 8%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 10%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 12%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(5, 5, 5);"></td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 99.9287%; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);" colspan="2">
                <div style="text-align: center;"><strong><span style="color: rgb(255, 255, 255);">Efectivo&nbsp;</span></strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 50%; border: 1px solid rgb(5, 5, 5);">Importe:&nbsp;</td>
            <td style="width: 50%; border: 1px solid rgb(5, 5, 5);">Tipo de moneda:</td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 99.9287%; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);" colspan="2">
                <div style="text-align: center;"><strong><span style="color: rgb(255, 255, 255);">Alhajas</span></strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 50%; border: 1px solid rgb(5, 5, 5);">Metal:</td>
            <td style="width: 50%; border: 1px solid rgb(5, 5, 5);">Descripci&oacute;n:&nbsp;</td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(5, 5, 5);">
    <tbody>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(5, 5, 5); background-color: rgb(0, 0, 0);">
                <div style="text-align: center;"><strong><span style="color: rgb(255, 255, 255);">Documentaci&oacute;n y otros objetos&nbsp;</span></strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(5, 5, 5);">1.</td>
        </tr>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(5, 5, 5);">2.</td>
        </tr>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(5, 5, 5);">3.</td>
        </tr>
    </tbody>
</table>
<div class="columnas">
    <div class="columna">
        <p class="firma">[Postgrado] [Nombre] [Paterno] [Materno], [Puesto] 
            <br> Autoridad migratoria que recibe</p>
    </div>
    <div class="columna">
        <p class="firma">[Nombre Extranjero] [Paterno] [Materno]</p>
    </div>
</div>
{% endblock %}