{% extends "documentos/base.html" %}

{% block header %}
<br>[OFICINA O ESTACION] 
{% endblock %}

{% block title %}
<title>Constancia de llamadas telefónicas</title>
{% endblock %}

{% block content %}
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(0, 0, 0);"><strong>En cumplimiento a lo establecido en las disposiciones contenidas en los art&iacute;culos, 109 fracci&oacute;n VII de la Ley de Migraci&oacute;n; 226 fracci&oacute;n IX, 232 fracci&oacute;n IV y 237 del Reglamento de la Ley de Migraci&oacute;n; 18 y 24 fracci&oacute;n IX&nbsp;</strong>del Acuerdo por el que se Emiten las Normas para el Funcionamiento de las Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migraci&oacute;n, se levanta la presente:<div style="text-align: center;"><strong>Constancia de llamadas telef&oacute;nicas&nbsp;</strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; border: 1px solid rgb(0, 0, 0);">
                <p><strong>Nombre:</strong> &nbsp;[NOMBRE(S) DEL EXTRANJERO] [PRIMER APELLIDO] [SEGUNDO APELLIDO]</p>
                <p><strong>Nacionalidad:</strong> [NACIONALIDAD]</p>
                <p><strong>Fecha de ingreso:</strong> [FECHA DE REGISTRO]</p>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table style="width: 100%; border-collapse: collapse; padding: 10px; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 99.7862%; padding: 10px; border: 1px solid rgb(0, 0, 0);" colspan="7">
                <div style="text-align: center;"><strong>Llamadas</strong></div>
            </td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>No&deg;</strong></td>
            <td style="width: 10.367%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>Fecha</strong>&nbsp;</td>
            <td style="width: 33.4636%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>Firma</strong> </td>
            <td style="width: 2.1382%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);" rowspan="9"><br></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>No&deg;</strong></td>
            <td style="width: 11.9053%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>Fecha</strong>&nbsp;</td>
            <td style="width: 34.424%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>Firma</strong>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>1</strong>
                <div style="text-align: center;"></div>
            </td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>11</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>2</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>12</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>3</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>13</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>4</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>14</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>5</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>15</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>6</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>16</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>7</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>17</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>8</strong>
                <div style="text-align: center;"></div>
            </td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>18</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>9</strong></td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1382%; padding: 10px; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>19</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
        <tr>
            <td style="width: 3.1718%; padding: 10px; border: 1px solid rgb(0, 0, 0);">
                <div style="text-align: center;"><strong>10</strong></div>
            </td>
            <td style="width: 10.367%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 33.4636%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1382%; padding: 10px; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 2.1383%; text-align: center; padding: 10px; border: 1px solid rgb(0, 0, 0);"><strong>20</strong></td>
            <td style="width: 11.9053%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
            <td style="width: 34.424%; padding: 10px; text-align: center; border: 1px solid rgb(0, 0, 0);"></td>
        </tr>
    </tbody>
</table>
<div class="columnas">
    <div class="columna">
        <p class="firma">[Nombre del usuario] [paterno] [materno],
            <br> Que proporciono el bien servicio
        </p>
    </div>
    <div class="columna">
        <p class="firma">[Nombre del usuario] [Paterno] [Materno],
            <br> Que superviso el bien servicio 
        </p>
    </div>
</div>
{% endblock %}