{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion Migratoria]
{% endblock %}

{% block title %}
<title>
    Constancia de no lesiones 
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>
        DIRECCI&Oacute;N GENERAL DE CONTROL Y VERIFICACI&Oacute;N MIGRATORIA 
        <br> DIRECCI&Oacute;N DE RESOLUCIONES MIGRATORIAS
    </strong>
</p>
<div style="text-align: right;">
    Expediente n&uacute;mero:
    <br> [cd],[fecha]
</div>
<div style="border-top: 3px solid #000; margin-top: 0.5cm;"></div>
<p class="centrado">
    <strong>
        DIRECCI&Oacute;N GENERAL DE CONTROL Y VERIFICACI&Oacute;N MIGRATORIA 
    </strong>
</p>
<p class="centrado">
    <strong>A S U N T O:&nbsp;</strong>CONSTANCIA DE NO LESIONES.
</p>
<p>
    SE HACE CONSTAR QUE LA PERSONA EXTRANJERA DE NOMBRE <strong>[NOMBRE DEL EXTRANJERO],</strong>&nbsp;
    DE NACIONALIDAD <strong>[NACIONALIDAD],</strong>&nbsp;A SIMPLE VISTA [SI O NO] MUESTRA LESI&Oacute;N 
    F&Iacute;SICA, LO CUAL SE CORROBORA CON SUS PROPIAS MANIFESTACIONES, QUE EXPRESA DE MANERA VOLUNTARIA.
</p>
<P>
    LO ANTERIOR, CON LA FINALIDAD DE DAR CUENTA DE LAS CONDICIONES Y EL ESTADO F&Iacute;SICO QUE PRESENTA
    LA PERSONA EXTRANJERA AL MOMENTO EN EL QUE SE APERSON&Oacute; EN LAS INTALACIONES QUE OCUPA LA ESTACI&Oacute;N 
    MIGRATORIA DE LA [CIUDAD]. 
</P>
<div class="columnas">
    <div class="columna">
        <p><strong>EL SUBDIRECTOR DE RESOLUCIONES</strong></p>
        <p class="firma">Lic. [Nombre y Apellido]</p>
    </div>
    <div class="columna">
        <p><strong>EL EXTRANJERO</strong></p>
        <p class="firma">[Nombre y Apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p class="firma">[Nombre y Apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">[Nombre y Apellido]</p>
    </div>
</div>
{% endblock %}