{% extends "documentos/base.html" %}

{% block header %}
<br>{{extranjero.deLaEstacion.oficina|upper}}
<br>{{extranjero.deLaEstacion.nombre|upper}}
<br>{{extranjero.deLaEstacion.estado|upper}}, {{ oficio.fechaHora|date:"d \d\e F \d\e Y"|upper }}
<br>{{oficio.numeroExpediente|upper}} 
<br>
<br>NÚMERO DE OFICIO:{{oficio.oficio}}
<br>Asunto: Se solicita representación legal.
{% endblock %}

{% block content %}
<p>
    {{defensoria.nombreTitular}} {{defensoria.apellidoPaternoTitular}} {{defensoria.apellidoMaternoTitular}}
    <br>{{defensoria.cargoTitular}} 
    <br>{{defensoria.direccion_completa}} 
    <br>{{defensoria.email1}} 
    <br>(SE DEBERÁ CONSIDERAR EN LAS OFICINAS DE REPRESENTACIÓN NOTIFICAR  A LA DEFENSORÍA LOCAL 
    EN CASO DE NO TENER SEDE DEL CONSEJO DE LA JUDICATURA FEDERAL)
    <br><strong>Presente.</strong>
</p>
<p>
    Por este conducto y de conformidad a lo publicado el día 08 de septiembre del 2023, dentro del Semanario Judicial de la Federación, por la Suprema Corte de Justicia de la Nación, 1ª sala dentro de la tesis 1ª./J.113/2023 (11ª.) tipo Jurisprudencia, por el cual se acordó que dentro del “PROCEDIMIENTO ADMINISTRATIVO MIGRATORIO.- LAS PERSONAS MIGRANTES TIENEN DERECHO A UNA DEFENSA ADECUADA IRRENUNCIABLE COMO GARANTÍA DE DERECHO AL DEBIDO PROCESO”.
</p>
<p>
    Al respecto, me permito señalar que atendiendo al principio del debido proceso de aquellas personas extranjeras puestas a disposición ante esta autoridad migratoria, se recibió el oficio 
   <strong>{% if extranjero.deLaPuestaIMN  %}{{extranjero.deLaPuestaIMN.identificadorProceso}} {% elif extranjero.deLaPuestaAC %}{{extranjero.deLaPuestaAC.identificadorProceso }}{% else %}{{extranjero.deLaPuestaVP.identificadorProceso}}{% endif %} </strong>de fecha <strong> {% if extranjero.deLaPuestaIMN  %}{{extranjero.deLaPuestaIMN.fechaOficio}} {% elif extranjero.deLaPuestaAC %}{{extranjero.deLaPuestaAC.fechaOficio}}{% else %}{{extranjero.deLaPuestaVP.fechaOficio}}{% endif %} </strong> suscrito por 
   <strong> {{oficio.autoridadActuante}} </strong>, a las <strong>{{oficio.fechaHora|time:"H:i"}} </strong> horas para dar inicio al procedimiento administrativo migratorio a la persona extranjera que dijo llamarse 
   <strong> {{extranjero.nombreExtranjero}} {{extranjero.apellidoPaternoExtranjero}} {% if extranjero.apellidoMaternoExtranjero %}{{extranjero.apellidoMaternoExtranjero}}{% endif %} </strong> de nacionalidad <strong>{{extranjero.nacionalidad.nombre}} </strong>  con fecha de nacimiento 
   <strong> {{extranjero.fechaNacimiento}}</strong>, por lo que se requiere la presencia de personal de esa Defensoría Pública para su nombramiento formal por parte del interesado en su representación dentro de la sustanciación del procedimiento instaurado, hasta la resolución definitiva del mismo. 
</p>
<p>
    No omito informar que esta autoridad migratoria cuenta con 36 horas para resolver la situación migratoria del extranjero,  por lo que para tales efectos se requiere de celeridad en el procedimiento instaurado y la presencia de un defensor de oficio a la brevedad respetando el principio al debido proceso.
</p>
<p>
    Para tales efectos sito el domicilio en <strong>{{defenso.nup.extranjero.deLaEstacion.direccion_completa}}</strong>, a fin de llevar a cabo las actuaciones referentes al nombramiento y demás aplicativas al procedimiento administrativo migratorio
</p>
<p>
    Saludos cordiales.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>RESPETUOSAMENTE</strong></p>
        <img src="{{ firma_url }}" alt="Firma de la Autoridad Actuante" style="display: block; margin: 0 auto; max-width: 100%; max-height: 100%; margin-bottom: -90px;" >

        <p class="firma">Lic. {{defenso.autoridadActuante.autoridad}}
            <br>{{defenso.autoridadActuante.cargo}}
        </p>
    </div>
    <div class="columna">
        <p style="display: none;"><strong>Campo para otra firma</strong></p>
        <p class="firma" style="display: none;">[nombre]x</p>
    </div>
</div>
{% endblock %}