{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br><br>N&Uacute;MERO DE OFICIO: INM/---/---/---/AÑO
{% endblock %}

{% block title %}
<title>
    Solicitud de refugio a fiscalía
</title>
{% endblock %}

{% block content %}
<div style="text-align: right;">
    <strong>
        Asunto: DENUNCIA DE PRESUNTO HECHO ILICITO 
    </strong>
</div>
<p>
    <strong>
        FISCALÍA GENERAL DE LA REPÚBLICA / FISCALÍA GENERAL DEL JUSTICIA DEL ESTADO DE [NOMBRE DEL ESTADO]
    </strong>
    <br>
    {{fiscalia.direccion_completa|upper}}
    <br><strong>PRESENTE.</strong>
</p>
<p>
    De conformidad con lo dispuesto por los artículos 73, 92 de la Ley de Migración; artículos 179 fracciones III y IV, 181 del Reglamento de la Ley de Migración, me permito solicitar a usted su intervención en la denuncia de hechos probablemente delictivos, manifestados por el extranjero que abajo se enlista, a través de comparecencia rendida en 
    fecha [FECHA DE COMPARECENCIA DONDE MANIFESTA EL HECHO ILÍCITO] dentro de su procedimiento administrativo migratorio, en virtud de encontrarse presentado y alojado en las instalaciones de 
    esta [ESTACIÓN MIGRATORIA/ESTANCIA PROVISIONAL].
</p>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 5%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>No</strong>.&nbsp;</td>
            <td style="width: 45%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Nombre</strong></td>
            <td style="width: 15%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Fecha de Nac.</strong></td>
            <td style="width: 15%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Nacionalidad</strong>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 5%; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 45%; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 15%; border: 1px solid rgb(0, 0, 0);"><br></td>
            <td style="width: 15%; border: 1px solid rgb(0, 0, 0);"><br></td>
        </tr>
    </tbody>
</table>
<p>
    Cabe señalar que la ubicación física de la [ESTACIÓN MIGRATORIA] donde se encuentra alojado el extranjero en 
    comento [DIRECCIÓN DE LA UBICACIÓN DE LA EM], del cual es su deseo levantar la denuncia formal por el hecho presuntamente ilícito en su condición 
    de [VÍCTIMA/TESTIGO] ante esa autoridad ministerial.
</p>
<p>
    Sin otro particular por el momento, reciba un cordial saludo.
</p>
<div style="text-align: center;">
    <p><strong>RESPETUOSAMENTE</strong></p>
    <p style="width: 50%; text-align: center; border-bottom: 1px solid black; height: 20px; margin: 0 auto; padding: 10px;"></p>
    <strong>
        LIC. [NOMBRE DE LA AUTORIDAD ACTUANTE]
        <br>
        [CARGO DE LA AUTORIDAD ACTUANTE]
    </strong>
</div>
{% endblock %}