{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br><br>N&Uacute;MERO DE OFICIO: INM/---/---/---/AÑO
{% endblock %}

{% block title %}
<title>
    Notificaci&oacute;n consular 
</title>
{% endblock %}

{% block content %}
<div style="text-align: right;">
    <strong>Asunto: Notificaci&oacute;n Consular</strong>
</div>
<p>
    {% if consulado %}
    <strong>SR. CÓNSUL GENERAL DE {{ consulado.pais.Abreviatura|upper }}</strong>
    <br> {{ consulado.direccion_completa|upper }}
    <br> {{consulado.email|upper}}
    <br><strong>PRESENTE.</strong>
    {% else %}
    <strong>SR. CÓNSUL GENERAL DE [PAÍS DESTINATARIO] EN MÉXICO</strong>
    <br> [DIRECCIÓN FÍSICA DEL CONSULADO]
    <br> [CORREO ELECTRÓNICO DEL CONSULADO]
    <br><strong>PRESENTE.</strong>
    {% endif %} 

</p>
<p>
    Por medio del presente se solicita de su valioso apoyo a efecto de solicitar la expedición del pasaporte provisional en caso de  acreditar la identidad y nacionalidad de la persona extranjera que se enlista a continuación, mismo que fue puesto a disposición de este Instituto y ha manifestado ser connacional del país que usted dignamente representa.
</p>
<table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(0, 0, 0);">
    <tbody>
        <tr>
            <td style="width: 5%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>No</strong>.&nbsp;</td>
            <td style="width: 20%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Nombre</strong></td>
            <td style="width: 15%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Fecha de Nac.</strong></td>
            <td style="width: 15%; text-align: center; border: 1px solid rgb(0, 0, 0);"><strong>Nacionalidad</strong>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 5%; border: 1px solid rgb(0, 0, 0);"><br><strong>1.</strong></td>
            <td style="width: 20%; border: 1px solid rgb(0, 0, 0);"><br> <strong>
                {{ extranjero.nombreExtranjero }} {{ extranjero.apellidoPaternoExtranjero }}
                {% if extranjero.apellidoMaternoExtranjero %}
                    {{ extranjero.apellidoMaternoExtranjero }}
                {% endif %}
            </strong></td>
            <td style="width: 15%; border: 1px solid rgb(0, 0, 0);"><br><strong>{{extranjero.fechaNacimiento}}</strong></td>
            <td style="width: 15%; border: 1px solid rgb(0, 0, 0);"><br><strong>{{extranjero.nacionalidad.nombre}}</strong></td>
        </tr>
    </tbody>
</table>
<p>
    Es preciso señalar que de acuerdo a las Tesis: 
    <strong>1a./J. 111/2023 (11a.) y 1a./J. 112/2023 (11a.)</strong>
    emitidas por la Suprema Corte de Justicia de la Nación, respecto al alojamiento de personas en instalaciones migratorias la cual no debe ser superior a las 36 horas; se requiere respetuosamente que su respuesta sea en un plazo no mayor de 
    <strong>12 horas</strong> 
    contados a partir de la recepción de la presente notificación, esto último con la finalidad de no vulnerar sus derechos humanos y garantizar el debido proceso
</p>
<p>
    En cumplimiento a lo dispuesto por el artículo	 36, numeral 1, inciso b de la Convención de Viena sobre Relaciones Consulares de 1963 y 69 fracción IV de la Ley de Migración, a efecto de que los documentos solicitados nos apoye a definir la situación migratoria de los extranjeros de mérito. 
</p>
<p>
    No se omite mencionar que la 
    {% if accion %}
    <strong>{{accion}}</strong>
    {% else %}
    <strong>[DEPORTACIÓN/RETORNO ASISTIDO]</strong> 
    {% endif %}de dicha persona extranjera está siendo programada a la brevedad posible, motivo por el cual requerimos de su invaluable apoyo para la emisión del documento de viaje y así estar en posibilidad de comprar los boletos de avión correspondientes. 
    <strong>{{accion}}</strong>
</p>
<p>
    Sin otro particular, le reitero las seguridades de mi atenta y distinguida consideración.
</p>
<div style="text-align: center;">
    <p><strong>RESPETUOSAMENTE</strong></p>
    <p style="width: 50%; text-align: center; border-bottom: 1px solid black; height: 20px; margin: 0 auto; padding: 10px;"></p>
    {% if autoridad_actuante%}
    <strong>
        LIC. {{autoridad_actuante|upper}}
        <br>
        {{autoridad_actuante.cargo|upper}}
    </strong>
    {% else %}
    <strong>
        LIC. [NOMBRE DE LA AUTORIDAD ACTUANTE]
        <br>
        [CARGO DE LA AUTORIDAD ACTUANTE]
    </strong>
    
    {% endif %}
   
  
</div>
{% endblock %}