{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expediente]
{% endblock %}

{% block title %}
<title>
    Presentaci&oacute;n
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>PRESENTACI&Oacute;N</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    Que en seguimiento al expediente administrativo migratorio del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], esta autoridad obtendrá las pruebas que dentro de los términos legales existan para mejor proveer el caso en específico, lo anterior con fundamento en lo dispuesto por el artículo 79, toda vez que la presentación es de orden público y de carácter general de acuerdo a lo dispuesto por los artículos 94, 99 y 100 de la Ley Migración.
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Por lo que con fundamento en lo dispuesto en los artículos 1,11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos, 1, 2, 6, 7, 12, 13, 14, 20 fracciones VII y XII, 66, 67, 68, 69, 70, 77, 79, 99, 100,109, 111, 121,144 de la Ley de Migración; 1, 2, 55, 58, , 222, 232 y 233 del Reglamento de la Ley de Migración publicado en el Diario Oficial de la Federación en fecha 28 de septiembre de 2012 vigente a partir del 09 de noviembre de 2012; 1, 3, 9, 12, 13, 16 fracciones I, III, IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35, 36, 38, 39, 44 y 49 de la Ley Federal del Procedimiento Administrativo; y lo correspondiente a lo señalado en el Reglamento Interior de la Secretaría de Gobernación.
</p>
<p class="centrado">
    <strong>ACUERDA</strong>
</p>
<p>
    <strong>PRIMERO.-</strong> Manténgase con carácter de presentado al extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], hasta en tanto esta autoridad resuelva en definitiva su situación migratoria y ejecute la resolución que recaiga a su procedimiento administrativo migratorio.
    <br><strong>SEGUNDO.-</strong> Notifíquese al extranjero la presente determinación, lo anterior para que surta todos los efectos legales a los que haya lugar
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firma el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[Puesto o cargo ac]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
{% endblock %}