{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expediente]
{% endblock %}

{% block title %}
<title>
    Acuerdo de radicaci&oacute;n 
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO DE RADICACI&Oacute;N</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], 
    el Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] 
    adscrito a la [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración,  mismo que actúa ante la presencia de los testigos de asistencia que al final firman de conformidad.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    Que el día de la fecha se recibe la puesta a disposición número [NÚMERO OFICIO], 
    suscrito por el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], mediante el cual remite el expediente administrativo migratorio original abierto a nombre la persona extranjera 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], a fin de que esta autoridad 
    [RESUELVA, ALOJE Y/O EJECUTE] lo conducente respecto a su situación migratoria en territorio nacional
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Que esta dependencia es competente para conocer y continuar con el presente asunto en términos de lo dispuesto por los artículos 1, 11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos; artículos 6, 7, 11, 12, 18, 20 fracciones IV y VII, 70 segundo párrafo, 77, 109 fracción V, 111, 121, de la Ley de Migración; artículos 1, 12, 13, 16 fracciones III, V, VI, y X, 18, 28, 30, 46 de la Ley Federal del Procedimiento Administrativo;  artículo 131 fracciones I, II y III del Reglamento Interior de la Secretaría de Gobernación, publicado en el Diario Oficial de la Federación el 31 de mayo de 2019;. Por lo antes expuesto se:
</p>
<p class="centrado">
    <strong>ACUERDA</strong>
</p>
<p>
    <strong>PRIMERO.-</strong> Continúese el procedimiento administrativo migratorio en la etapa procedimental que se encuentra hasta en tanto 
    se [RESUELVA, ALOJE Y/O EJECUTE] la misma. <br>
    <strong>SEGUNDO.-</strong> De las constancias que integran el expediente migratorio instaurado al extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], se desprende que resulta procedente continuar con su presentación y alojamiento en las instalaciones que ocupa la Estación Migratoria de 
    [ESTACIÓN MIGRATORIA DE DESTINO], hasta en tanto esta autoridad en el ámbito de sus atribuciones resuelva lo conducente respecto a su situación migratoria. <br>
    <strong>TERCERO.-</strong> Regístrese el presente expediente bajo el número 
    [NUEVO NUMERO DE EXPEDIENTE] y anótese lo correspondiente en el Libro de Control que para ese efecto lleva autoridad. <br>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div style="text-align: center;">
    <p><strong>[Cargo AC]</strong></p>
    <p style="width: 50%; text-align: center; border-bottom: 1px solid black; height: 20px; margin: 0 auto; padding: 10px;"></p>
    <strong>Lic. [Nombre y Apellido]</strong>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma"><strong>Lic. [Nombre y Apellido]</strong></p>
    </div>
    <div class="columna">
        <p class="firma"><strong>Lic. [Nombre y Apellido]</strong></p>
    </div>
</div>
{% endblock %}