{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion Migratoria]
{% endblock %}

{% block title %}
<title>
    Receta Medica
</title>
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 style="color: blue;">RECETA M&Eacute;DICA</h1>
</div>
<div>
    <p>
        [NOMBRE DEL MEDICO]
        <br>[CEDULA PROFESIONAL]
    </p>
</div>
<table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 50%;"><strong>FECHA:</strong></td>
            <td style="width: 50%;"><strong>FECHA DE NACIMIENTO:&nbsp;</strong>[DD]/[MES]/[A&Ntilde;O]<br><strong>EDAD:&nbsp;</strong>[NUM] A&Ntilde;OS</td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NO. EXTRANJERO:</strong></td>
            <td style="width: 50%;"><strong>G&Eacute;NERO:</strong></td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NOMBRE:&nbsp;</strong>Adair Gustavo Montiel Hernandez</td>
            <td style="width: 50%;"><strong>NACIONALIDAD:</strong></td>
        </tr>
    </tbody>
</table>
<p><strong>Exploraci&oacute;n F&iacute;sica:</strong></p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50.0000%;"><strong>Temperatura:&nbsp;</strong></td>
            <td style="width: 50.0000%;"><strong>Tratamiento</strong>:&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 49.9195%; vertical-align: top;">
                <strong>
                    Frecuencia respiratoria:&nbsp;<br>
                    Presi&oacute;n arterial:&nbsp;<br>
                    Peso:&nbsp;<br>
                    Estatura:<br>
                    Oxigenaci&oacute;n:&nbsp;<br>
                    IMC:
                </strong>
            </td>
            <td style="width: 49.9195%; vertical-align: top;" rowspan="6"">
                &radic; Paracetamol 500mg cada 5 horas por 30 dias<br>
                &radic; Aspirina 100mg cada 8 horas por 5 dias<br>
                &radic; Jarabe 20mg cada 2 horas por 3 dias<br>
                &radic; Pastillas<br>
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 100.0000%;"><strong><br></strong></td>
        </tr>
    </tbody>
</table>
<p style="border-top: 1px solid #000; width: 50%; margin: 80px auto 0; padding-top: 10px; text-align: center;"><strong>FIRMA</strong></p>
{% endblock %}