{% extends "documentos/base.html" %}

{% block header %}
<br>{{oficina|upper}}
<br>{{estacion|upper}}
{% endblock %}

{% block title %}
<title>
    Receta Medica
</title>
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 style="color: blue;">RECETA M&Eacute;DICA</h1>
</div>
<div>
    <p>
        <strong>MEDICO:&nbsp;</strong>{{medico.nombreMedico}}&nbsp;{{medico.apellidosMedico}}
        <br><strong>CEDULA:&nbsp;</strong>{{medico.cedula}}
    </p>
</div>
<table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 50%;"><strong>FECHA:</strong>
                {{ receta.fechaHoraConsulta }}
            </td>
            <td style="width: 50%;"><strong>FECHA DE NACIMIENTO:&nbsp;</strong>
                    {{ extranjero.fechaNacimiento.day }}/{{ extranjero.fechaNacimiento.month }}/{{ extranjero.fechaNacimiento.year }}
                <br><strong>EDAD:&nbsp;</strong>
                    {{extranjero.edad}} A&ntilde;os</td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NO. EXTRANJERO:</strong>
                {{extranjero.numeroExtranjero}}
            </td>
            <td style="width: 50%;"><strong>G&Eacute;NERO:</strong>
                {{ extranjero.get_genero_display|title }}
            </td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NOMBRE:&nbsp;</strong>
                {{extranjero.nombreExtranjero}}&nbsp;{{extranjero.apellidoPaternoExtranjero}}&nbsp;{{extranjero.apellidoMaternoExtranjero}}
            </td>
            <td style="width: 50%;"><strong>NACIONALIDAD:</strong>
                {{ extranjero.nacionalidad.nombre }}
            </td>
        </tr>
    </tbody>
</table>
<p><strong>Exploraci&oacute;n F&iacute;sica:</strong></p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50.0000%;"><strong>Temperatura:&nbsp;</strong>
                {{ receta.temperatura }}
            </td>
            <td style="width: 50.0000%;"><strong>Tratamiento</strong>:&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 49.9195%; vertical-align: top;">
                <strong>
                    Frecuencia respiratoria:&nbsp; 
                    <span style="font-weight: normal;">{{ receta.frecuenciaRespiratoria }}</span> <br> 
                    Presi&oacute;n arterial:&nbsp;
                    <span style="font-weight: normal;">{{ receta.presionArterialSistolica }}</span> <br>
                    Peso:&nbsp;
                    <span style="font-weight: normal;">{{ receta.peso }}</span><br>
                    Estatura: 
                    <span style="font-weight: normal;">{{ receta.estatura }}</span><br>
                    Oxigenaci&oacute;n:&nbsp;
                    <span style="font-weight: normal;">{{ receta.oxigenacionSaturacion }}</span><br>
                    IMC: 
                    <span style="font-weight: normal;">{{ receta.indiceMasaCorporal }}</span>
                </strong>
            </td>
            <td style="width: 49.9195%; vertical-align: top;" rowspan="6"">
                {% for item in tratamiento %}
                    &radic; {{ item }}<br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 100.0000%;"><strong><br></strong></td>
        </tr>
    </tbody>
</table>
<br><br><br>
<img src="{{ firma }}" alt="Firma" 
        style="position: absolute; top: 55%; left: 55%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%; z-index: 1;">
<p style="border-top: 1px solid #000; width: 50%; margin: 80px auto 0; padding-top: 10px; text-align: center;">
    <strong>FIRMA M&Eacute;DICO</strong>
</p>
{% endblock %}