{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion Migratoria]
{% endblock %}

{% block title %}
<title>
    Receta Medica
</title>
{% endblock %}

{% block content %}
<table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="width: 50%;"><strong>FECHA:</strong></td>
            <td style="width: 50%;"><strong>FECHA DE NACIMIENTO:&nbsp;</strong>[DD]/[MES]/[A&Ntilde;O]<br><strong>EDAD:&nbsp;</strong>[NUM] A&Ntilde;OS</td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NO. EXTRANJERO:</strong></td>
            <td style="width: 50%;"><strong>G&Eacute;NERO:</strong></td>
        </tr>
        <tr>
            <td style="width: 50%;"><strong>NOMBRE:&nbsp;</strong>Adair Gustavo Montiel Hernandez</td>
            <td style="width: 50%;"><strong>NACIONALIDAD:</strong></td>
        </tr>
    </tbody>
</table>
<p><strong>Exploraci&oacute;n F&iacute;sica:</strong></p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 33.3333%;"><strong>Temperatura:</strong></td>
            <td style="width: 33.3333%;"><strong>Frecuencia respiratoria:</strong></td>
            <td style="width: 33.3333%;"><strong>Presi&oacute;n Arterial:</strong></td>
        </tr>
        <tr>
            <td style="width: 33.3333%;"><strong>Peso:</strong></td>
            <td style="width: 33.3333%;"><strong>Estatura:&nbsp;</strong></td>
            <td style="width: 33.3333%;"><strong>Oxigenaci&oacute;n:&nbsp;</strong></td>
        </tr>
        <tr>
            <td style="width: 33.3333%;"><strong>&Iacute;ndice de masa corporal:</strong></td>
            <td style="width: 33.3333%;"><strong><br></strong></td>
            <td style="width: 33.3333%;"><strong><br></strong></td>
        </tr>
    </tbody>
</table>
<p><strong>Tratamiento:&nbsp;</strong></p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 100.0000%;"><strong><br></strong></td>
        </tr>
    </tbody>
</table>
<p><strong><br></strong></p>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50.0000%;"><strong>Nombre del m&eacute;dico:</strong></td>
            <td style="width: 50.0000%;"><strong>Cedula:&nbsp;</strong></td>
        </tr>
    </tbody>
</table>
<p style="border-top: 1px solid #000; width: 50%; margin: 80px auto 0; padding-top: 10px; text-align: center;"><strong>FIRMA</strong></p>
{% endblock %}