{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[NUMERO DE EXPEDIENTE]
{% endblock %}

{% block title %}
<title>
    Resoluci&oacute;n regularizacion comar
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>RESOLUCI&Oacute;N DEFINITIVA</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad, se procede a dictar resolución de acuerdo a los siguientes:
</p>
<p class="centrado">
    <strong>RESULTANDOS</strong>
</p>
<p>
    1.- [FECHA DE PUESTA A DISPOSICION], [NOMBRE Y CARGO DE QUIEN PUSO A DISPOSICION], puso a disposición a través del 
    oficio [NUMERO DE OFICIO], dirigido [AUTORIDAD A LA QUE VA DIRIGIDA], a la persona extranjera que dijo 
    llamarse [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], mismo que no pudo acreditar su situación migratoria regular y condición de estancia, por lo que fue puesta a disposición de dicha autoridad a fin de que fuera resuelta su situación migratoria en México
    <br>
    2.- [FECHA DE ACUERDO DE INICIO], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó el inicio del Procedimiento Administrativo Migratorio de la 
    extranjera [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], derivado de la puesta a disposición señalada en el punto anterior.
    <br>
    3.- [FECHA DE COMPARECENCIA], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], le otorgó al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], su garantía de audiencia consagrada, misma que corre agregada al expediente administrativo migratorio.
    <br>
    4.- [FECHA DE PRESENTACIÓN], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó la presentación y alojamiento temporal del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], en virtud de violentar la normatividad migratoria vigente.
    <br>
    5.- [FECHA DE NOTIFICACION CONSULAR], se notificó al Consulado de [PAIS], acerca de la presentación y alojamiento temporal hasta en tanto fuera resuelta su situación migratoria en México de la persona que dijo ser su connacional de nombre 
    extranjera [NOMBRE Y APELLIDO].
    <br>
    6.- [FECHA DE ACUERDO], el NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó recibir como prueba la siguiente documental otorgada por el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD]: [BREVE DESCRIPCIÓN DE LAS PRUEBAS PRESENTADAS POR EL EXTRANJERO].
    <br>
    7.- [FECHA DE ACUERDO], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó dar al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], la oportunidad de formular los siguientes alegatos a su procedimiento 
    administrativo: [ALEGATOS FORMULADOS POR EL EXTRANJERO].
    <br>
    8.- En fecha [FECHA DE RECEPCIÓN], la autoridad migratoria recibió el oficio [NUMERO DE OFICIO] por parte de la Comisión Mexicana de Ayuda a Refugiados en el cual informaba acerca de la admisión a trámite de la solicitud de reconocimiento de la condición de refugiado presentada por el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD].
    <br>
    9.- En esa misma fecha, el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó la suspensión provisional del Procedimiento Administrativo Migratorio instaurado a nombre del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD].
    <br> 
    10.- En fecha [FECHA DE RECEPCIÓN], la autoridad migratoria recibió el oficio [NUMERO DE OFICIO] por parte de la Comisión Mexicana de Ayuda a Refugiados en el cual informaba acerca de la determinación positiva a la solicitud de reconocimiento de la condición de refugiado presentada por el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD].
    <br>
    11.- En esa misma fecha, el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó la continuación del Procedimiento Administrativo Migratorio instaurado a nombre del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD].
    <br> 
    12.- Queda debidamente acreditada la identidad y nacionalidad del extranjero [NOMBRE Y APELLIDO] de 
    nacionalidad [NACIONALIDAD], a través de pasaporte emitido a su favor por parte del Gobierno 
    de [NOMBRE DEL PAÍS].
</p>
<p class="centrado">
    <strong>CONSIDERANDOS</strong>
</p>
<p>
    <strong>I.-</strong> Que esta dependencia es competente para conocer y resolver acerca del presente asunto en términos de lo dispuesto por los artículos 1, 11, 14, 16  de la Constitución Política de los Estados Unidos Mexicanos; 1, 2, 3 fracción XXVII, 6, 7, 11, 12, 14, 16 fracciones III y IV, 18 fracción VIII, 20 fracción III, IV, V y X, <strong>52 fracción V inciso C)</strong>, 54 fracción I, 66, 70, 77, 79, 115, 121, 123, 133 y 144 de la Ley de Migración;  1, 2, 55, 58, 194, 205, 222 y 244 fracción IV del Reglamento de la Ley de Migración; 27 fracción IV la Ley Orgánica de la Administración Pública Federal; artículos 1, 3, 9, 12, 13, 16 fracciones I, III, IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35, 36, 38, 39, 44 y 49 de la Ley Federal del Procedimiento Administrativo; y los aplicables del Reglamento Interior de la Secretaría de Gobernación, publicado en el Diario Oficial de la Federación el 31 de mayo de 2019;
    <br>
    <strong>II.-</strong> Que una vez visto el expediente en el que se actúa y tomando en consideración las constancias que integran el mismo se desprende que el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], adecuó su conducta a lo establecido por la fracción I del artículo 144 que a la letra dice:
</p>
<div style="font-style: italic; margin: 1cm;">
    <p>“Artículo 144. Será deportado del territorio nacional el extranjero presentado que:</p>
    <p>[…]</p>
    <p>
        I. Se haya internado al país sin la documentación requerida o por un lugar no autorizado para el tránsito internacional de personas;
    </p>
</div>
<p>
    Lo anterior queda debidamente acreditado, a través de la comparecencia rendida por el extranjero de mérito a través de la cual manifestó lo que en la parte que interesa se transcribe: “[…] [TRANSCRIPCIÓN DE COMPARECENCIA] […]”. (Sic).
    <br> 
    Comparecencia a la que se le da valor probatorio suficiente en términos de los artículos 199 y 200 del Código Federal de Procedimientos Civiles de aplicación supletoria en materia migratoria, por concurrir en ella circunstancias especiales establecidas en el numeral 199 del ordenamiento legal en comento, el cual dispone:
</p>
<div style="font-style: italic; margin: 1cm;">
    <p>
        <strong>“Artículo 199.-</strong> La confesión expresa hará prueba plena cuando concurran en ellas las circunstancias siguientes:
    </p>
    <p>
        I.- Que sea hecha por persona capacitada para obligarse;
        <br>
        II.- Que sea hecha con pleno conocimiento, y sin coacción ni violencia, y
        <br>
        III.- Que sea de hecho propio o, en su caso, del representado o del cedente, y concerniente al negocio.”
    </p>
</div>
<p>
    <strong>III.-</strong> Sin embargo una vez vista la determinación positiva que tuvo la Comisión Mexicana de Ayuda a Refugiados a la solicitud de reconocimiento de protección internacional otorgada al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD],esta autoridad actuando de buena fe y bajo los principios de equidad, justicia, observancia al debido proceso e irrestricto respeto a los derechos humanos, se considera viable otorgarle un oficio con fines de regularización migratoria, a efecto de que en un término no mayor de 30 días hábiles, inicie con los trámites correspondientes ante la oficina de regulación de la Oficina de Representación del Instituto Nacional de Migración más cercana a su domicilio y cumpla con los requisitos necesarios para regular su estancia en territorio mexicano, en virtud a lo establecido en el artículo 52 fracción V inciso C), 54 fracción I de la Ley de Migración al haber acreditado lo correspondiente mismo que a la letra dice:
</p>
<div style="font-style: italic; margin: 1cm;">
    <p>
        Artículo 52. Los extranjeros podrán permanecer en el territorio nacional en las condiciones de estancia de visitante, residente temporal y residente permanente, siempre que cumplan con los requisitos establecidos en esta Ley, su Reglamento y demás disposiciones jurídicas aplicables, de conformidad con lo siguiente:
    </p>
    <p>[...]</p>
    <p>
        V. VISITANTE POR RAZONES HUMANITARIAS. Se autorizará esta condición de estancia a los extranjeros que se encuentren en cualquiera de los siguientes supuestos:
    </p>
    <p>[...]</p>
    <p>
        c) Ser solicitante de asilo político, de reconocimiento de la condición de refugiado o de protección complementaria del Estado Mexicano, hasta en tanto no se resuelva su situación migratoria. Si la solicitud es positiva se les otorgará la condición de estancia de residente permanente, en términos del artículo 54 de esta Ley.
    </p>
    <p>
        Artículo 54. Se otorgará la condición de residente permanente al extranjero que se ubique en cualquiera de los siguientes supuestos:
    </p>
    <p>
        I. Por razones de asilo político, reconocimiento de la condición de refugiado y protección complementaria o por la determinación de apátrida, previo cumplimiento de los requisitos establecidos en esta Ley, su Reglamento y demás disposiciones jurídicas aplicables;
    </p>
</div>
<p>
    <strong>V.-</strong> Por lo anterior y con fundamento en el Reglamento Interior de la Secretaría de Gobernación, es de resolverse y:
</p>
<p class="centrado">
    <strong>SE RESUELVE</strong>
</p>
<p>
    <strong>PRIMERO.-</strong> Se determina otorgar al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD]un oficio para iniciar su regularización migratoria, en virtud de adecuar su conducta a lo establecido por el artículo 52 fracción V inciso C), 54 fracción I de la Ley de Migración de la Ley de Migración. 
    <br>
    <strong>SEGUNDO.-</strong> Apercíbase al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], que deberá presentarse a la Oficina de Regulación migratoria más cercana a su domicilio a fin de iniciar el trámite correspondiente, en el entendido que deberá cumplir con todos los requisitos que señale la autoridad regulatoria en base a lo dispuesto al marco jurídico migratorio vigente.
    <br> 
    <strong>TERCERO.-</strong>  Entréguese valores al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], en caso de que hubiere, previa toma de razón que por su recibo obre en este expediente.
    <br>
    <strong>CUARTO.-</strong> Notifíquese al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], la presente determinación, para que surta todos los efectos legales y dígasele que contra la presente resolución procede el recurso de revisión previsto en  la Ley Federal de Procedimiento Administrativo, mismo que podrá interponer ante la autoridad competente, contando con un plazo de quince días a partir del día siguiente a aquél en que hubiere surtido efectos la notificación de la presente resolución, de conformidad a lo señalado en el artículo 83 de la Ley Federal de Procedimiento Administrativo.
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[CARGO AC]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>  
{% endblock %}