{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[NUMERO DE EXPEDIENTE]
{% endblock %}

{% block title %}
<title>
    Resolucion definitiva
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>RESOLUCI&Oacute;N DEFINITIVA</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad, se procede a dictar resolución de acuerdo a los siguientes:
</p>
<p class="centrado">
    <strong>RESULTANDOS</strong>
</p>
<p>
    <strong>1.-</strong> [FECHA DE PUESTA A DISPOSICIÓN], [NOMBRE Y CARGO DE QUIEN PUSO A DISPOSICIÓN], puso a disposición a través del 
    oficio [NUMERO DE OFICIO], dirigido [AUTORIDAD A LA QUE VA DIRIGIDA], a la persona extranjera que dijo 
    llamarse [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], mismo que no pudo acreditar su situación migratoria regular y condición de estancia, por lo que fue puesta a disposición de dicha autoridad a fin de que fuera resuelta su situación migratoria en México.
    <br>
    <strong>2.-</strong> [FECHA DE ACUERDO DE INICIO], el Licenciado [NOMBRE Y CARGO DE AUTORIDAD], acordó el inicio del Procedimiento Administrativo Migratorio de la persona 
    extranjera [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], derivado de la puesta a disposición señalada en el punto anterior.
    <br>
    <strong>3.-</strong> [FECHA DE COMPARECENCIA], el Licenciado [NOMBRE Y CARGO DE AUTORIDAD], le otorgó al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], su garantía de audiencia consagrada, misma que corre agregada al expediente administrativo migratorio.
    <br>
    <strong>4.-</strong> [FECHA DE PRESENTACIÓN], el Licenciado [NOMBRE Y CARGO DE AUTORIDAD], acordó la presentación y alojamiento temporal del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], en virtud de violentar la normatividad migratoria vigente.
    <br>
    <strong>5.-</strong> [FECHA DE NOTIFICACIÓN CONSULAR], se notificó al Consulado de [PAIS], acerca de la presentación y alojamiento temporal hasta en tanto fuera resuelta su situación migratoria en México de la persona que dijo ser su connacional de nombre 
    extranjera [NOMBRE Y APELLIDO].
    <br>
    <strong>6.-</strong> [FECHA DE ACUERDO DE CIERRE PROBATORIO], el Licenciado [NOMBRE Y CARGO DE AUTORIDAD], acordó el cierre del periodo probatorio y para formular alegatos otorgados al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], lo anterior a petición del mismo.
    <br>
    <strong>7.-</strong> Queda debidamente acreditada la identidad y nacionalidad del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], a través de pasaporte emitido a su favor por parte del Gobierno 
    de [NOMBRE DEL PAÍS].
</p>
<p class="centrado">
    <strong>CONSIDERANDOS</strong>
</p>
<p>
    <strong>I.-</strong> Que esta dependencia es competente para conocer y resolver acerca del presente asunto en términos de lo dispuesto por los artículos 1, 11, 14, 16  de la Constitución Política de los Estados Unidos Mexicanos; 1, 2, 3 fracción XXVII, 6, 11, 12, 14, 18 fracción IV, 20 fracción III, IV, V y X, 43 fracción I, 66, 70, 77, 79, 92, 115, 121, 122, 123, 137 fracción III, 138 y 
    <strong>144 fracción I</strong> de la Ley  de Migración; 1, 2, 3 fracción lll, 194, 200, 222 , 242, 243 del Reglamento de la Ley de Migración; artículo 27 fracción IV la Ley Orgánica de la Administración Pública Federal; artículos 1, 3, 9, 12, 13, 16 fracciones I, III, IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35, 36, 38, 39, 44 y 49 de la Ley Federal del Procedimiento Administrativo; los aplicables del Reglamento Interior de la Secretaría de Gobernación.
    <br>
    <strong>II.-</strong> Que la situación migratoria del extranjero [NOMBRE Y APELLIDO] de 
    nacionalidad [NACIONALIDAD], se encuadra a la hipótesis prevista en la fracción I del artículo 144 de la Ley de Migración, mismo que a la letra dice:
</p>
<div style="margin: 1cm; font-style: italic;">
    <p>
        <strong>"Art&iacute;culo 144.&nbsp;</strong>Ser&aacute;&nbsp;<span style="color: red; font-weight: bold;">deportado del territorio nacional</span>&nbsp;el extranjero presentado que:
    </p>
    <p>
        [Señalar la fracción que corresponda para la deportación]
    </p>
</div>
<p>
    Lo anterior, queda debidamente acreditado a través de la comparecencia rendida por el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], en fecha [FECHA DE COMPARECENCIA] en la cual manifestó haber ingresado de manera irregular a territorio mexicano de acuerdo a lo que en la parte que interesa lo que a continuación se 
    transcribe: [BREVE TRANSCRIPCION DE COMPARECECIA DONDE SE ACREDITE EL INGRESO IRREGULAR]. 
    Manifestación a la que se le da valor probatorio suficiente en términos de los artículos 199 y 200 del Código Federal de Procedimientos Civiles de aplicación supletoria en materia migratoria, por concurrir en ella circunstancias especiales establecidas en el artículo 199 del ordenamiento legal en comento, el cual dispone: 
</p>
<div style="font-style: italic; margin: 1cm;">
    <p><strong>Art&iacute;culo 199.-</strong>&nbsp;La expresa hará prueba plena cuando concurran en ellas las circunstancias siguientes:</p>
    <p>I.- Que sea hecha por persona capacitada para obligarse;</p>
    <p>II.- Que sea hecha con pleno conocimiento, y sin coacción ni violencia, y</p>
    <p>III.- Que sea de hecho propio o, en su caso, del representado o del cedente, y concerniente al negocio.”</p>
</div>
<p>
    Por tal razón queda debidamente acreditado el ingreso irregular del extranjero en comento, toda vez que no registro su internación a territorio mexicano a través de la intervención de la autoridad migratoria de conformidad con lo dispuesto en los artículos 33 y 34 de la Ley de Migración.
    <br>
    <strong>III.-</strong> Asimismo atendiendo a lo señalado en el penúltimo párrafo del antes destacado artículo y concatenado con lo señalado por el artículo 244 del Reglamento de la Ley de Migración en el cual se señala el periodo de restricción, mismo que a la letra dice:
</p>
<div style="margin: 1cm; font-style: italic;">
    <p>
        <strong>"Art&iacute;culo 244.</strong>&nbsp;Para efectos del penúltimo párrafo del artículo 144 de la Ley, la autoridad migratoria, a fin de determinar el período de restricción de ingreso al territorio nacional de personas extranjeras a quienes se haya resuelto su deportación, tomará en consideración las circunstancias especiales de cada caso, particularmente:
    </p>
    <p>
        I. Si la persona extranjera ingresó al territorio nacional sin la autorización correspondiente de la Secretaría, el plazo de restricción será de <strong>uno a cinco años;</strong>
    </p>
    <p>
        Durante el período de restricción que la autoridad migratoria haya determinado en la resolución de deportación, la persona extranjera sólo podrá solicitar su internación al territorio nacional cuando exista un acuerdo de readmisión debidamente fundado y motivado que así lo autorice.
    </p>
    <p>[...]."</p>
</div>
<p>
    Por tales motivos, esta autoridad considera viable determinar la <strong>DEPORTACIÓN</strong> del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], así como aplicar la sanción restrictiva, siendo esta por una temporalidad 
    de [NUMERO DE AÑOS DE RESTRICCIÓN] dejando a salvo el derecho que corresponda, a partir de la notificación de la presente resolución, considerando que la restricción impuesta por esta autoridad resulta ser  adecuada, justa y suficiente, conforme a lo señalado en la Ley de Migración y su Reglamento.
    <br>
    <strong>IV.-&nbsp;</strong> Por lo que esta autoridad con fundamento en los artículos aplicables del Reglamento Interior de la Secretaría de Gobernación, es de resolverse y se: 
</p>
<p class="centrado">
    <strong>RESULEVE</strong>
</p>
<p>
    <strong>PRIMERO.-&nbsp;</strong>Se determina la deportación del extranjero [NOMBRE Y APELLIDO] de 
    nacionalidad [NACIONALIDAD], por adecuar su conducta a la hipótesis contemplada en el artículo <strong>144 fracción I</strong> de la Ley de Migración.
    <br> 
    <strong>SEGUNDO.-</strong> En virtud de lo razonado en el considerando III de la presente resolución y con fundamento en el penúltimo párrafo del artículo 144 de la Ley de Migración, apercíbase al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], el periodo de restricción que tiene para internarse nuevamente a territorio mexicano, siendo esta temporalidad 
    de [NUMERO DE AÑOS DE RESTRICCIÓN] a partir de la notificación de la presente determinación, por lo tanto no podrá reingresar a territorio mexicano, a menos que haya sido readmitido por acuerdo expreso de la Secretaría, en términos del último párrafo del artículo 244 de su Reglamento.
    <br>
    <strong>TERCERO.-</strong> Entréguese valores al extranjero [NOMBRE Y APELLIDO] de 
    nacionalidad [NACIONALIDAD], en caso de que hubiere, previa toma de razón que por su recibo obre en este expediente.
    <br> 
    <strong>CUARTO.-</strong> Notifíquese al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], la presente determinación para que surta todos los efectos legales y dígasele que contra la presente resolución procede el recurso de revisión  previsto en  la Ley Federal de Procedimiento Administrativo, mismo que podrá interponer ante la autoridad competente, contando con un plazo de quince días a partir del día siguiente a aquél en que hubiere surtido efectos la notificación de la presente resolución, de conformidad a lo señalado en el artículo 83 de la Ley Federal de Procedimiento Administrativo.
    <br> 
    <strong>QUINTO.-</strong> Notifíquese al Centro Nacional de Alertas, para que por su conducto se emita el registro de control migratorio correspondiente, a nombre del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], señalando el contenido del resolutivo <strong>SEGUNDO</strong> de la presente resolución.
    <br> 
    <strong>SÉXTO.-</strong> Notifíquese al Director de la Estación Migratoria del Instituto Nacional de Migración donde actualmente se encuentra alojado el 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], para los fines conducentes.    
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad. 
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[CARGO AC]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>  
{% endblock %}