{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[NUMERO DE EXPEDIENTE]
{% endblock %}

{% block title %}
<title>
    Resolucion definitiva libre transito
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>RESOLUCI&Oacute;N DEFINITIVA LIBRE TRANSITO</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el 
    Licenciado [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a 
    la [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad, se procede a dictar resolución de acuerdo a los siguientes:
</p>
<p class="centrado">
    <strong>RESULTANDOS</strong>
</p>
<p>
    1.- [FECHA DE PUESTA A DISPOSICION], [NOMBRE Y CARGO DE QUIEN PUSO A DISPOSICIÓN], puso a disposición a través del 
    oficio [NUMERO DE OFICIO PUESTA A DISPOSICIÓN], a la persona extranjera que dijo 
    llamarse [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], mismo que no pudo acreditar su situación migratoria regular y condición de estancia, por lo que fue puesta a disposición de dicha autoridad a fin de que fuera resuelta su situación migratoria en México.
    <br>
    2.- [FECHA DE ACUERDO DE INICIO], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó el inicio del Procedimiento Administrativo Migratorio de la 
    extranjera [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], derivado de la puesta a disposición señalada en el punto anterior.
    <br>
    3.- [FECHA DE COMPARECENCIA], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], le otorgó al 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], su garantía de audiencia consagrada, misma que corre agregada al expediente administrativo migratorio.
    <br>
    4.- [FECHA DE PRESENTACIÓN], el [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó la presentación y alojamiento temporal del 
    extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], en virtud de violentar la normatividad migratoria vigente.
    <br>
    5.- [FECHA DE NOTIFICACION CONSULAR], se notificó al Consulado de [PAIS], acerca de la presentación y alojamiento temporal hasta en tanto fuera resuelta su situación migratoria en México de la persona que dijo ser su connacional de nombre 
    extranjera [NOMBRE Y APELLIDO].
    <br>
    6.- [FECHA DE ACUERDO], el NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó recibir como prueba la siguiente documental otorgada por el extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD]: [BREVE DESCRIPCION DE LAS PRUEBAS PRESENTADAS POR EL EXTRANJERO].-----------------------------------------------------------------------------------------------------------------------
    7.- [FECHA DE ACUERDO], el NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE], acordó dar al extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], la oportunidad de formular los siguientes alegatos a su procedimiento administrativo: [ALEGATOS FORMULADOS POR EL EXTRANJERO].----------------------------------------------------------------------------------------------------------------------
    8.- Queda debidamente acreditada la identidad y nacionalidad del extranjero [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], a través de pasaporte emitido a su favor por parte del Gobierno de [NOMBRE DEL PAÍS].
</p>
{% endblock %}