{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expediente]
{% endblock %}

{% block title %}
<title>
    Acuerdo de separaci&oacute;n de alojados
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO DE SEPARACI&Oacute;N DE ALOJADOS</strong>
</p>
<P>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el Licenciado 
    [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente ante la presencia de dos testigos que al final firman de conformidad.
</P>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    <strong>I.- </strong>Que es menester de esta autoridad migratoria procurar dentro de sus instalaciones el orden, disciplina, cuidado médico y /o psicológico de manera preventiva por razones de seguridad, convivencia armonica entre los alojados, la poblacion general y los que se encuentren dentro de la instalacion migratoria tal y como lo disponen los artículos 29 y 44 del Acuerdo por el que se emiten las Normas para el funcionamiento de las Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migración.ambos en sus últimos parrafos que a la letra dicen:
</p>
<div style="margin: 0.5cm; font-size: 13px; font-style: italic;">
    <strong>Art&iacute;culo 29.- [...]</strong>
    <br> <br>
    El Responsable podrá separar del resto de la población a aquellos alojados que padezcan alguna enfermedad infectocontagiosa en cuanto sea detectada, lo cual deberá motivar y fundar en el acuerdo que así lo determine. En estos casos, el Responsable de la Estación deberá dar aviso a las autoridades sanitarias correspondientes.
    <br> <br>
    <strong>Art&iacute;culo 44.- </strong>En caso de que el alojado incumpla con alguna de las obligaciones contenidas en el artículo 26 de las presentes Normas, y una vez que se lleve a cabo el procedimiento previsto en el artículo siguiente, podrá hacerse acreedor a las medidas preventivas que a continuación se establecen:
    <br> <br>
    [...] 
    <br> <br>
    En estos supuestos el Responsable deberá separar al alojado del resto de la población en un lugar con las condiciones dignas para ello, por el tiempo mínimo necesario y hasta por diez días naturales, dependiendo de la gravedad, ajustándose al procedimiento administrativo.
</div>
<p>
    <strong>II.-&nbsp;</strong>En ese tenor el día de la fecha esta autoridad considera viable la separación temporal del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], derivado a que su conducta se adecua a lo señalado en los artículos antes señalados.
</p>
<p class="centrado"></p>
{% endblock %}