{% extends "documentos/base.html" %}

{% block header %}
<br>[Oficina de representacion]
<br>[Estacion migratoria]
<br>
<br>[Lugar y fecha completa]
<br>[Numero de expediente]
{% endblock %}

{% block title %}
<title>
    Acuerdo de suspension provisional
</title>
{% endblock %}

{% block content %}
<p class="centrado">
    <strong>ACUERDO DE SUSPENSI&Oacute;N PROVISIONAL DEL PROCEDIMIENTO ADMINISTRATIVO MIGRATORIO</strong>
</p>
<p>
    En la [LUGAR DE EMISIÓN], siendo las [HH:MM] horas del día [DD de MM de AAAA], el Licenciado 
    [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCION DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración,  mismo que actúa ante la presencia de los testigos de asistencia que al final firman de conformidad.
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<p>
    Vistas las constancias que obran en el expediente administrativo migratorio abierto a nombre del extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], del cual se desprende que 
    [EDITABLE RAZÓN FUNDADA POR LA CUAL EL PROCEDIMEINTO SE SUSPENDE], por lo que está autoridad actuando con equidad y justicia determina suspender el procedimiento administrativo migratorio instaurado al extranjero de referencia.
</p>
<p class="centrado">
    <strong>CONSTE</strong>
</p>
<p>
    Con fundamento en lo dispuesto en los artículos 1, 11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos; artículo 7 de la Ley sobre Refugiados, Protección Complementaria y Asilo Político; 1, 2, 3, 12, 14, 66, 67, 70, 77, 111 de la Ley de Migración; artículos 1, 2, 235 de su Reglamento; así como los artículos 1, 3, 12, 13, 15 y relativos de la Ley Federal de Procedimiento Administrativo; y los aplicables del Reglamento Interior de la Secretaría de Gobernación y del acuerdo por el que se emiten las Normas para el funcionamiento de las Estaciones Migratorias y Estancias Provisionales del Instituto Nacional de Migración, por lo anterior esta autoridad.
</p>
<p class="centrado">
    <strong>SE ACUERDA</strong>
</p>
<p>
    <strong>PRIMERO.-&nbsp;</strong>Suspéndase provisionalmente el Procedimiento Administrativo Migratorio instruido al extranjero 
    [NOMBRE Y APELLIDO] de nacionalidad [NACIONALIDAD], hasta en tanto la razón por la que fue suspendido el procedimiento quede legalmente resulta y notificada a esta autoridad.
    <br>
    <strong>SEGUNDO.-&nbsp;</strong>Notifíquese personalmente al extranjero [NOMBRE Y APELLIDO] de nacionalidad 
    [NACIONALIDAD], la presente determinación lo anterior para los fines legales que haya lugar.
</p>
<p class="centrado">
    <strong>C&Uacute;MPLASE</strong>
</p>
<p>
    Así lo acordó y firmo el Lic. [NOMBRE DE LA AUTORIDAD ACTUANTE], [CARGO DE LA AUTORIDAD ACTUANTE] adscrito a la 
    [LUGAR DE ADSCRIPCIÓN DE LA AUTORIDAD ACTUANTE] del Instituto Nacional de Migración, quien actúa legalmente asistido de los testigos que al final firman de conformidad.
</p>
<div class="columnas">
    <div class="columna">
        <p><strong>[CARGO AC]</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>LA PERSONA EXTRANJERA</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
<p class="centrado">
    <strong>TESTIGOS DE ASISTENCIA</strong>
</p>
<div class="columnas">
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
</div>
<div class="columnas">
    <div class="columna">
        <p><strong>REPRESENTANTE LEGAL</strong></p>
        <p class="firma">Lic. [Nombre y apellido]</p>
    </div>
    <div class="columna">
        <p><strong>TRADUCTOR PR&Aacute;CTICO HABILITADO</strong></p>
        <p class="firma">[Nombre y apellido]</p>
    </div>
</div>
{% endblock %}