{% load static %}


<style>
    .custom-header-color {
        background-color: #8B2941;
        color: white; /* Ajusta el color del texto según tu preferencia */
    }
    .custom-close-button {
        color: white;
    }
</style>


<div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
        <div class="modal-header custom-header-color"> <!-- Agrega la clase personalizada aquí -->
            <h2 class="modal-title">Confirmar eliminacion</h2>
            <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p style="text-align: center;">
            <img src=" {% static 'img/gh.jpg' %} " style="width: 250px;" class="logo-img">
        </p>

        <form action="{% url 'eliminar_pertenencias_valorAC' pk=object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                
                <h2>¿Estás seguro de que deseas eliminar la siguiente pertenencia de valor?</h2>
                <ul>
                    <li>Descripcion: {{ object.descripcion }}</li>
                    <li>Inventario: {{ object.delInventario }}</li>

                    <!-- Agrega más campos aquí según lo necesario -->
                </ul>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-custom1" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-custom">Confirmar</button>

        </div>
        </form>
    </div>
</div>