{% extends 'seguridad/baseSeguridadGeneral.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}
{% block titulo %}Crear Notification a Fiscalía {% endblock titulo %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listExtranjerosComar' %}">
    <i class="fas fa-arrow-left"></i>
</a>


{% endblock dashboard %}


{% block contenido %}

<style>
    #myTab .nav-link {
        pointer-events: none; /* Desactiva los eventos del ratón como el clic */
        color: #9E8364; /* Color antes de ser seleccionado */
        font-weight: normal;
    }
    
    #myTab .nav-link.active {
        pointer-events: auto; /* Activa los eventos del ratón para la pestaña activa */
        color: #000; /* Un color más fuerte cuando esté activo */
        font-weight: bold;
    }
    input[readonly] {
        background-color: #e9ecef;
        color: #495057;
        cursor: not-allowed;
      }


      .input-required {
        border: 2px solid #d9534f; /* Rojo con un borde más grueso para mayor visibilidad */
        border-radius: 4px; /* Opcional, para bordes redondeados */
      }
      
      /* Opcional: Agrega un asterisco rojo a las etiquetas de los campos requeridos */
      label.required::after {
        content: " *";
        color: red;
      }
      .input-required {
        border: 2px solid #d9534f; /* Ajusta el color y el grosor del borde según necesites */
      }
      
      .input-required + label::after {
        content: " *";
        color: red;
      }


    
      .center-content {
        text-align: center; /* Centra el texto y los elementos en línea */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos flexibles horizontalmente */
        justify-content: center; /* Centra los elementos flexibles verticalmente */
    }

    
    #nextToRepresentanteLegal,
#nextToExtranjero,
#nextToTraductor,
#nextToTestigo1,
#nextToTestigo2,
#finalizarFirmas {
    background-color: #902F4A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos al pasar el mouse por encima de los botones */
#nextToRepresentanteLegal:hover,
#nextToExtranjero:hover,
#nextToTraductor:hover,
#nextToTestigo1:hover,
#nextToTestigo2:hover,
#finalizarFirmas:hover {
    background-color: #902F4A; /* Mantiene el mismo color de fondo */
    box-shadow: none; /* Elimina la sombra para un aspecto más plano */
    cursor: default; /* Cambia el cursor al estilo predeterminado */

}

.titulo-compare{
    background-color: #777777;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    

}


</style>


<div class="container mt-3">
    <div class="titulo-general-container ">
        <h1 class="titulo-general">
            Crear Notificación a Fiscalía: 
            <span class="puesta-color" ><strong>{{ extranjero.nombreExtranjero }} {{ extranjero.apellidoPaternoExtranjero }}{% if extranjero.apellidoMaternoExtranjero %} {{ extranjero.apellidoMaternoExtranjero }}{% endif %}</strong></span>
        </h1>
    </div>
    <div id="notificacionConsularFormContainer">
        <form method="post" id="notificacionConsularForm">
            {% csrf_token %}
            <div class="card p-3">
                <!-- Navegación por Pestañas -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="notificacion-tab" data-toggle="tab" href="#notificacion" role="tab" aria-controls="notificacion" aria-selected="true">Notificación Consular</a>
                    </li>
                    <!-- Más pestañas si son necesarias -->
                </ul>

                <!-- Contenido de las Pestañas -->
                <div class="tab-content" id="myTabContent">
                    <!-- Sección de Notificación Consular -->
                    <div class="tab-pane fade show active" id="notificacion" role="tabpanel" aria-labelledby="notificacion-tab">
                        <div class="row">
                            <div class="col-md-6">{{ form.delaEstacion|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.nup|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.numeroOficio|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.delaFiscalia|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.delaComparecencia|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.condicion|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.delaAutoridad|as_crispy_field }}</div>
                        </div>
                    </div>
                    <!-- Más secciones de contenido según sea necesario -->
                </div>

                <!-- Botones de Acción -->
                <div class="action-buttons" style="text-align:left;">
                    <button type="button" class="btn btn-icon2" id="previewPdfButton">Previsualizar PDF</button>
                    <button type="submit" class="btn btn-custom2" id="createNotificationButton">Crear Notificación</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock contenido %}
