{% load static %}

<style>
    .custom-header-color {
        background-color: #8B2941;
        color: white; /* Ajusta el color del texto según tu preferencia */
    }
    .custom-close-button {
        color: white;
    }
</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header custom-header-color">
            <h2 class="modal-title">Crear Enseres</h2>
            <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% load crispy_forms_tags %}

        <form action="{% url 'crearEnseresModaINM' extranjero.id puesta.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{ form.unidadMigratoria|as_crispy_field }}
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {{ form.noExtranjero|as_crispy_field }}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        {% for value, label in form.enseres.field.choices %}
                            <div class="form-check">
                                <input type="checkbox" name="{{ form.enseres.name }}" value="{{ value }}" class="form-check-input" id="id_enseres_{{ forloop.counter }}">
                                <label class="form-check-label" for="id_enseres_{{ forloop.counter }}">{{ label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <input type="text" name="{{ form.enseresExtras.name }}" id="id_enseresExtras" class="form-control" >
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom1" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-custom">Confirmar</button>
            </div>
        </form>
        
    </div>
</div>

