{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% block dashboard %}Estas en el menu de puesta INM{% endblock dashboard %}

{% block contenido %}
<div class="container">
    <h1>Listado de Puestas por INM </h1>
    <a class="btn btn-primary" href="{% url 'crearPuestaINM' %}">Crear Puesta</a>
    <table id="puestasinm-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Numero Oficio</th>
                <th>Fecha de Oficio</th>
                <th>Autoridad</th>
                <th>Punto Revisión</th>
                <th>Estacion</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for objeto in puestasinm %}
                <tr>
                    <td>{{ objeto.numeroOficio }}</td>
                    <td>{{ objeto.fechaOficio }}</td>
                    <td>{{ objeto.nombreAutoridadSigna }}</td>
                    <td>{{ objeto.puntoRevision }}</td>
                    <td>{{ objeto.deLaEstacion }}</td>
                    <td><a class="btn btn-sm btn-success" href="{% url 'crearExtranjeroINM' %}">Añadir Extranjeros</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}


