{% extends 'seguridad/baseSeguridadGeneral.html' %}


{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">

{% endblock link %}

{% block dashboard %}Estas en el menu de puesta INM{% endblock dashboard %}

{% block contenido %}

<h1>Listado de Objetos</h1>

  
<table id="puestasinm-table" class="display">
    <thead>
        <tr>
            <th>Numero Oficio</th>
            <th>Fecha de Oficio</th>
            <th>Autoridad</th>
            <th>Punto Revisión</th>
            <th>Estacion</th>
        </tr>
    </thead>
    <tbody>
        {% for objeto in puestasinm %}
            <tr>
                <td>{{ objeto.numeroOficio }}</td>
                <td>{{ objeto.fechaOficio }}</td>
                <td>{{ objeto.nombreAutoridadSigna }}</td>
                <td>{{ objeto.puntoRevision }}</td>
                <td>{{ objeto.deLaEstacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}


{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        // Inicializa DataTables
        $('#puestasinm-table').DataTable();
    });
</script>

{% endblock scripts %}