{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
{% endblock link %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjeroAC' puesta.id %}">
  <i class="fas fa-arrow-left"></i>
</a>

{% endblock dashboard %}
{% block contenido %}

<div class="titulo-general-container">
    <h1 class="titulo-general">
        Agregar Extranjero a Puesta:
        <span class="puesta-color" ><strong>{{ puesta.numeroOficio }}</strong></span>
    </h1>
</div>



<form id="extranjeroAC" method="post" class="card p-3 mt-5" enctype="multipart/form-data" >
    <div class="d-flex align-items-center justify-content-between">
        <h1>Datos del extranjero</h1>
        <button id="tomarFotoBtn" class="btn btn-custom2" title="Verificar Extranjero">
            <i class="fas fa-user"></i> <!-- Icono de usuario -->
        </button>
    </div> 

    {% csrf_token %}
    {{ form.puesta.as_hidden }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3" style='display:none'>
            {{form.numeroExtranjero|as_crispy_field}}
            <script>
                document.getElementById('id_numeroExtranjero').readOnly = true;
            </script>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2" style='display:none'>
            {{form.deLaEstacion|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.nombreExtranjero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.apellidoPaternoExtranjero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.apellidoMaternoExtranjero|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.nacionalidad|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.genero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.fechaNacimiento|as_crispy_field}}
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="file-input-container">
                <a class="btn btn-sm btn-icon1 btn-primary btnTomarFoto mt-3"
                 class="button-link"
                onclick="abrir_modal_eliminar(this.href); return false;"
                 data-input-id="id_documentoIdentidad">
                <i class="fas fa-camera"></i> 
                </a>
                {{form.documentoIdentidad|as_crispy_field}}
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.tipoEstancia|as_crispy_field}}
        </div>
       
        <div class="col-sm-12 col-md-4 col-lg-4" style='display:none'>
            {{form.viajaSolo|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6" style='display:none'>
            {{form.deLaPuestaVP|as_crispy_field}}
        </div>
    </div>
    <button id="botonGuardar" class="btn btn btn-custom float-end btn-primary" type="submit">Guardar</button>
    <br>
    <a href="{% url 'listAcompanantesVP' extranjero_principal_id puesta.id %}" class="btn btn-custom1">Cancelar</a>   

    </form>
    <div class="modal fade" id="webcamModal" tabindex="-1" aria-labelledby="webcamModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header custom-header-color">
                    <h2 class="modal-title">Capturar Foto</h2>
                    <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="timerSpan" style="margin-left: 10px; display: none;">3</span>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="capture-container">
                        <video id="webcam" width="640" height="480" autoplay></video>
                        <canvas id="capturedImage" width="640" height="480" style="display:none;"></canvas>
                        <div id="countdown"
                            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #20302B; color: white; font-size: 24px; padding: 10px 20px; border-radius: 5px; display: none;">
                            5</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="capturarFoto" class="btn btn-custom1">Capturar foto</button>
                    <button id="confirmarFoto" class="btn btn-custom2">Confirmar foto</button>
                    <button id="nuevaFoto" class="btn btn-custom1">Tomar nueva foto</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock contenido %}
    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script>
        let verifiedObj = JSON.parse(localStorage.getItem('verifiedTime') || '{}');
        let isVerified = verifiedObj.time && 
                         verifiedObj.extranjeroId === '{{ extranjero_id }}' && 
                         (new Date().getTime() - verifiedObj.time) < 300000;
    
        if (isVerified) {
            // También debemos establecer un nuevo temporizador para manejar el caso en que la página no se recargue
            setTimeout(() => {
                isVerified = false;
                localStorage.removeItem('verifiedTime'); // limpiar el valor almacenado
            }, 300000 - (new Date().getTime() - verifiedObj.time));
        }
        function resetModal() {
            let video = document.getElementById('webcam');
            let canvas = document.getElementById('capturedImage');
    
            if (video.srcObject) {
                video.srcObject.getTracks().forEach(track => track.stop());
            }
    
            video.removeAttribute('src');
            video.load();
    
            video.style.display = 'block';
            canvas.style.display = 'none';
    
            document.getElementById('capturarFoto').style.display = 'inline-block';
            document.getElementById('confirmarFoto').style.display = 'none';
            document.getElementById('nuevaFoto').style.display = 'none';
        }
    
        document.getElementById('tomarFotoBtn').addEventListener('click', function() {
            if (isVerified) {
                let url = btn.getAttribute('href');
                abrir_modal(url);
            } else {
                let modal = new bootstrap.Modal(document.getElementById('webcamModal'), {
                    keyboard: false
                });
    
                let video = document.getElementById('webcam');
                let canvas = document.getElementById('capturedImage');
    
                resetModal();
    
                modal.show();
    
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function(stream) {
                        video.srcObject = stream;
                        video.play();
                    })
                    .catch(function(error) {
                        console.error("Error accediendo a la webcam: ", error);
                    });
    
                document.getElementById('capturarFoto').onclick = function(event) {
                    event.preventDefault();
    
                    canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                    video.style.display = 'none';
                    canvas.style.display = 'block';
                    document.getElementById("capturedImage").style.opacity = "1";
    
                    document.getElementById('capturarFoto').style.display = 'none';
                    document.getElementById('confirmarFoto').style.display = 'inline-block';
                    document.getElementById('nuevaFoto').style.display = 'inline-block';
                };
    
                document.getElementById('nuevaFoto').onclick = function(event) {
                    event.preventDefault();
                    canvas.style.display = 'none';
                    video.style.display = 'block';
    
                    document.getElementById("capturedImage").style.opacity = "0";
    
                    document.getElementById('capturarFoto').style.display = 'inline-block';
                    document.getElementById('confirmarFoto').style.display = 'none';
                    document.getElementById('nuevaFoto').style.display = 'none';
    
                    if (video.srcObject) {
                        video.srcObject.getTracks().forEach(track => track.stop());
                    }
                    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                        video.srcObject = stream;
                    });
                };
    
                document.getElementById('confirmarFoto').onclick = function(event) {
                    event.preventDefault();
                    canvas.toBlob(function(blob) {
                        let file = new File([blob], "foto_webcam.png", { type: "image/png" });
                        const puesta_id = document.getElementById('id_deLaPuestaVP').value;
    
                        let formData = new FormData();
                        var extranjeroId = '{{ extranjero_id }}';
    
                        formData.append('image', file);
                        formData.append('extranjero_id', extranjeroId);
                        formData.append('puesta_id', puesta_id);
    
    
                        $.ajax({
                            url: '/seguridad/manejar_imagen3/',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            headers: { 'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val() },
                            success: function(data) {
                                if (data.match) {
                                    isVerified = true;
                                    localStorage.setItem('verifiedTime', JSON.stringify({
                                        time: new Date().getTime(),
                                        
                                    }));
    
                                    setTimeout(() => {
                                        isVerified = false;
                                        localStorage.removeItem('verifiedTime');
                                    }, 300000);
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Coincidencia Exitosa!',
                                        text: data.similarity,
                                        confirmButtonText: 'Aceptar',
                                       
                                        confirmButtonColor: '#20302B',
                                        
                                        reverseButtons: true,
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // El usuario hizo clic en "Aceptar", redirige a la URL deseada
                                            const redirectURL = data.redirect_url;
                                            window.location.href = redirectURL;
                                        }
                                    });
                                
                                    // Agrega el atributo de datos personalizados al botón "Aceptar"
                                    $('#acceptButton').data('href', data.redirect_url);
    
                                } else {
                                    Swal.fire({
                                        icon: 'warning',
                                        title: '¡No hay coincidencia!',
                                        text: data.similarity
                                    });
                                }
                            },
                            error: function(error) {
                                console.error('Error al enviar la imagen:', error.responseText);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: '¡Algo salió mal!',
                                    footer: '<a href>¿La persona en la foto no coincide con los datos?</a>'
                                });
                            }
                        });
    
                        modal.hide();
                        if (video.srcObject) {
                            video.srcObject.getTracks().forEach(track => track.stop());
                        }
                    }, 'image/png');
                };
            }
        });
        $('#webcamModal').on('hidden.bs.modal', function() {
            let video = document.getElementById('webcam');
            let canvas = document.getElementById('capturedImage');
            if (video.srcObject) {
                video.srcObject.getTracks().forEach(track => track.stop());
            }
            video.style.display = 'block';
            canvas.style.display = 'none';
            document.getElementById('capturarFoto').style.display = 'inline-block';
            document.getElementById('confirmarFoto').style.display = 'none';
            document.getElementById('nuevaFoto').style.display = 'none';
        });
    </script>
    {% include "includes/js/fecha.html" %}
    {% include "includes/js/cam/camera.html" %}
    {% endblock script %}