<div class="titulo-general-container mt-5">
    <h1 class="titulo-general">Asignar Número de Inventario a : 
      <span class="puesta-color" >
        <strong>{{extranjero.nombreExtranjero}}</strong>
        {% if extranjero.apellidoPaternoExtranjero %}
         <strong>{{ extranjero.apellidoPaternoExtranjero }}</strong>
        {% endif %}
        {% if extranjero.apellidoMaternoExtranjero %}
          <strong>{{ extranjero.apellidoMaternoExtranjero }}</strong>
        {% endif %}
      </span>
    </h1>
  </div>
<br>
  