
<div class="modal fade" id="webcamModal1" tabindex="-1" aria-labelledby="webcamModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header custom-header-color">
                <h2 class="modal-title">Capturar Foto</h2>
                <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="timerSpan" style="margin-left: 10px; display: none;">3</span>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center"> <!-- Agregado flexbox -->
                <div class="capture-container">
                    <!-- Vídeo de la webcam -->
                    <video id="webcam1" width="640" height="480" autoplay></video>
                    <canvas id="capturedImage1" width="640" height="480" style="display:none;"></canvas>
                    <div id="rostroCuadro" style="position: absolute; border: 2px solid red; pointer-events: none;">
                        <p class='leyenda' style="text-align: center; color: red; font-weight: bold;">
                          Posiciona el rostro al centro del recuadro para capturar la foto</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="capturarFoto1" class="btn btn-custom1">Capturar foto</button>
                <button id="confirmarFoto1" class="btn btn-custom2">Confirmar foto</button>
                <button id="nuevaFoto1" class="btn btn-custom1">Tomar nueva foto</button>
            </div>
        </div>
    </div>
  </div>