{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.1998 ">
{% endblock link %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'homeSeguridadGeneral' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}

{% block contenido %}
<div class="titulo-general-container">
    <h1 class="titulo-general">Listado de Solicitud de Arribos</h1>
</div>

<br>
<div class="table-responsive">
    <table id="tabla" class="table table-striped table-bordered display responsive nowrap " style="width: 100%;">
      <thead>
          <tr>
            <th>No.Único de Proceso</th>
            <th>Estación de Origen</th>
            <th>Fecha de Solicitud</th>
            <th>Autoridad que Envía</th>
            <th style="width: 5%;">Status</th>
            <th style="width: 5%;">Opciones</th>
          </tr>
      </thead>
      <tbody>
        {% for traslado in trasladosRecibidos %}
        <tr>
            <td>{{ traslado.numeroUnicoProceso }}</td>
            <td>{{ traslado.estacion_origen }}</td>
            <td>{{ traslado.fechaSolicitud }}</td>
            <td>{{ traslado.nombreAutoridadEnvia }}</td>
            <td>
              {% if traslado.status == 0 %}  <!-- Si es SOLICITUD, permitimos cambios -->
                  <a href="{% url 'editar-status' traslado.id %}" class="btn" 
                     style="background-color: #A3835F; color: #ffffff;"
                     onclick="abrir_modal_eliminar(this.href); return false;">
                      {{ traslado.get_status_display }}
                  </a>
                 
              {% else %}  <!-- Si es ACEPTADO o RECHAZADO, mostramos solo el estado sin permitir cambios -->
                  <span class="btn" 
                        style="{% if traslado.status == 1 %}background-color: #2A4B41; color: #ffffff;{% endif %}
                               {% if traslado.status == 2 %}background-color: #873542; color: #ffffff;{% endif %}">
                      {{ traslado.get_status_display }}
                  </span>
              {% endif %}
          </td>
          
          <td>
            {% if traslado.status == 0 %} 
                <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "listaExtranjerosTrasladoDestino" traslado.id%}"
                    data-title="Ver Extranjeros" style='display:none'>
                    <i class="fas fa-users"></i> <!-- Icono Ver Personas -->
                </a>
            {% else %}
               <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "listaExtranjerosTrasladoDestino" traslado.id%}"
                    data-title="Ver Extranjeros">
                    <i class="fas fa-users"></i> <!-- Icono Ver Personas -->
                </a>
            {% endif %}
                <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "estadistica" traslado.id%}" data-title="Ver Gráfica de Pastel">
                    <i class="fas fa-chart-pie"></i> <!-- Icono de Gráfica de Pastel -->
                </a>
                
                
                <a class="btn btn-sm btn-icon3 tooltip-link" href="#"
                data-title="Ver Oficio">
                <i class="fas fa-file-pdf"></i> <!-- Icono Ver Personas -->
                </a>
            </td>
        </tr>
        {% endfor %}
        
      </tbody>
      <tfoot>
          <tr>
            <th>No.Único de Proceso</th>
            <th>Estación de Origen</th>
            <th>Fecha de Solicitud</th>
            <th>Autoridad que Envía</th>
            <th>Status</th>
            <th style="width: 5%;">Opciones</th>
          </tr>
      </tfoot>
    </table>
  
    <br>
  
  </div>

  <div class="modal fade" id="eliminarextranjero" role="dialog">
  </div>
{% endblock %}
{% block script %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_eliminar(url){
        $('#eliminarextranjero').load(url, function(){
            $(this).modal('show');
        })
    }
    
</script>

{% endblock script %}