{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4" style='display:none'>
        {{ form1.delExtranjero|as_crispy_field}}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
            {{form1.estatura|as_crispy_field}}
       </div>
 
      <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.cejas|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.nariz|as_crispy_field }}
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.labios|as_crispy_field }}
      </div>


      <div class="col-sm-6 col-md-6 col-lg-4">
            {{form1.tipoCabello|as_crispy_field}}
      </div>
 
      <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.bigote|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.complexion|as_crispy_field }}
      </div>


      <div class="col-sm-6 col-md-6 col-lg-4">
        {{form1.frente|as_crispy_field}}
      </div>

     <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.colorOjos|as_crispy_field }}
     </div>
     <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.boca|as_crispy_field }}
     </div>
     <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.segnasParticulares|as_crispy_field }}
     </div>
     <div class="col-sm-6 col-md-6 col-lg-4">
        {{ form1.observaciones|as_crispy_field }}
     </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-custom btn-primary btn-block" type="submit">Guardar</button>
      </div>
    </div>
  </form>