{% extends 'administrador/base.html' %}
{% load static %}
{% block titulo %}Pame - Menu {% endblock titulo %}
{% block dashboard %}{% endblock dashboard %}



{% block seccion %}Menu Principal{% endblock seccion %}

{% block contenido %}

<ul>
    
    <h1 class="title" style="text-align: center;"> Accesos Rapidos</h1>

  

        
        <div class="container" >
            <div class="card">
                <h4><a href="{% url 'homeSeguridadGeneral' %}" style="font-size: x-large ;">SeguridadGeneral</a> </h4>
                <img src="{% static 'img/gh.jpg' %}" style="object-fit: cover; width: 80%; height: 80%; display: block; margin: 0 auto; width: 50%;">
            </div>

            
            <div class="card">
                <a href="#" style="font-size: x-large;">Directivos</a>
                <img src="{% static 'img/ceo.jpg' %}" style="object-fit: cover; width: 200%; height: 50%; display: block; margin: 0 auto; width: 30%;">
            </div>
            
            <div class="card">
                <a href="#" style="font-size: x-large;">Juridico General</a>
                <img src="{% static 'img/gjuridico.jpg' %}" style="object-fit: cover; width: 200%; height: 50%; display: block; margin: 0 auto; width: 30%;">
                <a href="{% url 'homeAmparo' %}" style="font-size: large;">Amparo</a>

            </div>
        
        <div class="card">
            <a href="#" style="font-size: x-large;">Juridico Responsable</a>
            <img src="{% static 'img/jr.png' %}" style="object-fit: cover; width: 200%; height: 50%; display: block; margin: 0 auto; width: 30%;">
        </div>


        <div class="card">
            <a href="#" style="font-size: x-large;">Medico</a>
            <img src="{% static 'img/medico.jpg' %}" style="object-fit: cover; width: 200%; height: 40%; display: block; margin: 0 auto; width: 30%;">
            <a href="{% url 'homeCertificadoMedico' %}" style="font-size: large;">Certificado Medico</a>
            <a href="{% url 'homeConsultaMedica' %}" style="font-size: large;">Consulta Medica</a>
            <a href="{% url 'homeFarmacia' %}" style="font-size: large;">Farmacia</a>
        </div>
        
        <div class="card">
            <a href="#" style="font-size: x-large;">Administradores</a>
            <img src="{% static 'img/administrador.png' %}" style="object-fit: cover; width: 200%; height: 50%; display: block; margin: 0 auto; width: 30%;">
        </div>
        
        <div class="card">
            <a href="#" style="font-size: x-large;">Seguridad Responsable</a>
            <img src="{% static 'img/seguridadmi.jpg' %}" style="object-fit: cover; width: 300%; height: 65%; display: block; margin: 0 auto; width: 30%;">
        </div>
        <div class="card">
            <a href="#" style="font-size: x-large;">Comedor</a>
            <img src="{% static 'img/cocina.jpg' %}" style="object-fit: cover; width: 200%; height: 50%; display: block; margin: 0 auto; width: 30%;">
            <a href=""  style="font-size: large;" >Comedor</a>

        </div>
    </div>

{% endblock contenido %}
