{% extends 'administrador/base.html' %}
{% load static %}
{% block titulo %}Pame - Menu {% endblock titulo %}
{% block dashboard %}{% endblock dashboard %}



{% block seccion %}Menu Principal{% endblock seccion %}

{% block contenido %}


    <h1 class="title" style="text-align: center;"> Accesos Rapidos</h1>

  

        
        <div class="container" >
            <div class="card">
                <img src="{% static 'img/gh.jpg' %}" style="object-fit: cover; width: 80%; height: 80%; display: block; margin: 0 auto; width: 50%;">
                <h4><a href="{% url 'homeSeguridadGeneral' %}" style="font-size: 20PX;">SeguridadGeneral</a> </h4>
            </div>
            
            <div class="card">
                <img src="1.jpg">
                <h4> gobierno de mexico</h4>
                <p>cartel de santa</p>
                <p>aleman</p>
                <p>corridos</p>
                <a href="#">ingresar</a>
            </div>
            
            <div class="card">
                <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
        
        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>


        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
        
        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
        
        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
        
        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
        <div class="card">
            <img src="1.jpg">
            <h4> gobierno de mexico</h4>
            <p>cartel de santa</p>
            <p>aleman</p>
            <p>corridos</p>
            <a href="#">ingresar</a>
        </div>
    </div>

    
    


{% endblock contenido %}
