{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load static %}
{% block titulo %}PAME - Menú{% endblock titulo %}
{% block card %}{% endblock card %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/cards/style.css' %}?v1.2ssss">
{% endblock link %}
{% block seccion  %}Menu{% endblock seccion  %}


{% block contenido  %}

{% if 'SeguridadGeneral' in user_groups or 'SeguridadResponsable' in user_groups or 'Administradores' in user_groups %}

<div class="titulo-general-container">
    <h1 class="titulo-general">Accesos Directos a Puestas</h1>
</div>  
<div class="container mt-10">
  <div class="row justify-content-center">


    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card mx-auto">
        <div class="icon">
          <img src=" {% static 'img/icons/iconPuestaAC.jpg' %} " alt="Icono de imagen" class="imagen-icono">
        </i></div>
        <p class="titulo" >VER PUESTAS POR AUTORIDAD COMPETENTE</p>

        <a href="{% url 'homePuestaAC' %}" class="card-button">Ir</a>
      </div>
    </div>

      
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconPuestaINM.jpg' %} " alt="Icono de imagen" class="imagen-icono">
          </div>
          <p class="titulo" >VER PUESTAS POR (INM)</p>
          <a href="{% url 'homePuestaINM' %}" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconPuestaINM.jpg' %} " alt="Icono de imagen" class="imagen-icono">
          </div>
          <p class="titulo" >VER PUESTAS POR (VP)</p>
          <a href="{% url 'homePuestasVP' %}" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconTRAS.png' %} " alt="Icono de imagen" class="imagen-icono">
          </div>
          <p class="titulo" >VER TRASLADOS</p>
          <a href="{% url 'listTraslado' %}" class="card-button">Ir</a>
        </div>
      </div>


      
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconAC.jpg' %} " alt="Icono de imagen" class="imagen-icono">
        </div>
          <p class="titulo" >CREAR PUESTA POR AUTORIDAD COMPETENTE</p>

          <a href="{% url 'crearPuestaAC' %}" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">            
            <img src=" {% static 'img/icons/iconINM.jpg' %} " alt="Icono de imagen" class="imagen-icono">
          </div>
          <p class="titulo" >CREAR PUESTA POR (INM)</p>

          <a href="{% url 'crearPuestaINM' %}" class="card-button">Ir</a>
        </div>
      </div>
      
      

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconPuestaVP.png' %} " alt="Icono de imagen" class="imagen-icono">
          
          </div>
          <p class="titulo" >CREAR PUESTA POR VOLUNTAD PROPIA</p>
          <a href="{% url 'crearPuestaVP' %}" class="card-button">Ir</a>
        </div>
      </div>


      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card mx-auto">
          <div class="icon">
            <img src=" {% static 'img/icons/iconPuestaTRAS.png' %} " alt="Icono de imagen" class="imagen-icono">

          </div>
          <p class="titulo" >CREAR PUESTA POR TRASLADO</p>
          <a href="{% url 'listEstaciones' %}" class="card-button">Ir</a>
        </div>
      </div>
  </div>
</div>
<div class="titulo-general-container">
  <h1 class="titulo-general-traslados">Accesos Directos a Traslados</h1>
</div> 
<div class="container mt-10">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
      <div class="card card-traslado mx-auto">
        <div class="icon">
          <img src=" {% static 'img/icons/iconPuestaAC.jpg' %} " alt="Icono de imagen" class="imagen-icono">
        </i></div>
        <p class="titulo" >CREAR TRASLADO</p>

        <a href="{% url 'homePuestaAC' %}" class="card-button-traslado">Ir</a>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
      <div class="card card-traslado mx-auto">
        <div class="icon">
          <img src=" {% static 'img/icons/iconPuestaAC.jpg' %} " alt="Icono de imagen" class="imagen-icono">
        </i></div>
        <p class="titulo" >VER ARRIBOS</p>

        <a href="{% url 'homePuestaAC' %}" class="card-button-traslado">Ir</a>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if 'SeguridadGeneral' in user_groups or 'SeguridadResponsable' in user_groups or 'Administradores' in user_groups %}


{% endif %}

{% if 'CocinaGeneral' in user_groups or 'CocinaResponsable' in user_groups or 'Administradores' in user_groups %}
<div class="titulo-general-container">
  <h1 class="titulo-general">Accesos Directos a Cocina</h1>
</div>  
<div class="container mt-10">
<div class="row justify-content-center">


  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
    <div class="card mx-auto">
      <div class="icon">
        <div class="icon"><i class="fas fa-utensils"></i></div>
      </i></div>
      <p class="titulo" >PLANIFICACIÓN DE MENÚS</p>

      <a href="#" class="card-button">Ir</a>
    </div>
  </div>

    
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card mx-auto">
        <div class="icon">
          <div class="icon"><i class="fas fa-clipboard-list"></i></div>
        </div>
        <p class="titulo" >GESTIÓN DE INGREDIENTES Y ALMACENAMIENTO</p>
        <a href="#" class="card-button">Ir</a>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card mx-auto">
        <div class="icon">
          <div class="icon"><i class="fas fa-boxes"></i></div>
        </div>
        <p class="titulo" >PREPARACIÓN DE COMIDAS</p>
        <a href="#" class="card-button">Ir</a>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card mx-auto">
        <div class="icon">
          <div class="icon"><i class="fas fa-hamburger"></i></div>
        </div>
        <p class="titulo" >GESTIÓN DE HIGIENE Y SEGURIDAD </p>
        <a href="#" class="card-button">Ir</a>
      </div>
    </div>
</div>
</div>

{% endif %}



{% endblock contenido  %}