
<div class="modal fade" id="agregarRelacionModal" tabindex="-1" aria-labelledby="agregarRelacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="agregarRelacionModalLabel">Agregar Relación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'agregar_relacion_ac' extranjero_principal.id %}">
                  {% csrf_token %}

                  {{ form.as_p }}

                  <div class="mb-3">
                      <label for="id_delAcompanante" class="form-label">Seleccionar otro extranjero:</label>
                      {{ form.delAcompanante }}
                  </div>
                  <div class="mb-3">
                      <label for="id_relacion" class="form-label">Seleccionar tipo de relación:</label>
                      {{ form.relacion }}
                  </div>
                  <button type="submit" class="btn btn-primary">Agregar Relación</button>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>
