{% extends 'seguridad/baseSeguridadGeneral.html' %} {% load crispy_forms_tags %}
{% load static %} {% block link %}
<link
  rel="stylesheet"
  href=" {% static 'css/forms/style.css' %}?v1.223SDDddD22D "
/>
{% endblock link %} 


{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjerosVP' puesta.id %}">
    <i class="fas fa-arrow-left"></i>
</a>

{% endblock dashboard %}
{% block contenido %}
<div class="titulo-general-container mt-3">
  <h1 class="titulo-general">
      Asignar Enseres a Extranjero::
      <span class="puesta-color" >
          <strong>{{ extranjero.nombreExtranjero }}  
          {% if extranjero.apellidoPaternoExtranjero %}
                              {{ extranjero.apellidoPaternoExtranjero }}
                          {% endif %}
                          {% if extranjero.apellidoMaternoExtranjero %}
                              {{ extranjero.apellidoMaternoExtranjero }}
                          {% endif %}</strong> </span>
  </h1>
</div>


<form method="post" class="card p-3" enctype="multipart/form-data" >
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      {% for value, label in form.enseres.field.choices %}
       <div class="form-check">
          <input type="checkbox" name="{{ form.enseres.name }}" value="{{ value }}" class="form-check-input" id="id_enseres_{{ forloop.counter }}">
          <label class="form-check-label" for="id_enseres_{{ forloop.counter }}">{{ label }}</label>
       </div>
      {% endfor %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <input type="text" name="{{ form.enseresExtras.name }}" id="id_enseresExtras" class="form-control">
    </div>
  </div>

  <button class="btn btn-custom float-end btn-primary" type="submit">
    Guardar
  </button>
  <hr />
  <a href="{% url 'listarExtranjerosVP' puesta.id %}" class="btn btn-custom1"
    >Cancelar</a
  >
  <br>
</form>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var enseresCheckboxList = document.querySelectorAll('input[name="enseres"]'); // Obtener todas las opciones de checkboxes
      var enseresExtrasField = document.getElementById('id_enseresExtras');
  
      // Ocultar el campo enseresExtras al cargar la página
      enseresExtrasField.style.display = 'none';
  
      // Mostrar u ocultar enseresExtras cuando se cambie la selección
      enseresCheckboxList.forEach(function(checkbox) {
          checkbox.addEventListener('change', function() {
              if (document.querySelector('input[name="enseres"][value="Otros"]:checked')) {
                  enseresExtrasField.style.display = 'block';
              } else {
                  enseresExtrasField.style.display = 'none';
              }
          });
      });
  });
  </script>
  
{% endblock %}
