{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.223SDDDdd22D ">
{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'listarExtranjerosVP' puesta.id %}">
  <i class="fas fa-arrow-left"></i>
</a>

{% endblock dashboard %}
{% block contenido %}

{% include "includes/tituloPertenencias.html" %}
{% include "includes/cardPertenencias.html" %}


        

<a class='btn btn-custom' href="{% url 'crear_pertenenciasVP' inventario_id=inventario.id puesta_id=puesta.id%}" onclick="abrir_modal(this.href); return false;">Agregar Pertenencias</a>

<br>
<br>

<table id="puestaAC-table" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Observaciones</th>
            <th>Opciones</th>

        </tr>
    </thead>
    <tbody>
        {% for pertenencia in object_list %}
        <tr>
            <td>{{ pertenencia.descripcion }}</td>
            <td>{{ pertenencia.cantidad }}</td>
            <td>{{ pertenencia.observaciones }}</td>
            <td>

             


             <a class="btn btn-sm btn-icon3 tooltip-link"
             href="{% url 'editar_pertenenciasINM' pertenencia.id%}"
             data-title="Editar Pertenencia" onclick="abrir_modal_editar(this.href); return false;">
             <i class="fas fa-edit"></i>
            </a>
                <a class="btn btn-sm btn-icon3 tooltip-link"
                href="{% url 'eliminar_pertenenciasVP' pertenencia.id %}"
                data-title="Eliminar Pertenencia" onclick="abrir_modal(this.href); return false;">
                <i class="fas fa-trash-alt"></i>
                </a>

            </td>
        {% endfor %}
    </tbody>
</table>

<hr>
<a href="{% url 'listarExtranjerosVP' puesta.id %}" class="btn btn-custom">Volver</a>
<div class="modal fade" id="agregarpertenencia" role="dialog">
</div>
<div class="modal fade" id="editartpertenencia" role="dialog">

    
</div>

<div class="modal fade" id="eliminarextranjero" role="dialog">
</div>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal(url){
        $('#agregarpertenencia').load(url, function(){
            $(this).modal('show');
        })
    }
    
</script>

<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_editar(url){
        $('#editartpertenencia').load(url, function(){
            $(this).modal('show');
        })
    }
    
</script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_eliminar(url){
        $('#eliminarextranjero').load(url, function(){
            $(this).modal('show');
        })
    }
    
</script>




{% endblock script %}

