.titulo-general-container {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .titulo-general {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  
  .titulo-general-container::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0; 
    width: 80px;
    height: 4px; 
    background-color: #a98159;
  }


  /* Botones */

  /* Agrega una clase de estilo personalizada para el botón */
.btn-custom {
    background-color: #902F4A; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border-color: #902F4A; /* Cambia el color del borde */
}
  
  /* Cambia los estilos al pasar el cursor sobre el botón */
.btn-custom:hover {
    color: white;
    background-color: #7C2540; /* Cambia el color de fondo al pasar el cursor */
    border-color: #7C2540; /* Cambia el color del borde al pasar el cursor */
}


.btn-custom1 {
    background-color: #A3825F; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    border-color: #902F4A; /* Cambia el color del borde */
}

.btn-custom1:hover{
    color: white;
    background-color: #8c7051; /* Cambia el color de fondo al pasar el cursor */
    border-color: #8c7051; /* Cambia el color del borde al pasar el cursor */
    
}
  /* -------------------------------Estilos para la tabla ---------------------- */

#puestaAC-table thead th {
    background-color: #1E4C40;
    color: white; /* Cambia el color del texto */
  }

#puestasinm-table thead th {
    background-color: #1E4C40;
    color: white; /* Cambia el color del texto */
  }


#puestaAC-table {
    width: 100%; /* Adjust as needed */
}

#puestaAC-table th,
#puestaAC-table td {
    width: auto; /* Adjust as needed */
}

/* Add any additional styling you want */
.custom-table {
    /* Your custom styles here */
}
  

/* ------------------------ICONOS DE LA TABLA  */

