{% extends 'seguridad/baseSeguridadGeneral.html' %}

{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}

{% block titulo %}Acuerdos Generales {% endblock titulo %}

{% block contenido %}
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
        Acuerdos y Documentos del extranjero: {{ nombre_extranjero }}
    </h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>NUP</th>
            <th>Tipo</th>
            <th>Fecha de Generación</th>
            <th>Responsable</th>
            <th>Estación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for documento in object_list %}
        <tr>
            <td>{{ documento.nup.nup }}</td>
            <td>{{ documento.delTipo }}</td>
            <td>{{ documento.fechaGeneracion }}</td>
            <td>{{ documento.delResponsable }}</td>
            <td>{{ documento.delaEstacion }}</td>
            <td>
                <a href="{{ documento.archivo.url }}" target="_blank">Ver</a> |
                <a href="{{ documento.archivo.url }}" download>Descargar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}

{% block script %}
{% endblock script %}



