{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}?v1.199e8">
{% endblock link %}

{% block dashboard %}
    <a class="btn btn-sm btn-icon1 " href="{% url 'menu' %}"> Regresar al menu
        <i class="fas fa-arrow-left"></i>
    </a>
{% endblock dashboard %}

{% block contenido %}
<div>
</div>
<br>
<div style="text-align: center;font-size:250%;color:#922E42">
    Listado de extranjeros para generar la notificación
</div>
<div style="text-align: center;font-size:250%;color:#922E42">
    a una defensoria
</div>
    <table id="tabla" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido(s)</th>
                <th>Nacionalidad</th>
                <th>Tiempo</th>
                <th style="width: 5%;">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for extranjero in extranjeros %}
                <tr>
                    <td>{{ extranjero.nombreExtranjero }}</td>
                    <td>
                        {% if extranjero.apellidoPaternoExtranjero %}
                            {{ extranjero.apellidoPaternoExtranjero }} 
                        {% endif %}
                        {% if extranjero.apellidoMaternoExtranjero %}
                            {{ extranjero.apellidoMaternoExtranjero }}
                        {% endif %}

                    </td>
                    <td>{{ extranjero.nombreExtranjero }}</td>

                </td>
                    <td style="text-align: center; 
                    {% if extranjero.horas_transcurridas < 12 %}background-color: #2A4B41; color: white;
                    {% elif extranjero.horas_transcurridas < 24 %}background-color: #B0976B; color: white;
                    {% elif extranjero.horas_transcurridas < 36 %}background-color: #873542; color: white;
                    {% else %}background-color: red; color: black;
                    {% endif %}">
                    {{ extranjero.horas_transcurridas }} horas {{ extranjero.minutos_transcurridos }} minutos
                    </td> 

                    <td>
                        <a class="btn btn-sm btn-icon1 tooltip-link"
                            href="{% url 'notificacion' extranjero.id %}"
                            data-title="Notificar a defensoria">
                            <i class="fas fa-balance-scale"></i>
                        </a>
                        <a class="btn btn-sm btn-icon1 tooltip-link"
                            href="{% url "modale" %}"
                            data-title="Subir documento" onclick="abrir_modal_pdf(this.href); return false">
                            <i class="fas fa-up-long"></i>
                        </a>
                        <!-- Agrega más botones según tus necesidades -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Apellido(s)</th>
                <th>Nacionalidad</th>
                <th>Tiempo</th>
                <th style="width: 5%;">Opciones</th>
            </tr>
        </tfoot>
    </table>

    <!-- Modal para eliminar el extranjero -->
    <div class="modal fade" id="eliminarextranjero" role="dialog"></div>

    <!-- Modal para mostrar el archivo PDF -->
    <div class="modal fade" id="mostrararchivo" role="dialog"></div>

{% endblock contenido %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();

    function abrir_modal_notificacion(url) {
        $('#eliminarextranjero').load(url, function () {
            $(this).modal('show');
        });
    }

    function abrir_modal_pdf(url) {
        $('#mostrararchivo').load(url, function () {
            $(this).modal('show');
        });
    }
</script>
{% endblock script %}
