{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}?v1.2ggg">
{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1" href="{% url 'listdefensores' %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}

{% block contenido %}
<div class="titulo-general-container mt-5">
  <h1 class="titulo-general">
      Editar Defensoria
  </h1>
</div>

<form method="post" enctype="multipart/form-data">
  <div  class="card p-3" enctype="multipart/form-data">

  <div class="d-flex align-items-center justify-content-between">
      <h1>Datos de las entidades defensoras</h1>
  </div>
  {% csrf_token %}
  {{ form.as_hidden }}
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-6">
      {{ form.estado|as_crispy_field }}
    </div>
    <div class="col-sm-12 col-md-4 col-lg-6">
      {{ form.cargoTitular|as_crispy_field }}
    </div>
    
    </div>

   <div class="row">
     <div class="col-sm-12 col-md-4 col-lg-4">
       {{ form.nombreTitular|as_crispy_field }}
     </div>
     <div class="col-sm-12 col-md-4 col-lg-4">
       {{ form.apellidoPaternoTitular|as_crispy_field }}
     </div>
     <div class="col-sm-12 col-md-4 col-lg-4">
       {{ form.apellidoMaternoTitular|as_crispy_field }}
     </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.email1|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
          {{ form.email2|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.telefono|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.telefono2|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.calle|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
          {{ form.colonia|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.municipio|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.cp|as_crispy_field }}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{ form.estatus|as_crispy_field }}
      </div>
    </div>

    <button class="btn btn-custom float-end btn-primary" type="submit">Guardar</button>
    <br>
    <a href="{% url 'listdefensores' %}" class="btn btn-custom1">Cancelar</a>
  </div>
</form>
{% endblock contenido %}
