{% load static %}
<style>
    .custom-header-color {
        background-color: #8B2941;
        color: white; /* Ajusta el color del texto según tu preferencia */
    }
    .custom-close-button {
        color: white;
    }
</style>
<div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">
        <div class="modal-header custom-header-color">
            <h2 class="modal-title">Enviar notificación</h2>
            <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% load crispy_forms_tags %}

        <form action="{% url "listnotificacion" extranjero.id defensoria.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_hidden }}
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-left">
                    <div>
                        <span class="valor ml-4"><b>Nombre(s):</b></span>
                        <br>
                        <span class="valor ml-4">{{ extranjero.nombreExtranjero }}</span>
                        <br>
                        <span class="valor ml-4"><b>Nacionalidad:</b></span>
                        <br>
                        <span class="valor ml-4">{{ extranjero.nacionalidad }}</span>
                    </div>
                </div>                
            
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    {{ form.nup|as_crispy_field }}
                </div>
            
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    {{ form.defensoria|as_crispy_field }}
                </div>
            
                <div class="col-sm-12 col-md-4 col-lg-4 text-center" style="display:none;">
                    {{ form.extranjero|as_crispy_field}}
                </div>
            </div>
            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-custom2">Confirmar</button>
            </div>
        </form>

        <div class="col-sm-12 col-md-4 col-lg-4"style="display:none;">
            {{ form.extranjero|as_crispy_field}}
        </div>
        

    </div>
</div>

