{% load static %}
<style>
    .custom-header-color {
        background-color: #8B2941;
        color: white;
    }

    .custom-close-button {
        color: white;
    }

    /* Nuevo estilo para centrar el código QR */
    #qrcode {
        margin: 20px auto;
        display: block;
    }
</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header custom-header-color">
            <h2 class="modal-title">Enviar notificación</h2>
            <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% load crispy_forms_tags %}

        <form action="{% url "listnotificacion" extranjero.id defensoria.id %}" method="POST" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            {{ form.as_hidden }}
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-left">
                    <div>
                       
                        <span class="valor ml-4"><b>Nombre(s):</b></span>
                        <br>
                        <span class="valor ml-4">{{ extranjero.nombreExtranjero }}</span>
                        <br>
                        <span class="valor ml-4"><b>Nacionalidad:</b></span>
                        <br>
                        <span class="valor ml-4">{{ extranjero.nacionalidad }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    {{ form.autoridad_actuante|as_crispy_field}}
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 text-center" style="display:none">
                    {{ form.nup|as_crispy_field }}
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    {{ form.defensoria|as_crispy_field }}
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4 text-center" style="display:none;">
                    {{ form.extranjero|as_crispy_field}}
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-custom">Guardar</button>

            </div>
        </form>

        <div id="qrcode"></div>

        <div class="col-sm-12 col-md-4 col-lg-4" style="display:none;">
            {{ form.extranjero|as_crispy_field}}
        </div>

    </div>
</div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    function generarCodigoQR() {
        var valorQR = "http://192.168.1.100:8082/notificaciones/firma/{{extranjero_id}}";
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: valorQR,
            width: 128,
            height: 128
        });
    }
</script>
