{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}?v1.199e8">
{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1" href="{% url 'menu' %}">
    <i class="fas fa-arrow-left"></i>
  </a>
{% endblock dashboard %}

{% block contenido %}

    <div class="titulo-general-container mt-2">
        <h1 class="titulo-general">
            Lista de defensorias
        </h1>
    </div>
    <br>

<div>

    <div class="table-responsive">
        <table id="tabla" class="table table-striped table-bordered display responsive nowrap">
            <thead>
                <tr>
                    <th>Entidad</th>
                    <th>Titular</th>
                    <th>Cargo</th>
                    <th>Correos</th>
                    <th>Teléfono</th>
                    <th>CP</th>
                    <th style="width: 5%;">Opciones</th>

                </tr>
            </thead>
            <tbody>
                {% for defensoria in defensorias %}
                    <tr>
                        <td>{{ defensoria.estado }}</td>
                        <td>{{ defensoria.nombreTitular }} {{ defensoria.apellidoPaternoTitular }} {{ defensoria.apellidoMaternoTitular }}</td>
                        <td>{{ defensoria.cargoTitular }}</td>
                        <td>
                            {{ defensoria.email1 }}
                            {% if defensoria.email2 %}
                            |{{ defensoria.email2 }}
                            {% endif %}
                        </td>
                        <td>
                            {{ defensoria.telefono }} 
                            {% if defensoria.telefono2 %}
                            | {{defensoria.telefono2}} 
                            {% endif %}
                        </td>
                        <td>{{ defensoria.cp }}</td>
                        <td>
                            <a class="btn btn-sm btn-icon3 tooltip-link" href="{% url "editarDefensoria" defensoria.id%}" data-title="Editar Defensoria">
                                <i class="fa-solid fa-user-pen"></i> 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Entidad</th>
                    <th>Titular</th>
                    <th>Cargo</th>
                    <th>Correos </th>
                    <th>Teléfono</th>
                    <th>CP</th>
                    <th style="width: 5%;">Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Modal para eliminar el extranjero  -->
    <div class="modal fade" id="eliminarextranjero" role="dialog">
    </div>
</div>
{% endblock contenido %}
{% block datatable %}
 {
    text: 'Nueva defensoria',
    className: 'btn btn-custom mr-2',
    action: function (e, dt, node, config) {
      // Redirigir a la URL relativa a la ubicación actual
      window.location.href = '{% url 'crearDefensoria' %}';
   }
  },

  
{% endblock datatable %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();

    function abrir_modal_eliminar(url) {
        $('#eliminarextranjero').load(url, function () {
            $(this).modal('show');
        })
    }
</script>
{% endblock script %}
