{% extends 'seguridad/baseSeguridadGeneral.html' %}


{% block titulo %}PAME - Seguridad General{% endblock titulo %}

{% block dashboard %}Seguridad General{% endblock dashboard %}

{% block seccion  %}Seguridad general{% endblock seccion  %}


{% block contenido  %}
<h1>Estas en el menu de Seguridad General</h1>

<ul>
    <li><a href=" {% url 'homePuestaAC' %} ">Puesta AC </a></li> 
    <li><a href="{% url 'homePuestaINM' %}">Puesta INM </a></li>
    <li><a href="{% url 'homePuestaVP' %}">Puesta VP </a></li>
</ul>


{% endblock contenido  %}




