.card {
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Para apilar el icono y el botón verticalmente */
    align-items: center;
    justify-content: center;
    width: 250px; /* Ancho igual al tamaño de la altura */
    height: 270px; /* Altura para hacer las cards cuadradas */
    position: relative; /* Para posicionar el botón en la parte inferior */
    overflow: hidden; /* Para que el botón no se desborde */
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .icon {
    font-size: 80px; /* Icono más grande */
    color: #B78D62;
    margin-top: 30%;
    transition: color 0.3s;
  }

  .card:hover .icon {
    color: #a98159;
  }

  .card-button {
    margin-top: auto; /* Mueve el botón hacia la parte inferior */
    margin-bottom: 25%;
    background-color: #991F40; /* Fondo transparente */
    color: white;
    border-radius: 10%; /* Forma ovalada */
    padding: 5px 10px; /* Espacio interno del botón */
    width: 40%; /* Ancho del botón */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .titulo-general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .titulo-general {
    background-color: #a98159;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 500px; /* Cambia el valor según lo que necesites */


    font-size: 24px; /* Cambia el tamaño del encabezado h1 */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Agrega espacio inferior */
  }
  
  .titulo{
    font-size: 15px; /* Cambia el tamaño del párrafo p */
    text-align: center; /* Centra el texto horizontalmente */
    font-weight: 700; /* Nivel de negrita más ligero */

  }