{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.199e8 ">
{% endblock link %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'representantes-legales-list' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
         Asignar Representantes Legales en la Estación :
        <span class="puesta-color" ><strong>{{ estacion }}</strong></span>
    </h1>
  </div>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Asignar Representante</button>
</form>


{% endblock contenido%}
