{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/forms/style.css' %}?v1.199e8 ">
{% endblock link %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'representantes-legales-list' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
<div class="titulo-general-container mt-2">
    <h1 class="titulo-general">
         Agregar Representantes Legales en la Estación :
        <span class="puesta-color" ><strong>{{ estacion }}</strong></span>
    </h1>
  </div>
<br>

<form method="post" enctype="multipart/form-data">
    <div class="card p-3" enctype="multipart/form-data">
        <div class="d-flex align-items-center justify-content-between">
            <h1>Datos del Representante</h1>

        </div>
        {%csrf_token%}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                {{ form.nombre|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                {{ form.apellido_paterno|as_crispy_field }}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                {{ form.apellido_materno|as_crispy_field }}
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                {{ form.cedula|as_crispy_field }}
            </div>
                
            <div class="col-sm-12 col-md-6 col-lg-6">
                {{ form.grado_representante_legal|as_crispy_field }}
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ form.telefono|as_crispy_field }}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                {{ form.email|as_crispy_field }}
            </div>
         
            <div class="col-sm-12 col-md-4 col-lg-3">
                {{ form.defensoria|as_crispy_field }}
            </div>
        </div>
        <button class="btn btn-custom float-end btn-primary" type="submit">Guardar</button>
    <br>
    <a href="{% url 'representantes-legales-list' %}" class="btn btn-custom1">Cancelar</a>
    </div>
</form>

{% endblock contenido%}
