{% extends "documentos/base.html" %}

{% block content %}
<p>En la Ciudad de {{ nombre_estacion }}, {{ estado_estacion }} siendo las {{fecha}} horas del dia --- de --- de ---, 
    en el lugar que ocupa la Estación Migratoria del Instituto Nacional de Migración en 
    --,---, sito en -- de esta ciudad, el ---,--- de la Estación Migratoria de ---,--- adscrito
    a la Delegación Federal del Instituto Nacional de Migración en el Estado de ---, mismo que actúa
    ante la presencia de los testigos de asistencia que al fin firmal de conformidad:
</p>
<p class="centrado">
    <strong>HACE CONSTAR</strong>
</p>
<P>
    Que de las constancias que bran en el presente expediente se desprende en en fecha ---, se decretó
    la presentación del extranjero <strong>{{ nombre_extranjero }} {{ apellidop }} {{ apellidom }}</strong>, de nacionalidad <strong>{{ nacionalidad }}</strong>, 
    en virtud de que el mismo adecuó su conducta
    en la hipóesis prevista en el artículo 144, fracción I de la Ley de Migración, por haber ingresado a
    territorio nacional sin la documentación requeridad para ello, por lo que carece de documentación que 
    acredite su reguilar estancia en el país.
</P>
<p>
    Ahora bien, tomando en consideración que de acuerdo a lo dispuesto en el artículo 70 del Reglamento 
    Interior de la Secretariía de Gobernación son atribuciones de las Delegaciones Federales del Instituto
    Nacional de Migración el vigilar el cumplimiento de la legíslacion aplicable en materia migratoria por
    parte de los extranjeros que se internet, salgan o permanezcan en el país, así como sustanciar el
    procedimiento administrativo migratorio y dictar la resolución que no en derecho corresponda al caso
    concreto, esta Autoridad ha determinado que con fundamento en lo dispuesto en el artículo <strong>
    105, 106 y 108  de la Ley de Migración, último párrafo del artículo 225 del Reglamento de la 
    Ley de Migración, párrafo cuarto del artículo 23, fracción IV del artículo 26 y artículo 48 del
    Acuerdo por el que se emiten las Normas para el funcionamiento de las Estaciones Migratorias y 
    Estancias Provisionales del Instituto Nacional de Migración, publicado en el Diario Oficial de la 
    Federación el 08 de noviembre de 2012, </strong>el extranjero <strong>{{ nombre_extranjero }} {{ apellidop }} {{ apellidom }}</strong>, de nacionalidad 
    <strong>{{ nacionalidad }}</strong>, sea trasladado y puesto a disposición de la Dirección General de Control y verificación
    a si como a la Dirección de Resoluciones Migratorias para que conforme a sus facultades resuelvan el procedimiento
    administrativo migratorio del extranjero <strong>{{ nombre_extranjero }} {{ apellidop }} {{ apellidom }}</strong>, lo anterior por lo que se encuentran gestionando la
    consular de dicho extranjero, <strong>y en colaboracón con dicha Dirección en extranjero antes mencionado </strong>
    será trasladado a la  Estación Migratoria de la Delegación Federal del Instituto Nacional de Migración en el 
    Distrito Federal <strong>(---) </strong>para alojamiento y manutención hasta en tanto se resuelva  el 
    procedimiento administrativo migratorio, lo anterior por a si solicitarlo dicho consulado y la Direccion General 
    de Control y verificación a si como a la Dirección de Resoluciones Migratorias 
</p>
<p>
    Por lo anteriormente expuesto y fundado, esta Autoridad con fundamento en lo establecido en los artículos 
    1, 11, 14 y 16 de la Constitución Política de los Estados Unidos Mexicanos, 1, 2, 3 fracción XXVII, 7, 12, 16
    fracciones III y IV, 18fracción VIII, 20 fracciones II  y X, 66, 67, 70, 77, 105, 106 y 108 de la Ley de Migración; 
    1, 2, 55, 58, 222 y 225 último párrafo, del Reglamento de la Ley de Migración; 1, 3, 9, 12, 13, 16 fracciones I, III, 
    IV, V, VI, IX y X, 18, 19, 28, 29, 30, 32, 33, 35, 36, 38, 39, 44, 49, 50, 51, 52, 53 y 54 de la Ley Federal del 
    Procedimiento Administrativo1° y 2° inciso c) fracción III, 77, 78,92 y aplicables del Reglamento Interior de la 
    Secretaría de Gobernación; artículos 11 y 20  fracción IV, VI, VII  del ACUERDO por el que se delegan atribuciones 
    para autorizar trámites migratorios y ejercer diversas  atribuciones previstas en la Ley de Migración y su Reglamento 
    a los servidores públicos adscritos a la Delegaciones Federales del Instituto nacional de Migración, publicado en el 
    Diario Oficial de la Federación el 13 de noviembre de 2012, emite el siguiente:
</p>
<p class="centrado">
    <strong>ACUERDO</strong>
</p>
<p>
    <strong>PRIMERO.- </strong>Se determina que mediante oficio el extranjero de nombre <strong>---, </strong>
    de nacionalidad <strong>---, </strong>puesto a disposición de la Direccion General de Control y verificación
    a si como a la Dirección de Resoluciones Migratorias para que conforme a sus facultades resuelvan el procedimiento
    administrativo migratorio del extranjero <strong>---, </strong> lo anterior porque se encuentran gestionando la entrevista 
    consular de dicho extranjero. <br>
    <strong>SEGUNDO.- </strong>Trasládese al extranjero de la Estación Migratoria del ---, donde deberá continuar en 
    calidad de presentado proporcionándole alojamiento y manutención, lo anterior a petición de Dirección General de Control 
    y verificación a si como a la Dirección de Resoluciones Migratorias   hasta en tanto se resuelva su situación migratoria 
    en el país.
</p>
<P class="centrado">
    <strong>ENTREGAR VALORES AL EXTRANJERO</strong>
</P>
<p>
    <strong>TERCERO.- </strong>Remítanse los originales de todas las actuaciones que conforman este expediente, 
    la Direccion General de Control y verificación a si como a la Dirección de Resoluciones Migratorias, previa copia 
    debidamente autorizada del expediente que para efectos de archivo quede en esta Delegación Federal <br>
    <strong>CUARTO.- </strong>Notifíquese al extranjero la presente determinación para que surta todos los efectos legales
    a que haya lugar.
</p>
<p class="centrado">
    <strong>CÚMPLASE</strong>
</p>
<P>
    Así lo acuerda y firma, El Licenciado Carlos Lara Pulido, Subdirector de la Estación Migratoria de Villahermosa, 
    Tabasco, adscrito a la  Delegación Federal del Instituto Nacional de Migración en  Tabasco, en presencia de dos 
    testigos de asistencia, que firman al margen y al final para constancia del presente acto siendo las  dieciséis 
    horas con treinta minutos del día en que se actúa.
</P>
<P>
    <strong>CONSTANCIA: </strong>El personal que actúa hace constar que el extranjero <strong>---, </strong>
    de nacionalidad <strong>---, </strong>en la fecha que se actua y ante la presencia de los testigos de asistencia, 
    quienes al final firman y de conformidad 
</P>
<div class="columnas">
    <div class="columna">
        <p><strong>LA AUTORIDAD:</strong></p>
            <p class="firma">Firma del Director <br>
            ---</p>
        </div>
    <div class="columna">
        <p><strong>EL EXTRANJERO:</strong></p>
        <p class="firma">Firma del Testigo <br>
        ---</p>
    </div>
</div>
{% endblock %}
