* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


body { 
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #f7f4f4 50%);
    font-family: sans-serif;
}

.titulo {
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 40px;
    color: #0e0d0d;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: sans-serif;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}


.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    width: 450px;
    height: 400px;
}

.carousel .carousel-item img{
    display: flex;
    width: auto;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 20px;
    background: green
}





.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #0b231e;
    padding: auto;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: gold;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(241, 7, 7, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


logo

  

  nav ul {
    background: #0b231e;
    list-style: none;
    overflow: hidden;
    align-content: space-between;
  
  }
   
  header {
    display: flex;
    height: 180px;
    background-color: #0b231e;
    align-items: center;
    width: auto;
    padding: 40px;
    color: white;
    background: #0b231e;
    text-align: right;
    z-index: 99;
  }

  nav {
    color: #fff;
    background-color: #0b231e;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
  
  
    
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
  