{% load static %}


<style>
    .custom-header-color {
        background-color: #8B2941;
        color: white; /* Ajusta el color del texto según tu preferencia */
    }
    .custom-close-button {
        color: white;
    }
</style>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header custom-header-color">
            <h2 class="modal-title">Agregar Llamada</h2>
            <button class="close custom-close-button" type="button" data-bs-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% load crispy_forms_tags %}

        <form action="#" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {% csrf_token %}
                {{ form.noExtranjero|as_crispy_field}}
                {{ form.estacionMigratoria|as_crispy_field }}
                
                {{ form.deseaLlamar|as_crispy_field }}
                
                <div id="observaciones" style="display: none;">
                    {{ form.observaciones|as_crispy_field }}
                </div>
                
                <div id="motivo" style="display: none;">
                    {{ form.motivo|as_crispy_field }}
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-custom1" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-custom">Confirmar</button>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const deseallamarSelect = document.getElementById("id_deseaLlamar");
                    const observacionesDiv = document.getElementById("observaciones");
                    const motivoDiv = document.getElementById("motivo");
    
                    deseallamarSelect.addEventListener("change", function () {
                        const selectedOption = deseallamarSelect.options[deseallamarSelect.selectedIndex].value;
    
                        if (selectedOption === "si") {
                            observacionesDiv.style.display = "none";  // Oculta observaciones
                            motivoDiv.style.display = "block";  // Muestra motivo
                        } else if (selectedOption === "no") {
                            observacionesDiv.style.display = "block";  // Muestra observaciones
                            motivoDiv.style.display = "none";  // Oculta motivo
                        }
                    });
    
                    // Trigger an initial change event to set the initial state
                    deseallamarSelect.dispatchEvent(new Event('change'));
                });
            </script>
        </form>
        
        <!-- Script dentro del modal -->
  
    </div>
</div>
