{% extends 'seguridad/baseSeguridadGeneral.html' %}
{% load crispy_forms_tags %}

{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms/style.css' %}">
{% endblock link %}

{% block titulo %}Crear Comparecencia {% endblock titulo %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url 'lisExtranjerosComparecencia' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}


{% block contenido  %}

<style>
    #myTab .nav-link {
        pointer-events: none; /* Desactiva los eventos del ratón como el clic */
        color: #9E8364; /* Color antes de ser seleccionado */
        font-weight: normal;
    }
    
    #myTab .nav-link.active {
        pointer-events: auto; /* Activa los eventos del ratón para la pestaña activa */
        color: #000; /* Un color más fuerte cuando esté activo */
        font-weight: bold;
    }
    input[readonly] {
        background-color: #e9ecef;
        color: #495057;
        cursor: not-allowed;
      }


      .input-required {
        border: 2px solid #d9534f; /* Rojo con un borde más grueso para mayor visibilidad */
        border-radius: 4px; /* Opcional, para bordes redondeados */
      }
      
      /* Opcional: Agrega un asterisco rojo a las etiquetas de los campos requeridos */
      label.required::after {
        content: " *";
        color: red;
      }
      .input-required {
        border: 2px solid #d9534f; /* Ajusta el color y el grosor del borde según necesites */
      }
      
      .input-required + label::after {
        content: " *";
        color: red;
      }
      
</style>

<div class="container mt-3">
    <div class="titulo-general-container ">
        <h1 class="titulo-general">
            Crear Comparecencia para: 
            <span class="puesta-color" ><strong>{{ extranjero.nombreExtranjero }} {{ extranjero.apellidoPaternoExtranjero }}{% if extranjero.apellidoMaternoExtranjero %} {{ extranjero.apellidoMaternoExtranjero }}{% endif %}</strong></span>
        </h1>
    </div>
    <div id="comparecenciaFormContainer">
                <form method="post" id="comparecenciaForm">
                    {% csrf_token %}
                    <div class="card p-3">
                        <!-- Navegación por pestañas -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                        
                            <li class="nav-item">
                                <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">Información Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="familiar-tab" data-toggle="tab" href="#familiar" role="tab" aria-controls="familiar" aria-selected="false">Información Familiar</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="detalles-tab" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="false">Detalles de la Comparecencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="false">General</a>
                            </li>
                          <!-- Más pestañas si son necesarias -->
                        </ul>

                        <!-- Contenido de las pestañas -->
                        <div class="tab-content" id="myTabContent">
                              <!-- Sección Personal -->
                            <div class="tab-pane fade show active " id="personal" role="tabpanel" aria-labelledby="personal-tab">
                                <!-- Campos generales -->
                                <div class="row">
                                    <div class="col-md-6">{{ form.estadoCivil|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.escolaridad|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.ocupacion|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.nacionalidad|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.DomicilioPais|as_crispy_field }}</div>

                                    <div class="col-md-3">{{ form.lugarOrigen|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ form.domicilioEnMexico|as_crispy_field }}</div>

                                    <!-- Más campos generales -->
                                </div>
                            </div>

                            <!-- Sección Familiar -->
                            <div class="tab-pane fade" id="familiar" role="tabpanel" aria-labelledby="familiar-tab">
                                <!-- Campos familiares -->
                                <div class="row">
                                    <div class="col-md-6">{{ form.nombrePadre|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.nacionalidadPadre|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.nombreMadre|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.nacionalidadMadre|as_crispy_field }}</div>
                                    <!-- Más campos familiares -->
                                </div>
                            </div>

                            <!-- Sección Detalles -->
                            <div class="tab-pane fade" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
                                <!-- Campos de detalles -->
                                <div class="row">
                                    <div class="col-md-6">{{ form.fechaIngresoMexico|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.lugarIngresoMexico|as_crispy_field }}</div>
                                    <div class="col-md-6">{{ form.formaIngresoMexico|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ form.solicitaRefugio|as_crispy_field }}</div>
                                    <div class="col-md-3">{{ form.victimaDelito|as_crispy_field }}</div>

                                    <div class="col-md-12">{{ form.declaracion|as_crispy_field }}</div>
                                </div>
                            </div>

                            <!-- Sección General -->
                        <!-- Sección General -->
                            <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
                                <!-- Campos generales -->
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.autoridadActuante|as_crispy_field }}
                                        {{ form.representanteLegal|as_crispy_field }}
                                        <input type="checkbox" id="necesitaTraductor" name="necesitaTraductor">
                                        <label for="necesitaTraductor">¿Necesita Traductor?</label>
                                        <!-- Campo de traductor, inicialmente oculto -->
                                        <div id="campoTraductor" style="display:none;">
                                            {{ form.traductor|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.testigo1|as_crispy_field }}
                                        {{ form.grado_academico_testigo1|as_crispy_field }}
                                        {{ form.testigo2|as_crispy_field }}
                                        {{ form.grado_academico_testigo2|as_crispy_field }}
                                        <input type="hidden" name="nup" value="{{ nup_id }}">
                                    </div>
                                </div>
                            </div>
                            <!-- Más secciones de contenido según sea necesario -->
                        </div>

                        <div id="finalOptions" style="display:none; text-align:center;">
                            <button type="button" class="btn btn-info" id="previewButton">Previsualizar</button>
                            <button type="button" class="btn btn-success" id="createAgreementButton">Crear acuerdo de comparecencia</button>
                        </div>
                        <!-- Botones de navegación -->
                        <div class="navigation-buttons">
                            <button type="button" class="btn btn-custom5" onclick="navigateTabs('prev')">Anterior</button>
                            <button type="button" class="btn btn-custom6" onclick="navigateTabs('next')">Siguiente</button>
                            <button type="button" class="btn btn-info" id="previewPdfButton">Previsualizar PDF</button>
                            <button type="submit" class="btn btn-custom2" id="submitForm" style="display:none;">Crear Comparecencia</button>
                        </div>
                    </div>
                </form>
    </div>

    <div id="qrContainer" style="display:none;">
        <div id="qrTestigoUno">
            <img id="qrImageTestigoUno" src="" alt="Código QR Testigo Uno">
            <div id="mensajeFirmaTestigoUno"></div>
        </div>
        <div id="qrTestigoDos" style="display:none;">
            <img id="qrImageTestigoDos" src="" alt="Código QR Testigo Dos">
            <div id="mensajeFirmaTestigoDos"></div>
        </div>
        <!-- Contenedores adicionales para otros participantes -->
    </div>

    <div id="pdfPreviewContainer" style="display:none;">
        <iframe id="pdfPreview" style="width:100%; height:600px;"></iframe>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function() {
            var $tabs = $('#myTab .nav-link');
            
            function updateNavigationButtons() {
                var $activeTab = $tabs.filter('.active');
                var activeIndex = $tabs.index($activeTab);
                var isFirstTab = activeIndex === 0;
                var isLastTab = activeIndex === $tabs.length - 1;
            
                // Muestra u oculta el botón "Anterior"
                $('.btn-custom5').toggle(!isFirstTab);
            
                // Muestra u oculta el botón "Siguiente" y "Crear Comparecencia"
                $('.btn-custom6').toggle(!isLastTab);
                $('#submitForm').toggle(isLastTab);
            
                // Aquí se maneja la visibilidad del botón "Previsualizar PDF"
                $('#previewPdfButton').toggle(isLastTab);
            }
    
            // Inicializa los botones al cargar la página
            updateNavigationButtons();
    
            $("#comparecenciaForm :input[required]").on('input change', function() {
                if ($(this).val()) {
                  $(this).removeClass('input-required');
                }
              });
        $('.btn-custom6').click(function() {
            var allFieldsCompleted = true;
            var $activeTab = $('#myTabContent .tab-pane.active');
            var incompleteFields = [];
        
            // Verifica si todos los campos requeridos en la pestaña actual están completos
            $activeTab.find(":input[required]").each(function() {
              if (!$(this).val()) {
                allFieldsCompleted = false;
                incompleteFields.push($(this).prev("label").text()); // O puedes usar $(this).prev("label").text() para obtener el texto del label asociado
                $(this).addClass('input-required'); // Añade la clase para el borde rojo
              } else {
                $(this).removeClass('input-required'); // Remueve la clase si el campo está completo
              }
            });
        
            // Si no todos los campos están completos, muestra una alerta
            if (!allFieldsCompleted) {
              Swal.fire({
                title: 'Campos requeridos incompletos',
                html: 'Complete todos los campos requeridos antes de continuar. Los siguientes campos están incompletos: <strong>' + incompleteFields.join(", ") + '</strong>',
                icon: 'warning',
                confirmButtonText: 'Entendido'
              });
            } else {
              // Si todos los campos están completos, permite cambiar a la siguiente pestaña
              var $activeTab = $tabs.filter('.active');
              var nextIndex = $tabs.index($activeTab) + 1;
              if (nextIndex < $tabs.length) {
                $tabs.eq(nextIndex).tab('show');
              }
            }
          });
            // Evento al hacer clic en "Anterior"
            $('.btn-custom5').click(function() {
                var $activeTab = $tabs.filter('.active');
                var prevIndex = $tabs.index($activeTab) - 1;
                if (prevIndex >= 0) {
                    $tabs.eq(prevIndex).tab('show');
                }
            });
    
            // Actualiza los botones cuando se cambia de pestaña
            $tabs.on('shown.bs.tab', function(e) {
                updateNavigationButtons();
            });
        });


        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('comparecenciaForm').addEventListener('submit', function(e) {
                e.preventDefault(); // Previene el envío normal del formulario
                var formData = new FormData(this); // Recoge los datos del formulario
                
                fetch('', { // Enviar a la misma URL que maneja el GET y POST
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}', // Necesario para la protección contra CSRF
                    },
                    credentials: 'same-origin' // Necesario para incluir las cookies de CSRF
                }).then(response => response.json())
                  .then(data => {
                    if(data.success) {
                 
                        $('#comparecenciaFormContainer').hide();
                        $('#qrContainer').show();

                    }
                }).catch(error => {
                    // Aquí manejas cualquier error en la solicitud de red
                    Swal.fire({
                        title: 'Error',
                        text: 'Ha ocurrido un error al enviar el formulario.',
                        icon: 'error',
                        confirmButtonText: 'Aceptar'
                    });
                 });
            });
        });

        document.getElementById('previewPdfButton').addEventListener('click', function() {
            var formData = new FormData(document.getElementById('comparecenciaForm'));
            
            // Enviar solicitud para generar vista previa del PDF
            fetch('/acuerdos/ver-comparecencia/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                credentials: 'same-origin'
            }).then(response => response.blob())
              .then(blob => {
                  // Mostrar el PDF en el iframe
                  var pdfUrl = URL.createObjectURL(blob);
                  document.getElementById('pdfPreview').src = pdfUrl;
                  document.getElementById('pdfPreviewContainer').style.display = 'block';
              })
              .catch(error => {
                  // Manejo de errores
                  console.error('Error al generar la vista previa del PDF:', error);
              });
        });
        document.addEventListener('DOMContentLoaded', function() {
            var checkbox = document.getElementById('necesitaTraductor');
            var campoTraductor = document.getElementById('campoTraductor');
    
            function actualizarCampoTraductor() {
                if (checkbox.checked) {
                    campoTraductor.style.display = 'block';
                } else {
                    campoTraductor.style.display = 'none';
                }
            }
    
            checkbox.addEventListener('change', actualizarCampoTraductor);
            actualizarCampoTraductor(); // Llamarlo inicialmente para establecer el estado correcto
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      $(document).ready(function() {
        $('#fechaIngresoMexico').on('input', function() {
          // Eliminar cualquier carácter que no sea número y añadir slashes automáticamente
          var value = $(this).val();
          var newValue = value.replace(/[^0-9]/g, '')
                              .replace(/(\d{2})(\d{2})?(\d{4})?/, function(match, p1, p2, p3) {
                                var dateStr = p1;
                                if(p2) {
                                  dateStr += '/' + p2;
                                }
                                if(p3) {
                                  dateStr += '/' + p3;
                                }
                                return dateStr;
                              })
                              .substring(0, 10); // Limita la longitud a 10 caracteres: DD/MM/YYYY
    
          // Si el valor nuevo es diferente al valor actual, actualiza el campo de fecha
          if (newValue !== value) {
            $(this).val(newValue);
          }
        });
    
        $('#fechaIngresoMexico').on('change', function() {
          // Verificar si la fecha está completa
          var value = $(this).val();
          if (value.length === 10) {
            var parts = value.split('/');
            var day = parseInt(parts[0], 10);
            var month = parseInt(parts[1], 10);
            var year = parseInt(parts[2], 10);
            var currentYear = new Date().getFullYear();
    
            if (day <= 0 || day > 31 || month <= 0 || month > 12 || year > currentYear) {
              Swal.fire({
                title: 'Fecha inválida',
                text: 'Por favor ingrese una fecha válida. Día debe ser menor o igual a 31, Mes menor o igual a 12 y Año no puede ser en el futuro.',
                icon: 'error',
                confirmButtonText: 'OK'
              });
    
              // Limpiar el campo de entrada
              $(this).val('');
            }
          }
        });
      });
    </script>
    
    
</div>

{% endblock contenido%}
